              tr
                td(style="text-align:left;padding:18px 0px 0px 0px;color:#565656;font-size:11px;")
                  |El sistema de correo electrónico de PagoEfectivo Móvil esta destinado para fines del negocio, cualquier otro uso contraviene las políticas.
                  br
                  |Toda información del negocio contenida en este mensaje es confidencial y de uso exclusivo de PagoEfectivo. Su divulgación, copia y/o adulteración estan prohibidas y solo debe ser conocida por la persona a quien se dirige este mensaje.
                  br
                  |Si usted ha recibido este mensaje por error por favor proceda a eliminarlo y notificar al remitente.
                  br
              tr
                td(style="text-align:left;padding:18px 0px 0px 0px;color:#565656;font-size:11px;")
                  |Si tiene alguna consulta o duda llamenos al 123-4567 o escríbanos a  
                  a(href="mailto:pagoefectivo@consulta.com.pe",
                    style="color:#ff1919;text-decoration:underline;") pagoefectivo@consulta.com.pe