doctype html
html(lang="#{page.lang}", xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#")
  head
    meta(charset='#{page.charset}')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='language', content='#{page.lang}')
    title #{page.title}
  body
    table(border="0", cellpadding="0", cellspacing="0", width="100%", style="font-family:Arial,Tahoma;font-weight:normal;color:black;")
      tr
        td(align="center")
          div(align="center")
            table(border="0", 
              border-spacing="0",
              bordercolor="#1c1c1c",
              cellpadding="0", 
              cellspacing="0", 
              class="wrapper",
              width="600", 
              style="padding:28px 0px 0px 0px;margin:0;")