script(type="text/javascript").
	var yOSON = {
		"module": "nombre_del_modulo",
		"controller": "nombre_del_controller",
		"action": "nombre_del_action",
		"baseHost": "#{page.url}",
		"statHost": "#{page.static_url}",
		"eHost": "#{page.elements_url}",
		"statVers": "#{page.version}",
		"AppCore": {},
		"AppSandbox": {},
		"AppSchema": {
		"modules": {},
			"requires": {}
		},
		"tmp" : {

		}
	}

//script(type="text/javascript")
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-28965570-1']);
	_gaq.push(['_setDomainName', '.pagoefectivo.pe']);
	_gaq.push(['_trackPageview']);
	_gaq.push(['_trackPageLoadTime']);

	(function () {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();



