include ../../../_config/page.jade
//- include ../../../_mixins/mixins.jade
doctype html
doctype transitional
html(lang="#{page.lang}", xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#")
  head
    meta(charset='#{page.charset}')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='language', content='#{page.lang}')
    title #{page.title}
  body
    table.body-wrap(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; width: 100%; background: #FFFFFF; margin: 0; padding: 0;")
      tr(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; margin: 0; padding: 0;")
        td(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; vertical-align: top; margin: 0; padding: 0;", valign='top')
        td.container(width='600', style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; vertical-align: top; margin: 10px auto 0px; padding: 0;", valign='top')
          .content(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; max-width: 600px; display: block; margin: 0px auto 0; padding: 0px; ")
            table.main(width='100%', cellpadding='0', cellspacing='0', style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; background: #fff; margin: 0; padding: 0; border-left:1px solid #FEC92B; border-right:1px solid #FEC92B;")
              tr(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; margin: 0; padding: 0;")
                td.content-wrap(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; vertical-align: top; margin: 0; padding:0px;", valign='top')
                  table(width='100%', cellpadding='5', cellspacing='0', style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; margin: 0; padding: 0;background-color:#FEC92B;", bgcolor='#FEC92B')
                    tr
                      td(align='left', style='padding:10px 20px 10px;')
                        img(src='http://cdn.mailing.clasificados.pe/Pagoefectivo/tarjeta/logo-pagoefectivo-email2.jpg', alt='', border='0', width='90')
                      td(align='right', style='font-size:20px;font-weight:bold;padding-right:20px;') Activa tu cuenta
              tr(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; margin: 0; padding: 0;")
                td.content-wrap(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; vertical-align: top; margin: 0; padding: 20px;", valign='top')
                  table(width='100%', cellpadding='0', cellspacing='0', style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; margin: 0; padding: 0;")
                    tr(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; margin: 0; padding: 0;")
                      td.content-block(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; vertical-align: top; margin: 0; padding: 30px 0 10px 0;", valign='top')
                        | ¡Hola 
                        strong @NOMBRE_AFILIADO
                        | !

                    tr(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; margin: 0; padding: 0;")
                      td.content-block(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 15px; vertical-align: top; margin: 0; padding: 0 0 10px;", valign='top')
                        strong 
                          | Solo nos queda un paso más, por favor confirma tu email para activar tu cuenta.
                    tr(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 15px; margin: 0; padding: 0;")
                      td.content-block(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 15px; vertical-align: top; margin: 0; padding: 0 0 10px;", valign='top')
                        | Para validar tu cuenta debes copiar este código y pegarlo en el formulario de registro:
                    tr(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 15px; margin: 0; padding: 0;")
                      td.content-block(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 15px; vertical-align: top; margin: 0; background-color:#FAF4E4; text-align:center; padding:10px;", align='center', bgcolor='#FAF4E4', valign='top')
                        p(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 25px; vertical-align: top; margin:5px 0 10px; padding:0px;")
                          strong @CODIGO_EMAIL_CONFIRMACION
                        a.btn-primary(href='@RUTA_CONFIRMACIONMAIL', style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 15px; color: #12120A; text-decoration: none; line-height: 2; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 5px; background: #FFD32C; margin: 0; padding: 0; border-color: #FFD32C; border-style: solid; border-width: 5px 20px;") Activa tu cuenta
                    tr(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 15px; margin: 0; padding: 0;")
                      td.content-block(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 15px; vertical-align: top; margin: 0; padding: 0px;", valign='top')
                    tr(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 15px; margin: 0; padding: 0;")
                      td.content-block(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 15px; vertical-align: top; margin: 0; padding: 20px 0 20px;", valign='top')
                        | En caso de no poder acceder a la página de registro, ingresa a:
                        br
                        a(href='@RUTA_CONFIRMACIONMAIL', style='color:#59A8B9;font-size:11px;')
                          | @RUTA_CONFIRMACIONMAIL

                    tr(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 15px; margin: 0; padding: 0;")
                      td.content-block(style="border-top: 1px solid #d3d3d3; font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; vertical-align: top; margin: 0; padding: 0px;", valign='top')
                    tr(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; margin: 0; padding: 0;")
                      td.content-block(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 12px; vertical-align: top; margin: 0; padding: 10px 0 0;", valign='top')
                        table(width='100%', cellpadding='4', cellspacing='0')
                          tr
                            td(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 12px; vertical-align: top; margin: 0; padding: 10px 0 0px ; line-height: 16px")
                              | Cualquier consulta no dudes en llamar a nuestra 
                              strong Central de Ayuda (01) 311-6717 opción 2
                              | , en donde atenderemos todas tus preguntas. También puedes revisar nuestra sección de 
                              a(href='http://centraldeayuda.pagoefectivo.pe/home', style='color:#59A8B9;') preguntas frecuentes
                              | .
                            td(style='width:200px;')
                              img(src='http://cdn.mailing.clasificados.pe/Pagoefectivo/tarjeta/atencion-cliente-icon.jpg')

              tr(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; margin: 0; padding: 0;")
                td.content-wrap(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; margin: 0; padding:0px;", valign='top')
                  img(src='http://cdn.mailing.clasificados.pe/Pagoefectivo/tarjeta/pagoefectivo-email-footer-600.jpg', alt='', border='0', width='600')
        td(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; vertical-align: top; margin: 0; padding: 0;", valign='top')
      tr(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; margin: 0; padding: 0;")
        td(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; vertical-align: top; margin: 0; padding: 0;", valign='top')
        td.container(width='600', style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 10px; vertical-align: top; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto; padding: 10px 0;", valign='top')
          .content(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 10px; max-width: 600px; display: block; margin: 0px auto 0; padding: 0px;")
            | En cumplimiento de lo dispuesto por la Ley N°29733, Ley de Protección de Datos Personales y su Reglamento, le informamos que sus datos personales quedarán Incorporados y serán tratados en las bases de datos del Grupo El Comercio (GEC), para la presente promoción. Grupo El Comercio manifiesta cumplir con la normativa vigente en materia de protección de datos personales, y en particular con las medidas de protección correspondientes. Esta información se envía de acuerdo a la legislación sobre Correo Electrónico Comercial No Solicitado-SPAM. Referencia: Ley 28493 y su Reglamento, aprobado por DS. 031-2005-MTC.
            br
            | Si usted ha recibido este mensaje por error por favor proceda a eliminarlo y notificar al remitente.
            br
            | Si tiene alguna consulta o duda llamenos al 3116717 opción 2 o escríbanos a 
            a(href='mailto:contacto@pagoefectivo.pe', style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 9px; color: #59A8B9; text-decoration: underline; margin: 0; padding: 0;") contacto@pagoefectivo.pe
        td(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; vertical-align: top; margin: 0; padding: 0;", valign='top')
