include ../../../_config/page.jade
include ../../../_mixins/mixins.jade
doctype html
html(lang="#{page.lang}", xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#")
	head
		meta(charset='#{page.charset}')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='language', content='#{page.lang}')
		title #{page.title}
	body
		table(border="0", 
			cellpadding="0", 
			cellspacing="0", 
			width="100%", 
			style="font-family:Arial,Tahoma;font-weight:normal;color:black;")
			tr
				td(align="center")
					div(align="center")
						table(border="0", 
							border-spacing="0",
							bordercolor="#1c1c1c",
							cellpadding="0", 
							cellspacing="0", 
							class="wrapper",
							width="600", 
							style="padding:28px 0px 0px 0px;margin:0;")
							tr
								td(style="border-left:1px solid #f5be00;border-right:1px solid #f5be00;padding:0px 0px 10px 0px;", 
									width="600")
									table(border="0", 
										cellpadding="0", 
										cellspacing="0",
										bgcolor="#f0c83f",
										width="600",
										height="123",
										style="display:block;border-collapse:collapse;border-spacing:0;")
										tr(height="112")
											td(width="auto",
												height="112",
												style="padding:12px 0px 0px 17px;height:112px;")
												img(src="#{page.absolute_url}logo-top.gif#{page.version}",
													alt="PagoEfectivo Móvil",
													height="112",
													width="141",
													style="display:block;")
											td(rowspan="2",
												valign="bottom",
												align="left",
												style="padding:0px;margin:0px;")
											td(align="right",
												width="459",
												height="112",
												style="padding:0px 20px 0px 0px;margin:0px;font-size:22px;height:112px;font-weight:bold;font-family:Arial") Bienvenido Ricardo

									div(align="center")
										table(border="0", 
											cellpadding="0", 
											cellspacing="0",
											width="100%")
											tr 
												td(valign="bottom") 
													img(src="#{page.absolute_url}stefany.jpg#{page.version}",
														style="display:block")

										table(width="100%",
											bgcolor="#f0c83f",
											style="text-align:center;font-family:Arial")
											tr
												td(style="padding:16px 0px 16px 0px;font-size:18px;font-weight:normal;margin:0px;font-family:Arial") 
													| Disfruta de todos los beneficios de tu 
													strong Tarjeta PagoEfectivo VISA

										table(width="100%",
											style="text-align:left;font-family:Arial")
											tr
												td(style="padding:10px 0px 10px 0px;font-size:16px;font-weight:normal;margin:0px;font-family:Arial") 
													div(align="center")

														table(width="100%",
															style="text-align:left;padding:20px 0px 0px;font-family:Arial")
															tr
																td(width="140")
																	img(src="#{page.absolute_url}directamente.gif#{page.version}",
																		style="display:block;float:left")
																td(width="158")
																	p 
																		| Compra por internet con total seguridad en moneda nacional y extranjera 
																td(width="140")
																	img(src="#{page.absolute_url}compra.gif#{page.version}",
																		style="display:block;float:left")
																td(width="158")
																	p 
																		| Compra directamente en cualquier negocio afiliado a VISA 
															tr
																td(width="140")
																	img(src="#{page.absolute_url}rearga.gif#{page.version}",
																		style="display:block;float:left")
																td(width="158")
																	p
																		| Recarga en los más de 35,000 puntos de recarga afiliados a PagoEfectivo. 
																td(width="140")
																	img(src="#{page.absolute_url}solicita.gif#{page.version}",
																		style="display:block;float:left")
																td(width="158")
																	p
																		| Solicita una tarjeta de afiliado para tus familiares y amigos 
															tr
																td(width="140")
																	img(src="#{page.absolute_url}consulta.gif#{page.version}",
																		style="display:block;float:left")
																td(width="158")
																	p
																		| Consulta saldos y movimientos via web y cajeros. 
																td(width="140")
																	img(src="#{page.absolute_url}recargas.gif#{page.version}",
																		style="display:block;float:left")
																td(width="158")
																	p
																		| Realiza recargas a otras Tarjetas PagoEfectivo. 
				
									tr
										td(height="84", 
											style="padding:0px;")
											table(border="0", 
												cellpadding="0", 
												cellspacing="0",
												height="75",
												width="100%",
												bgcolor="#ededed",
												style="border-left:1px solid #f5be00;border-right:1px solid #f5be00;")
												tr
													td 
														div(align="center")
															table(border="0", 
																cellpadding="0", 
																cellspacing="0",
																width="95%",
																bgcolor="#ededed")
																tr 
																	td(align="center",style="font-size:14px;padding: 0px; text-align:left; font-family:Arial; height:90px" ) 
																		|Cualquier consulta no dudes en llamar a nuestra 
																		strong Central de Ayuda (123-4567)
																		|, en donde atenderemos todas tus preguntas. También puedes revisar nuestra sección de 
																		a(href="#", style="color:#000000;font-weight:bold") preguntas frecuentes
																		|  en 
																		strong nuestro sitio.
							tr
								td(height="84", 
									style="padding:0px;font-family:Arial")
									table(border="0", 
										cellpadding="0", 
										cellspacing="0",
										width="100%",
										height="84",
										bgcolor="#f5be00")
										tr
											td(height="84", 
												style="padding:0px 0px 0px 36px;text-align:left;font-size:16px;font-family:Arial")
												span Cordialmente,
												br
												span(style="font-style:italic;font-weight:bold;") El Equipo de PagoEfectivo
											td(align="right" 
												style="padding:0px 22px 0px 0px;", 
												height="84")
												img(src="#{page.absolute_url}logo_pagoefectivo_email2.png#{page.version}")
							tr
								td(style="text-align:left;padding:18px 0px 0px 0px;color:#565656;font-size:11px;font-family:Arial")
									|El sistema de correo electrónico de PagoEfectivo Móvil esta destinado para fines del negocio, cualquier otro uso contraviene las políticas.
									br
									|Toda información del negocio contenida en este mensaje es confidencial y de uso exclusivo de PagoEfectivo. Su divulgación, copia y/o adulteración estan prohibidas y solo debe ser conocida por la persona a quien se dirige este mensaje.
									br
									|Si usted ha recibido este mensaje por error por favor proceda a eliminarlo y notificar al remitente.
							tr
								td(style="text-align:left;padding:18px 0px 0px 0px;color:#565656;font-size:11px;font-family:Arial")
									br
									|Si tiene alguna consulta o duda llamenos al 123-4567 o escríbanos a  
									a(href="mailto:pagoefectivo@consulta.com.pe",
										style="color:#ff1919;text-decoration:underline;") pagoefectivo@consulta.com.pe 