include ../../../_config/page.jade
//- include ../../../_mixins/mixins.jade
doctype html
doctype transitional
body(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; line-height: 1.2; background: #FFFFFF; margin: 0; padding: 0;")
  table.body-wrap(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; width: 100%; background: #FFFFFF; margin: 0; padding: 0;")
    tr(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; margin: 0; padding: 0;")
      td(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; vertical-align: top; margin: 0; padding: 0;", valign='top')
      td.container(width='600', style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; vertical-align: top; margin: 10px auto 0px; padding: 0;", valign='top')
        .content(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; max-width: 600px; display: block; margin: 0px auto 0; padding: 0px;")
          table.main(width='100%', cellpadding='0', cellspacing='0', style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; background: #fff; margin: 0; padding: 0; border-left:1px solid #FEC92B; border-right:1px solid #FEC92B;")
            tr(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; margin: 0; padding: 0;")
              td.content-wrap(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; vertical-align: top; margin: 0; padding:0px;", valign='top')
                table(width='100%', cellpadding='5', cellspacing='0', bgcolor='#FEC92B')
                  tr
                    td(align='left', style='padding:10px 20px 10px;')
                      img(src='http://cdn.mailing.clasificados.pe/Pagoefectivo/tarjeta/logo-pagoefectivo-email2.jpg', alt='', border='0', width='90')
                    td(align='right', valign='bottom' style='font-size:25px;font-weight:bold;padding-right:20px;padding-bottom:28px') ¡Hola @NOMBRE_AFILIADO!

            tr(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; margin: 0; padding: 0;")
              td.content-wrap(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; vertical-align: top; margin: 0; padding:0px;", valign='top')
                img(src='http://cdn.mailing.clasificados.pe/Pagoefectivo/tarjeta/imagen-centro-pagoefectivo.jpg', alt='', border='0', width='600')
            tr(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; margin: 0; padding: 0;")
              td.content-wrap(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; vertical-align: top; margin: 0; padding: 20px;", valign='top')
                table(width='100%', cellpadding='0', cellspacing='0', style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; margin: 0; padding: 0;")
                  tr(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 15px; margin: 0; padding: 0;")
                    td.content-block(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 15px; vertical-align: top; margin: 0; padding: 0 0 10px;", valign='top')
                      | Te presentamos la primera tarjeta recargable con chip del Perú, con el respaldo de Visa y Grupo El Comercio.
                  tr(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 15px; margin: 0; padding: 0;")
                    td.content-block(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 15px; vertical-align: top; margin: 0; padding: 0 0 10px;", valign='top')
                      | Disfruta de esta nueva experiencia en compras por Internet y en todos los establecimientos afiliados a Visa en el Perú y el mundo.
            tr(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; margin: 0; padding: 0;")
              td.content-wrap(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; vertical-align: top; margin: 0; padding:0px;", valign='top')
                table(width='100%', cellpadding='5', cellspacing='0', style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; margin: 0; padding: 0;background-color:#FEC92B;", bgcolor='#FEC92B')
                  tr
                    td(align='center', style='font-size:20px;font-weight:normal;padding:20px;')
                      | ¿Cómo funciona mi Tarjeta 
                      strong PagoEfectivo Visa
                      | ?
            tr(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; margin: 0; padding: 10px 0 0;")
              td.content-wrap(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; vertical-align: top; margin: 0; padding:0px;text-align:center;", valign='top', align='center')
                table(width='90%', cellpadding='6', cellspacing='6', align='center')
                  tr
                    td
                      img(src='http://cdn.mailing.clasificados.pe/Pagoefectivo/tarjeta/icono-recargala.jpg', alt='', border='0', width='127')
                    td
                      img(src='http://cdn.mailing.clasificados.pe/Pagoefectivo/tarjeta/icono-compras.jpg', alt='', border='0', width='127')
                    td
                      img(src='http://cdn.mailing.clasificados.pe/Pagoefectivo/tarjeta/icono-saldos.jpg', alt='', border='0', width='127')
                  tr
                    td(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 12px; vertical-align: top; margin: 0; padding: 0px; line-height: 15px")
                      strong Recargala
                      |  a través de tu Banca por Internet o en más de 40,000 centros de pago.
                    td(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 12px; vertical-align: top; margin: 0; padding: 0px; line-height: 15px")
                      strong Realiza compras
                      |  por Internet o en cualquier establecimiento que acepte 
                      strong Visa
                      | .
                    td(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 12px; vertical-align: top; margin: 0; padding: 0px; line-height: 15px")
                      strong Consulta tus saldos
                      |  y movimientos a través de nuestra web o tu móvil.

            tr(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; margin: 0; padding: 0;")
              td.content-wrap(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; vertical-align: top; margin: 0; padding:20px 10px 0px", valign='top')
                table(width='100%', cellpadding='0', cellspacing='0', align='center')
                  tr
                    td(colspan='4', style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; font-weight:bold; font-style:italic; vertical-align: top; margin: 0; padding: 0px;") Conoce más de la tarjeta PagoEfectivo Visa y sus beneficios en:
                
                table(width='160px', cellpadding='0', cellspacing='0', align='left')
                  tr(style="padding: 10px 0 0 0; display: block")
                    td(width='55px')
                      a(href='https://www.facebook.com/PagoEfectivoPeru')
                        img(src='http://cdn.mailing.clasificados.pe/Pagoefectivo/tarjeta/ico-facebook.jpg', alt='', border='0', width='53')
                    td(width='55px')
                      a(href='https://twitter.com/pagoefectivope')
                        img(src='http://cdn.mailing.clasificados.pe/Pagoefectivo/tarjeta/ico-twitter.jpg', alt='', border='0', width='53')
                    td(width='55px')
                      a(href='https://www.youtube.com/channel/UCD6UTY8D2N93g7m-Ah--YQA')
                        img(src='http://cdn.mailing.clasificados.pe/Pagoefectivo/tarjeta/ico-youtube.jpg', alt='', border='0', width='53')

            tr(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; margin: 0; padding: 0;")
              td.content-wrap(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; vertical-align: top; margin: 0; padding: 10px;", valign='top')
                table(width='100%', cellpadding='0', cellspacing='0', style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; margin: 0; padding: 0;")
                  tr(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; margin: 0; padding: 0;")
                    td.content-block(style="border-top: 1px solid #d3d3d3; font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; vertical-align: top; margin: 0; padding: 0px;", valign='top')
                  tr(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; margin: 0; padding: 0;")
                    td.content-block(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 12px; vertical-align: top; margin: 0; padding: 10px 0 0;", valign='top')
                      table(width='100%', cellpadding='4', cellspacing='0')
                        tr
                          td(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 12px; vertical-align: top; margin: 0; padding: 10px 0px 0px ; line-height: 16px")
                            | Cualquier consulta no dudes en llamar a nuestra 
                            strong Central de Ayuda (01) 311-6717 opción 2
                            | , en donde atenderemos todas tus preguntas. También puedes revisar nuestra sección de 
                            a(href='http://centraldeayuda.pagoefectivo.pe/home', style='color:#59A8B9;') preguntas frecuentes
                            | .
                          td(style='width:200px;')
                            img(src='http://cdn.mailing.clasificados.pe/Pagoefectivo/tarjeta/atencion-cliente-icon.jpg')

            tr(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; margin: 0; padding: 0;")
              td.content-wrap(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; margin: 0; padding:0px;", valign='top')
                img(src='http://cdn.mailing.clasificados.pe/Pagoefectivo/tarjeta/pagoefectivo-email-footer-600.jpg', alt='', border='0', width='600')
      td(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; vertical-align: top; margin: 0; padding: 0;", valign='top')
    tr(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; margin: 0; padding: 0;")
      td(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; vertical-align: top; margin: 0; padding: 0;", valign='top')
      td.container(width='600', style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 10px; vertical-align: top; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto; padding: 10px 0;", valign='top')
        .content(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 10px; max-width: 600px; display: block; margin: 0px auto 0; padding: 0px;")
          | En cumplimiento de lo dispuesto por la Ley N°29733, Ley de Protección de Datos Personales y su Reglamento, le informamos que sus datos personales quedarán Incorporados y serán tratados en las bases de datos del Grupo El Comercio (GEC), para la presente promoción. Grupo El Comercio manifiesta cumplir con la normativa vigente en materia de protección de datos personales, y en particular con las medidas de protección correspondientes. Esta información se envía de acuerdo a la legislación sobre Correo Electrónico Comercial No Solicitado-SPAM. Referencia: Ley 28493 y su Reglamento, aprobado por DS. 031-2005-MTC.
          br
          | Si usted ha recibido este mensaje por error por favor proceda a eliminarlo y notificar al remitente.
          br
          | Si tiene alguna consulta o duda llamenos al 3116717 opción 2 o escríbanos a 
          a(href='mailto:contacto@pagoefectivo.pe', style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 9px; color: #59A8B9; text-decoration: underline; margin: 0; padding: 0;") contacto@pagoefectivo.pe
      td(style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; vertical-align: top; margin: 0; padding: 0;", valign='top')
