include ../../../_config/page.jade
include ../../../_mixins/mixins.jade
doctype html
html(lang="#{page.lang}", xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#")
	head
		meta(charset='#{page.charset}')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='language', content='#{page.lang}')
		title #{page.title}
	body
		table(border="0", 
			cellpadding="0", 
			cellspacing="0", 
			width="100%", 
			style="font-family:Arial,Tahoma;font-weight:normal;color:black;")
			tr
				td(align="center")
					div(align="center")
						table(border="0", 
							border-spacing="0",
							bordercolor="#1c1c1c",
							cellpadding="0", 
							cellspacing="0", 
							class="wrapper",
							width="600", 
							style="padding:28px 0px 0px 0px;margin:0;")
							tr
								td(style="border-top:1px solid #f5be00;border-right:1px solid #f5be00;border-left:1px solid #f5be00;padding:0px 0px 30px 0px;", 
									width="600")
									table(border="0", 
										cellpadding="0", 
										cellspacing="0",
										bgcolor="#c3c3c3",
										width="600",
										height="175",
										style="display:block;border-collapse:collapse;border-spacing:0;")
										tr(height="18",
											style="padding:0px;height:18px;")
											td(width="25",
												style="padding:0px;height:18px;",
												colspan="3")
										tr(height="113")
											td(width="25",
												height="113",
												style="padding:0px;height:113px;")
											td(rowspan="2",
												width="146",
												height="157",
												style="padding:0px;margin:0px;height:157px;")
												img(src="#{page.absolute_url}logo_pagoefectivo.jpg#{page.version}",
													alt="PagoEfectivo Móvil",
													height="157",
													width="146",
													style="display:block;")
											td(align="right",
												width="459",
												height="113",
												style="padding:0px 20px 0px 0px;margin:0px;font-size:22px;height:113px;font-weight:bold;font-family:Arial") Confirma tu afiliación
										tr(bgcolor="white",
												height="44")
											td(height="44",
												width="25",
												style="padding:0px;height:44px;")
											td(height="44",
												width="479",
												style="padding:0px;height:44px;")
									div(align="center")
										table(width="550",
											style="text-align:left;")
											tr
												td(style="font-weight:normal;font-size:22px;margin:0;padding:10px 0px 5px 0px;font-family:Arial") Hola Juan,
											tr
												td(style="font-size:14px;font-family:Arial") Ya esta todo listo para que puedas usar tu cuenta 
													strong PagoEfectivo. 
													| Ahora valida tu cuenta de correo electrónico para poder acceder a todas las funcionalidades de 
													strong PagoEfectivo. 
													
											tr
												td(style="font-size:14px;padding:10px 0px 10px 0px;font-family:Arial") 
													|Para validar tu cuenta debes copiar este código y pegarlo en el formulario de registro:
											tr
												td(style="background:#f0c83e;border-radius:8px;padding:20px 0px;font-family:Arial" align="center")
													div(style="font-size:20px;color:black;text-decoration:none;") 445566
											tr
												td(style="padding:20px 0px 0px 0px;display:block;font-family:Arial")
													div(align="center")

														table(width="500",
															style="text-align:center;padding:20px 0px 0px;font-family:Arial")
															tr
																td
																	table(width="100%")
																		tr
																			td(style="padding:0px 0px 10px 10px;font-size:14px;font-family:Arial;text-align:center") En caso de no poder acceder a la página de registro, ingresa a:
																				br 
																				a(href="http://enlaceparavalidarcorreo1234545666777") http://enlaceparavalidarcorreo1234545666777

							tr
								td(height="84", 
									style="padding:0px;")
									table(border="0", 
										cellpadding="0", 
										cellspacing="0",
										height="75",
										width="100%",
										bgcolor="#ededed",
										style="border-left:1px solid #f5be00;border-right:1px solid #f5be00;")
										tr
											td 
												div(align="center")
													table(border="0", 
														cellpadding="0", 
														cellspacing="0",
														width="95%",
														bgcolor="#ededed")
														tr 
															td(align="center",style="font-size:14px;padding: 0px; text-align:left; font-family:Arial; height:90px" ) 
																|Cualquier consulta no dudes en llamar a nuestra 
																strong Central de Ayuda (123-4567)
																|, en donde atenderemos todas tus preguntas. También puedes revisar nuestra sección de 
																a(href="#", style="color:#000000;font-weight:bold") preguntas frecuentes
																|  en 
																strong nuestro sitio.

									table(border="0", 
										cellpadding="0", 
										cellspacing="0",
										width="100%",
										height="84",
										bgcolor="#f5be00")
										tr
											td(height="84", 
												style="padding:0px 0px 0px 36px;text-align:left;font-size:16px;font-family:Arial;")
												span Cordialmente,
												br
												span(style="font-style:italic;font-weight:bold;") El Equipo de PagoEfectivo
											td(align="right" 
												style="padding:0px 22px 0px 0px;", 
												height="84")
												img(src="#{page.absolute_url}logo_pagoefectivo_email2.png#{page.version}")
							tr
								td(style="text-align:left;padding:18px 0px 0px 0px;color:#565656;font-size:11px;font-family:Arial;")
									|El sistema de correo electrónico de PagoEfectivo Móvil esta destinado para fines del negocio, cualquier otro uso contraviene las políticas.
									|Toda información del negocio contenida en este mensaje es confidencial y de uso exclusivo de PagoEfectivo. Su divulgación, copia y/o adulteración estan prohibidas y solo debe ser conocida por la persona a quien se dirige este mensaje.
									br
									|Si usted ha recibido este mensaje por error por favor proceda a eliminarlo y notificar al remitente.
							tr
								td(style="text-align:left;padding:8px 0px 0px 0px;color:#565656;font-size:11px;font-family:Arial;")
									|Si tiene alguna consulta o duda llamenos al 123-4567 o escríbanos a 
									a(href="mailto:contacto@pagoefectivo.pe",
										style="color:#ff1919;text-decoration:underline;") contacto@pagoefectivo.pe 