include ../../../_config/page.jade
include ../../../_mixins/mixins.jade
doctype html
html(lang="#{page.lang}", xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#")
	head
		meta(charset='#{page.charset}')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='language', content='#{page.lang}')
		title #{page.title}
	body
		table(border="0", 
			cellpadding="0", 
			cellspacing="0", 
			width="100%", 
			style="font-family:Arial,Tahoma;font-weight:normal;color:black;")
			tr
				td(align="center")
					div(align="center")
						table(border="0", 
							border-spacing="0",
							bordercolor="#1c1c1c",
							cellpadding="0", 
							cellspacing="0", 
							class="wrapper",
							width="600", 
							style="padding:28px 0px 0px 0px;margin:0;")
							tr
								td(style="border:1px solid #f5be00;padding:0px;", 
									width="600")
									table(border="0", cellpadding="0", cellspacing="0",bgcolor="#c3c3c3",width="600",height="175",style="display:block;border-collapse:collapse;border-spacing:0;")
										tr(height="18" style="padding:0px;height:18px;")
											td(width="25" style="padding:0px;height:18px;" colspan="3")
										tr(height="113")
											td(width="25",height="113",style="padding:0px;height:113px;")
											td(rowspan="2",width="146",height="157",style="padding:0px;margin:0px;height:157px;")
												img(src="#{page.absolute_url}logo_pagoefectivo.jpg#{page.version}", alt="PagoEfectivo Móvil", height="157", width="146",style="display:block;")
											td(align="right",width="459",height="113",style="padding:0px 20px 0px 0px;margin:0px;font-size:22px;height:113px;font-weight:bold;font-family:Arial") Bienvenido, Confirma tu afiliación
										tr(bgcolor="white",height="44")
											td(height="44",width="25",style="padding:0px;height:44px;")
											td(height="44",width="479",style="padding:0px;height:44px;")
									div(align="center")
										table(width="550",style="text-align:left;")
											tr
												td(style="font-weight:normal;font-size:22px;margin:0;padding:10px 0px 5px 0px;font-family:Arial") Juan, Gracias por afiliarte
											tr
												td(style="font-size:14px;font-family:Arial") Ya esta todo listo para que puedas usar 
													strong PagoEfectivo Móvil. 
													|Ahora valida tu cuenta de correo electrónico para poder acceder a todas las funcionalidades de 
													strong PagoEfectivo Móvil.
											tr
												td(style="font-size:14px;padding:10px 0px 10px 0px;font-family:Arial") Valida tu cuenta haciendo click en el siguiente enlace:
											tr
												td(style="background:#faf1d1;border-radius:8px;padding:31px 0px;font-family:Arial" align="center")
													a(href="",style="font-size:18px;color:black;text-decoration:underline;") http://enlacepara.validarcorreo12345666777
											tr
												td(align="center",style="font-size:14px;font-weight:bold;font-family:Arial") Recuerda que ya tienes un saldo de 
													strong(style="font-size:22px;") 10.00 soles 
													|para utilizarlo en lo que quieras, que esperas conoce 
													a(href="",style="color:#0e107d;text-decoration:underline;") todos los establecimientos en los que puedes comprar
													|.
											tr
												td(style="padding:30px 0px 16px 0px;font-size:18px;font-weight:bold;margin:0px;font-family:Arial") Disfruta de los beneficios de pagar con PagoEfectivo Móvil
											tr
												td
													table
														tr
															td
																img(src="#{page.absolute_url}benefits.png#{page.version}")
															td(style="padding:0px 0px 10px 10px;font-size:14px;font-family:Arial") Ten siempre saldo en tu cuenta
														tr
															td
																img(src="#{page.absolute_url}benefits.png#{page.version}")
															td(style="padding:0px 0px 10px 10px;font-size:14px;font-family:Arial") Las 3 primeras recargas de cada mes son gratuitas. Se cobrará una tarifa del 0.1% del importe de la recarga a partir de la cuenta recarga efectuada en el mes.
														tr
															td
																img(src="#{page.absolute_url}benefits.png#{page.version}")
															td(style="padding:0px 0px 10px 10px;font-size:14px;font-family:Arial") Recuerda que tu PIN de seguridad te servirá para realizar cualquier tipo de transacción en PagoEfectivo Móvil.
														tr
															td
																img(src="#{page.absolute_url}benefits.png#{page.version}")
															td(style="padding:0px 0px 10px 10px;font-size:14px;font-family:Arial") Compra en los cientos de establecimientos afiliados a nuestra red, hacer transferencias y Recargas.
														tr
															td
																img(src="#{page.absolute_url}benefits.png#{page.version}")
															td(style="padding:0px 0px 10px 10px;font-size:14px;font-family:Arial") Dentro de 20 días te estaremos enviando tu tarjeta de Visa PagoEfectivo Móvil a tu domicilio.
							tr(height="8" style="padding:0px;")
							tr(height="104" bgcolor="#000000")
								td(style="padding:0px 0px 0px 40px;" width="195")
									table(border="0", cellpadding="0", cellspacing="0")
										tr
											td(width="200" style="color:#f5be00;font-size:16px;font-family:Arial") Descarga la aplicación 
												br
												|PagoEfectivo Móvil
											td(width="120" style="padding:4px 0px 0px 0px;")
												img(src="#{page.absolute_url}movil.png#{page.version}",style="display:block;")
											td(style="padding:0px 10px 0px 5px;" width="150")
												img(src="#{page.absolute_url}button_appstore.png#{page.version}")
											td(width="150")
												img(src="#{page.absolute_url}button_googleplay.png#{page.version}")
							tr(height="8" style="padding:0px;")
							tr
								td(height="84" style="padding:0px;")
									table(border="0", cellpadding="0", cellspacing="0",width="100%",height="84",bgcolor="#f5be00")
										tr
											td(height="84" style="padding:0px 0px 0px 36px;text-align:left;font-size:16px;font-family:Arial")
												span Cordialmente,
												br
												span(style="font-style:italic;font-weight:bold;") El Equipo de PagoEfectivo
											td(align="right" style="padding:0px 22px 0px 0px;" height="84")
												img(src="#{page.absolute_url}logo_pagoefectivo_email2.png#{page.version}")
							tr
								td(style="text-align:left;padding:18px 0px 0px 0px;color:#565656;font-size:11px;font-family:Arial")
									|El sistema de correo electrónico de PagoEfectivo Móvil esta destinado para fines del negocio, cualquier otro uso contraviene las políticas.
									br
									|Toda información del negocio contenida en este mensaje es confidencial y de uso exclusivo de PagoEfectivo. Su divulgación, copia y/o adulteración estan prohibidas y solo debe ser conocida por la persona a quien se dirige este mensaje.
									br
									|Si usted ha recibido este mensaje por error por favor proceda a eliminarlo y notificar al remitente.
									br
									|Si tiene alguna consulta o duda llamenos al 123-4567 o escríbanos a  
									a(href="",style="color:#ff1919;text-decoration:underline;font-family:Arial") pagoefectivo@consulta.com.pe