include ../../../_config/page.jade
include ../../../_mixins/mixins.jade
doctype html
html(lang="#{page.lang}", xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#")
	head
		meta(charset='#{page.charset}')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='language', content='#{page.lang}')
		title #{page.title}
	body
		table(border="0", 
			cellpadding="0", 
			cellspacing="0", 
			width="100%", 
			style="font-family:Arial,Tahoma;font-weight:normal;color:black;")
			tr
				td(align="center")
					div(align="center")
						table(border="0", 
							border-spacing="0",
							bordercolor="#1c1c1c",
							cellpadding="0", 
							cellspacing="0", 
							class="wrapper",
							width="600", 
							style="padding:28px 0px 0px 0px;margin:0;")
							tr
								td(style="border:1px solid #f5be00;padding:0px;",
									width="600")
									table(border="0", 
										bgcolor="#c3c3c3",
										cellpadding="0", 
										cellspacing="0",
										height="175",
										width="600",
										style="display:block;border-collapse:collapse;border-spacing:0;")
										tr(height="18", 
											style="padding:0px;height:18px;")
											td(width="25", 
												style="padding:0px;height:18px;", 
												colspan="3")
										tr(height="113")
											td(width="25",
												height="113",
												style="padding:0px;height:113px;")
											td(rowspan="2",
												width="146",
												height="157",
												style="padding:0px;margin:0px;height:157px;")
												img(src="#{page.absolute_url}logo_pagoefectivo.jpg#{page.version}", 
													alt="PagoEfectivo Móvil", 
													height="157", 
													width="146",
													style="display:block;")
											td(align="right",
												width="459",
												height="113",
											style="padding:0px 20px 0px 0px;margin:0px;font-size:22px;height:113px;font-weight:bold;") Establece un Monto de Recarga
										tr(bgcolor="white",
											height="44")
											td(height="44",
												width="25",
												style="padding:0px;height:44px;")
											td(height="44",
												width="479",
												style="padding:0px;height:44px;")
											
									div(align="center")
										table(width="550",
											style="text-align:left;padding: 0px 0px 30px 0px;font-family:Arial")
											tr
												td(colspan="3",
													style="font-weight:normal;font-size:22px;margin:0;padding:10px 0px 0px 0px;") Hola Juan,
											tr
												td(colspan="3") Para poder realizar pagos o transferencias es necesario establecer un monto de recarga siguiendo estos pasos:
											tr
												td(colspan="3" style="padding:20px 0px 0px 0px;")
													strong(style="padding:0px 8px 0px 0px;") Paso 1. 
													|Ingresa a Mi Cuenta > 
													a(href="#",
														style="color:#0050b3;text-decoration:underline;") Recargas
													|&nbsp;y selecciona un monto de recarga:
													br 
													|(Para recargar tu tarjeta es necesario tener tu código)
											tr
												td(align="center", 
													colspan="3", 
													style="padding:20px 0px;")
													a(href="#", 
														style="width:270px;height:46px;")
														img(src="#{page.absolute_url}button_recarga_aqui.png#{page.version}",
															style="border:0;display:block;", 
															width="270", 
															height="46")
											tr
												td(width="280", 
														style="padding:0px;width:280px;")
													table(border="0", 
														cellpadding="0", 
														cellspacing="0", 
														style="border-radius:8px;background:#f5f5f5;", 
														height="106")
														tr
															td(width="280", 
																valign="bottom", 
																align="center", 
																style="padding:15px 0px 0px 0px;") Código de Recarga
																div(style="center")
																	table(border="0", 
																		cellpadding="0", 
																		cellspacing="0", 
																		width="100%")
																		tr
																			td(height="45", 
																				align="center", 
																				style="font-size:30px;font-weight:bold;padding:0px;letter-spacing:-0.035em") 12345612345678
																		tr 
																			td(align="center") 
																				table(border="0", 
																					cellpadding="0", 
																					cellspacing="0", 
																					width="220", 
																					align="center")
																					tr 
																						td(width="87", 
																							height="7", 
																							bgcolor="#636363") 

																						td(width="113", 
																							height="7", 
																							bgcolor="#5bbc37") 
																					tr 
																						td(width="87", 
																							align="center", 
																							style="font-size:12px;padding:5px 0px 0px") 
																							| 6 dígitos base
																							br 
																							| &nbsp;
																						td(width="113", 
																							align="center", 
																							style="font-size:12px;padding:5px 0px 0px") 
																							| Tu número de DNI
																							br 
																							| &nbsp;

												td(width="55", 
													height="107", 
													style="padding:0px;")
													img(src="#{page.absolute_url}arrow.jpg#{page.version}", 
														style="display:block;")

												td(width="245", 
													height="107", 
													style="padding:0px;font-size:15px;line-height:24px;width:245px;font-family:Trebuchet") 
													|Utiliza este código de recarga para todas tus recargas en cualquier oficina de la red afiliada.

							tr(style="padding:0px;display:block")
								td(height="72" 
									style="padding:0px;border:1px solid #f5be00;")

									table(border="0", 
										cellpadding="0", 
										cellspacing="0",
										width="600px",
										height="72",
										bgcolor="#f5be00")
										tr
											td(align="center" 
												style="padding:0px 8px 0px 10px;" 
												height="72")
												img(src="#{page.absolute_url}adv.gif#{page.version}")
											td(height="72" 
												style="padding:0px;text-align:center;font-size:15px;text-align:center;font-family:Arial")
												span Indique que va a realizar un pago a la empresa 
													b PAGOEFECTIVO 
													br 
													|(*) La cuenta de recaudación corresponde a la empresa 
													b PAGOEFECTIVO
											td(align="center" 
												style="padding:0px 10px 0px 8px;" 
												height="72")
												img(src="#{page.absolute_url}adv.gif#{page.version}")


									div(align="center")
									
										table(width="550",
											style="text-align:left;font-family:Arial")

											tr
												td(colspan="3", 
													style="padding:30px 0px 0px 0px;")
													strong(style="margin-right:8px;") Paso 2. 
													|Acércate a alguna oficina de la red afiliada para realizar el depósito
											tr
												td(colspan="3" style="font-weight:bold;padding:20px 0px;") Canales de Pago:
											tr
												td(colspan="3", 
													style="padding:0px 0px 20px 0px;")
													table(border="0", 
														cellpadding="0", 
														cellspacing="0")
														tr
															td(width="192", 
																align="center")
																img(src="#{page.absolute_url}bcp.jpg#{page.version}")
																a(href="#")
																	img(src="#{page.absolute_url}button_watch_step.png#{page.version}")
															td(width="192", 
																align="center")
																img(src="#{page.absolute_url}interbank.jpg#{page.version}")
																a(href="#")
																	img(src="#{page.absolute_url}button_watch_step.png#{page.version}")
															td(width="192", 
																align="center")
																img(src="#{page.absolute_url}bbva_continental.jpg#{page.version}")
																a(href="#")
																	img(src="#{page.absolute_url}button_watch_step.png#{page.version}")
														tr
															td(width="192" 
																align="center" 
																style="padding:20px 0px 0px 0px;")
																img(src="#{page.absolute_url}banbif.gif#{page.version}")
																a(href="#")
																	img(src="#{page.absolute_url}button_watch_step.png#{page.version}",
																		style="display:block;")
															td(width="192" 
																align="center" 
																style="padding:20px 0px 0px 0px;")
																img(src="#{page.absolute_url}scotiabank.jpg#{page.version}")
																a(href="#")
																	img(src="#{page.absolute_url}button_watch_step.png#{page.version}",
																		style="display:block;")
															td(width="192" 
																align="center" 
																style="padding:20px 0px 0px 0px;")
																img(src="#{page.absolute_url}full_carga.jpg#{page.version}")
																a(href="#")
																	img(src="#{page.absolute_url}button_watch_step.png#{page.version}",
																		style="display:block;")
														tr
															td(width="192" 
																align="center" 
																style="padding:20px 0px 0px 0px;")
																img(src="#{page.absolute_url}western_union.jpg#{page.version}")
																a(href="#")
																	img(src="#{page.absolute_url}button_watch_step.png#{page.version}",
																		style="display:block;")
															td(width="192" 
																align="center" 
																style="padding:20px 0px 0px 0px;")
																img(src="#{page.absolute_url}kasnet.gif#{page.version}")
																a(href="#")
																	img(src="#{page.absolute_url}button_watch_step.png#{page.version}",
																		style="display:block;")
															td(width="192" 
																align="center" 
																style="padding:20px 0px 0px 0px;")
																img(src="#{page.absolute_url}global_net.gif#{page.version}")
																a(href="#")
																	img(src="#{page.absolute_url}button_watch_step.png#{page.version}",
																		style="display:block;")
							tr
								td(height="84" style="padding:0px;")
									table(border="0", 
										cellpadding="0", 
										cellspacing="0",
										width="100%",
										height="84",
										bgcolor="#f5be00")
										tr
											td(height="84", 
												style="padding:0px 0px 0px 36px;text-align:left;font-size:16px;")
												span Cordialmente,
												br
												span(style="font-style:italic;font-weight:bold;") El Equipo de PagoEfectivo
											td(align="right", 
												style="padding:0px 22px 0px 0px;", 
												height="84")
												img(src="#{page.absolute_url}logo_pagoefectivo_email2.png#{page.version}")
							tr
								td(style="text-align:left;padding:18px 0px 0px 0px;color:#565656;font-size:11px;")
									|El sistema de correo electrónico de PagoEfectivo Móvil esta destinado para fines del negocio, cualquier otro uso contraviene las políticas.
									br
									|Toda información del negocio contenida en este mensaje es confidencial y de uso exclusivo de PagoEfectivo. Su divulgación, copia y/o adulteración estan prohibidas y solo debe ser conocida por la persona a quien se dirige este mensaje.
									br
									|Si usted ha recibido este mensaje por error por favor proceda a eliminarlo y notificar al remitente.
							tr
								td(style="text-align:left;padding:18px 0px 0px 0px;color:#565656;font-size:11px;")
									br
									|Si tiene alguna consulta o duda llamenos al 123-4567 o escríbanos a  
									a(href="mailto:pagoefectivo@consulta.com.pe",
										style="color:#ff1919;text-decoration:underline;") pagoefectivo@consulta.com.pe 