include ../../../_config/page.jade
//- include ../../../_mixins/mixins.jade
doctype html
doctype transitional
html(lang="#{page.lang}", xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#")
  head
    meta(charset='#{page.charset}')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='language', content='#{page.lang}')
    title #{page.title}
  body
    table(border="0", 
      cellpadding="0", 
      cellspacing="0", 
      width="100%", 
      style="font-weight:normal;color:black;")
      tr
        td(align="center")
          div(align="center")
            table(border="0", 
              border-spacing="0",
              bordercolor="#1c1c1c",
              cellpadding="0", 
              cellspacing="0", 
              class="wrapper",
              width="600", 
              style="padding:28px 0px 0px 0px;margin:0;font-family:Arial")
              tr
                td(style="border:1px solid #f5be00;padding:0px;",
                  width="600")
                  table(width='100%', cellpadding='5', cellspacing='0', style="font-family: 'Open Sans', Arial, sans-serif; box-sizing: border-box; font-size: 16px; margin: 0; padding: 0;background-color:#FEC92B;", bgcolor='#FEC92B')
                    tr
                      td(align='left', style='padding:10px 20px 10px;')
                        img(src='http://cdn.mailing.clasificados.pe/Pagoefectivo/tarjeta/logo-pagoefectivo-email2.jpg', alt='', border='0', width='90')
                      td(align='right', style='font-size:20px;font-weight:bold;padding-right:20px;') Activa tu cuenta

                  div(align="center")
                    table(width="550",
                      style="text-align:left;padding: 0px 0px 30px 0px;font-family:Arial")
                      tr
                        td(colspan="3" 
                          style="font-weight:normal;font-size:22px;margin:0;padding:10px 0px 0px 0px;") Hola Juan,
                      tr
                        td(colspan="3" 
                          style="padding:0px 0px 20px 0px;") Este es el nuevo monto establecido para tus recargas:
                      tr
                        td(width="290" 
                          height="108" 
                          colspan="3"
                          style="padding:0px;" 
                          align="left")
                          div(align="center")
                            table(style="border-radius:8px;background:#faf3db;" width="280" height="106" align="center")
                              tr
                                td(width="280" height="106" style="font-size:22px;margin:0;font-family:Arial" align="center")
                                  strong Monto: 
                                  |S/.70.00
                      tr
                        td(colspan="3", 
                          style="padding: 20px 0px 0px") Para cambiar el monto de recarga establecido, debes ingresar a la web y seguir los siguientes pasos:
                      tr
                        td(colspan="3" style="padding:20px 0px 0px 0px;")
                          strong(style="padding:0px 8px 0px 0px;") Paso 1. 
                          | Ingresa a Mi Cuenta > 
                          a(href="#",
                            style="color:#0050b3;text-decoration:underline;") Recargas
                          |&nbsp;y selecciona un monto de recarga:
                          br 
                          | (Para recargar tu tarjeta es necesario tener tu código)

                      tr
                        td(align="center", 
                          colspan="3", 
                          style="padding:20px 0px;")
                          a(href="#", 
                            style="width:270px;height:46px;")
                            img(src="#{page.absolute_url}button_recarga_aqui.png#{page.version}",
                              style="border:0;display:block;", 
                              width="270", 
                              height="46")
                      tr
                        td(width="280", 
                            style="padding:0px;width:280px;")
                          table(border="0", 
                            cellpadding="0", 
                            cellspacing="0", 
                            align="center",
                            style="border-radius:8px;background:#f5f5f5;font-family:Arial", 
                            height="106")
                            tr
                              td(width="100")
                            tr
                              td(width="280", 
                                valign="bottom", 
                                align="center", 
                                style="padding:15px 0px 0px 0px;font-size:12px; text-align: center") A partir de la segunda recarga del mes, el costo será de S/. 3,00 nuevos soles para cualquier monto a recargar.
                                div(style="center")
                                  table(border="0", 
                                    cellpadding="0", 
                                    cellspacing="0", 
                                    width="100%")
                                    tr
                                      td(height="45", 
                                        align="center", 
                                        style="font-size:30px;font-weight:bold;padding:0px;letter-spacing:-0.035em;font-family:Arial") 12345612345678
                                    tr
                                      td 
                                        p Código válido hasta el 
                            tr
                              td(width="100")

              tr(style="padding:0px;display:block")
                td(height="72" 
                  style="padding:0px;border:1px solid #f5be00;")

                  table(border="0", 
                    cellpadding="0", 
                    cellspacing="0",
                    width="600px",
                    height="72",
                    bgcolor="#f5be00")
                    tr
                      td(align="center" 
                        style="padding:0px 8px 0px 10px;" 
                        height="72")
                        img(src="#{page.absolute_url}adv.gif#{page.version}")
                      td(height="72" 
                        style="padding:0px;text-align:center;font-size:15px;text-align:center;font-family:Arial")
                        span Indique que va a realizar un pago a la empresa 
                          b PAGOEFECTIVO 
                          br 
                          |(*) La cuenta de recaudación corresponde a la empresa 
                          b PAGOEFECTIVO
                      td(align="center" 
                        style="padding:0px 10px 0px 8px;" 
                        height="72")
                        img(src="#{page.absolute_url}adv.gif#{page.version}")

                  div(align="center")
                  
                    table(width="550",
                      style="text-align:left;font-family:Arial")

                      tr
                        td(colspan="3", 
                          style="padding:30px 0px 0px 0px;")
                          strong(style="margin-right:8px;") Paso 2. 
                          |Acércate a alguna oficina de la red afiliada para realizar el depósito

                      tr
                        td(style="font-weight:bold;padding:25px 0px 0px 0px;") 
                          strong Canales de Pago:
                      tr
                        td(colspan="3", 
                          style="padding:0px 0px 20px 0px;")
                          table(border="0", 
                            cellpadding="0", 
                          cellspacing="0")
                            tr
                              td(width="192" 
                                align="center")
                                img(src="#{page.absolute_url}bcp.jpg#{page.version}")
                                a(href="//pagoefectivo.pe/CentrosPago.aspx#bcp", target="_blank")
                                  img(src="#{page.absolute_url}button_watch_step.png#{page.version}",
                                    style="display:block;")
                              td(width="192" 
                                align="center")
                                img(src="#{page.absolute_url}interbank.jpg#{page.version}")
                                a(href="//pagoefectivo.pe/CentrosPago.aspx#ibk", target="_blank")
                                  img(src="#{page.absolute_url}button_watch_step.png#{page.version}",
                                    style="display:block;")

                              td(width="192" 
                                align="center")
                                img(src="#{page.absolute_url}bbva_continental.jpg#{page.version}")
                                a(href="//pagoefectivo.pe/CentrosPago.aspx#bbva", target="_blank")
                                  img(src="#{page.absolute_url}button_watch_step.png#{page.version}",
                                    style="display:block;")
                            tr
                              td(width="192" 
                                align="center" 
                                style="padding:20px 0px 0px 0px;")
                                img(src="#{page.absolute_url}banbif.gif#{page.version}")
                                a(href="//pagoefectivo.pe/CentrosPago.aspx#bif", target="_blank")
                                  img(src="#{page.absolute_url}button_watch_step.png#{page.version}",
                                    style="display:block;")

                              td(width="192" 
                                align="center" 
                                style="padding:20px 0px 0px 0px;")
                                img(src="#{page.absolute_url}scotiabank.jpg#{page.version}")
                                a(href="//pagoefectivo.pe/CentrosPago.aspx#sc", target="_blank")
                                  img(src="#{page.absolute_url}button_watch_step.png#{page.version}",
                                    style="display:block;")

                              td(width="192" 
                                align="center" 
                                style="padding:20px 0px 0px 0px;")
                                img(src="#{page.absolute_url}full_carga.jpg#{page.version}")
                                a(href="//pagoefectivo.pe/CentrosPago.aspx#fc", target="_blank")
                                  img(src="#{page.absolute_url}button_watch_step.png#{page.version}",
                                    style="display:block;")
                            tr
                              td(width="192" 
                                align="center" 
                                style="padding:20px 0px 0px 0px;")
                                img(src="#{page.absolute_url}western_union.jpg#{page.version}")
                                a(href="//pagoefectivo.pe/CentrosPago.aspx#wu", target="_blank")
                                  img(src="#{page.absolute_url}button_watch_step.png#{page.version}",
                                    style="display:block;")

                              td(width="192" 
                                align="center" 
                                style="padding:20px 0px 0px 0px;")
                                img(src="#{page.absolute_url}kasnet.gif#{page.version}")
                                a(href="//pagoefectivo.pe/CentrosPago.aspx#kas", target="_blank")
                                  img(src="#{page.absolute_url}button_watch_step.png#{page.version}",
                                    style="display:block;")

                              td(width="192" 
                                align="center" 
                                style="padding:20px 0px 0px 0px;")
                                img(src="#{page.absolute_url}global_net.gif#{page.version}")
                                a(href="#", target="_blank")
                                  img(src="#{page.absolute_url}button_watch_step.png#{page.version}",
                                    style="display:block;")
              tr
                td(height="84" 
                  style="padding:0px;")
                  table(border="0", 
                    cellpadding="0", 
                    cellspacing="0",
                    width="100%")
                    tr
                      td(style="padding:0; text-align:left;font-size:16px;font-family:Arial")
                        img(src='http://cdn.mailing.clasificados.pe/Pagoefectivo/tarjeta/pagoefectivo-email-footer-600.jpg', alt='', border='0', width='600')
              tr
                td(style="text-align:left;padding:18px 0px 0px 0px;color:#565656;font-size:11px;font-family:Arial")
                  |El sistema de correo electrónico de PagoEfectivo Móvil esta destinado para fines del negocio, cualquier otro uso contraviene las políticas.
                  br
                  |Toda información del negocio contenida en este mensaje es confidencial y de uso exclusivo de PagoEfectivo. Su divulgación, copia y/o adulteración estan prohibidas y solo debe ser conocida por la persona a quien se dirige este mensaje.
                  br
                  |Si usted ha recibido este mensaje por error por favor proceda a eliminarlo y notificar al remitente.
              tr
                td(style="text-align:left;padding:18px 0px 0px 0px;color:#565656;font-size:11px;font-family:Arial")
                  |Si tiene alguna consulta o duda llamenos al 123-4567 o escríbanos a  
                  a(href="mailto:pagoefectivo@consulta.com.pe",
                    style="color:#ff1919;text-decoration:underline;") pagoefectivo@consulta.com.pe
