include ../../../_config/page.jade
include ../../../_mixins/mixins.jade
doctype html
html(lang="#{page.lang}", xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#")
	head
		meta(charset='#{page.charset}')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='language', content='#{page.lang}')
		title #{page.title}
	body
		table(border="0", cellpadding="0", cellspacing="0", width="100%", style="font-family:Arial,Tahoma;font-weight:normal;color:black;")
			tr
				td(align="center")
					div(align="center")
						table(border="0", cellpadding="0", cellspacing="0", ,border-spacing="0",width="600", class="wrapper",bordercolor="#1c1c1c",style="padding:28px 0px 0px 0px;margin:0;")
							tr
								td(style="border:1px solid #f5be00;padding:0px;" width="600")
									table(border="0", cellpadding="0", cellspacing="0",bgcolor="#c3c3c3",width="100%",height="175",style="display:block;border-collapse:collapse;border-spacing:0;")
										tr(height="18" style="padding:0px;height:18px;")
											td(width="25" style="padding:0px;height:18px;" colspan="3")
										tr(height="113")
											td(width="25",height="113",style="padding:0px;height:113px;")
											td(rowspan="2",width="146",height="157",style="padding:0px;margin:0px;height:157px;")
												img(src="#{page.absolute_url}logo_pagoefectivo.jpg#{page.version}", alt="PagoEfectivo Móvil", height="157", width="146",style="display:block;")
											td(align="right",width="459",height="113",style="padding:0px 20px 0px 0px;margin:0px;font-size:22px;height:113px;font-weight:bold;") Felicidades, tenemos algo especial para tí
										tr(bgcolor="white",height="44")
											td(height="44",width="25",style="padding:0px;height:44px;")
											td(height="44",width="479",style="padding:0px;height:44px;")
									div(align="center")
										table(width="550", style="text-align:left;")
											tr
												td(style="font-weight:normal;font-size:22px;margin:0;padding:10px 0px 5px 0px;") Hola Juan,
											tr
												td(style="font-size:14px;padding:0px 0px 30px 0px;") Tenemos una  
													strong(style="font-style:italic;") Tarjeta Prepago VISA 
													|aprobada para tí, solo necesitas ingresar tu dirección para el envío de la misma y podrás disfrutar de todos estos beneficios:
										table(border="0", cellpadding="0", cellspacing="0",width="550",height="97",bgcolor="#f5be00" align="center" style="border-radius:8px;")
											tr
												td(style="padding:0px 22px 0px 15px;margin:0px;" height="97")
													img(src="#{page.absolute_url}comercio_electronico.png#{page.version}",title="Comercios electrónicos",style="display:block;")
												td(style="padding:0px 15px 0px 0px;font-size:15px;text-align:left;" height="97") Comprar en el extranjero: Podrás comprar en Comercios Online del Extranjero con mucha facilidad: 
													strong Amazon, Bestbuy, Ebay 
													| entre otros.
										table(border="0", cellpadding="0", cellspacing="0",width="550", align="center", style="border-radius:8px;")
											tr
												td(colspan="2" align="center")
													img(src="#{page.absolute_url}arrow_bottom.png#{page.version}",style="display:block;")
										table(border="0", cellpadding="0", cellspacing="0",width="600",height="97",align="center")
											tr(align="center")
												td(width="161" height="97")
													img(src="#{page.absolute_url}amazon.jpg#{page.version}" alt="Amazon")
												td(width="177" height="97")
													img(src="#{page.absolute_url}aliexpress.jpg#{page.version}" alt="Ali Express")
												td(width="108" height="97")
													img(src="#{page.absolute_url}ebay.jpg#{page.version}" alt="Ebay")
												td(width="68" height="97")
													img(src="#{page.absolute_url}gap.jpg#{page.version}" alt="Gap")
												td(width="99" height="97")
													img(src="#{page.absolute_url}bestbuy.jpg#{page.version}" alt="Best Buy")
									table
										tr
											td(width="108" height="48" style="padding:0px 0px 0px 43px;")
												img(src="#{page.absolute_url}visa.jpg#{page.version}" alt="Visa" height="44" width="65" style="display:block;")
											td(width="493" style="font-size:14px;text-align:left;") Además podrás comprar con tu tarjeta 
												strong(style="font-style:italic;") PagoEfectivo Móvil 
												|en cualquier establecimiento afiliado a 
												strong(style="font-style:italic;") VISA
										tr
											td(colspan="2",align="center",style="padding:40px 0px 38px 0px;")
												a(href="#",style="")
													img(src="#{page.absolute_url}button_obtener_tarjeta.png#{page.version}",style="border:0;")
							tr
								td(height="84" style="padding:0px;")
									table(border="0", cellpadding="0", cellspacing="0",width="100%",height="84",bgcolor="#f5be00")
										tr
											td(height="84" style="padding:0px 0px 0px 36px;text-align:left;font-size:16px;")
												span Cordialmente,
												br
												span(style="font-style:italic;font-weight:bold;") El Equipo de PagoEfectivo
											td(align="right" style="padding:0px 22px 0px 0px;" height="84")
												img(src="#{page.absolute_url}logo_pagoefectivo_email2.png#{page.version}")
							tr
								td(style="text-align:left;padding:18px 0px 0px 0px;color:#565656;font-size:11px;")
									|El sistema de correo electrónico de PagoEfectivo Móvil esta destinado para fines del negocio, cualquier otro uso contraviene las políticas.
									br
									|Toda información del negocio contenida en este mensaje es confidencial y de uso exclusivo de PagoEfectivo. Su divulgación, copia y/o adulteración estan prohibidas y solo debe ser conocida por la persona a quien se dirige este mensaje.
									br
									|Si usted ha recibido este mensaje por error por favor proceda a eliminarlo y notificar al remitente.
									br
									|Si tiene alguna consulta o duda llamenos al 123-4567 o escríbanos a  
									a(href="mailto:pagoefectivo@consulta.com.pe",
										style="color:#ff1919;text-decoration:underline;") pagoefectivo@consulta.com.pe