include ../../../_config/page.jade
include ../../../_mixins/mixins.jade
doctype html
html(lang="#{page.lang}", xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#")
	head
		meta(charset='#{page.charset}')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='language', content='#{page.lang}')
		title #{page.title}
	body
		table(border="0", 
			cellpadding="0", 
			cellspacing="0", 
			width="100%", 
			style="font-family:Arial,Tahoma;font-weight:normal;color:black;")
			tr
				td(align="center")
					div(align="center")
						table(border="0", 
							border-spacing="0",
							bordercolor="#1c1c1c",
							cellpadding="0", 
							cellspacing="0", 
							class="wrapper",
							width="600", 
							style="padding:28px 0px 0px 0px;margin:0;")

							tr
								td(style="border:1px solid #f5be00;padding:0px;",
									width="600")
									table(border="0", 
										bgcolor="#c3c3c3",
										cellpadding="0", 
										cellspacing="0",
										height="175",
										width="600",
										style="display:block;border-collapse:collapse;border-spacing:0;")

										tr(height="18",
											style="padding:0px;height:18px;")
											td(width="25",
											 style="padding:0px;height:18px;",
											 colspan="3")

										tr(height="113")
											td(width="25",
												height="113",style="padding:0px;height:113px;")

											td(rowspan="2", 
												width="146",
												height="157",
												style="padding:0px;margin:0px;height:157px;")
												img(src="#{page.absolute_url}logo_pagoefectivo.jpg#{page.version}", 
													alt="PagoEfectivo Móvil", 
													height="157", 
													width="146",
													style="display:block;")

											td(align="right", 
												height="113", 
												width="459", 
												style="padding:0px 20px 0px 0px;margin:0px;font-size:22px;height:113px;font-weight:bold;") Cuenta Bloqueada

										tr(bgcolor="white", 
											height="44")
											td(height="44", 
												width="25", 
												style="padding:0px;height:44px;")
											td(height="44", 
												width="479", 
												style="padding:0px;height:44px;")

									div(align="center")
										table(width="550",style="text-align:left;")
											tr
												td(width="250", height="155")
													table 
														tr
															td(style="font-weight:normal;font-size:22px;margin:0;padding:10px 0px 5px 0px;") Hola Juan,
														tr
															td(style="padding:0px 0px 20px 0px;") Tu recarga se realizó con éxito

												td(width="280", 
														style="padding:0px;width:280px;")
													table(border="0", 
														cellpadding="0", 
														cellspacing="0", 
														style="border-radius:8px;background:#f5f5f5;", 
														height="106")
														tr
															td(width="280", 
																valign="bottom", 
																align="center", 
																style="padding:15px 0px 0px 0px;") Código de Recarga
																div(style="center")
																	table(border="0", 
																		cellpadding="0", 
																		cellspacing="0", 
																		width="100%")
																		tr
																			td(height="45", 
																				align="center", 
																				style="font-size:30px;font-weight:bold;padding:0px;letter-spacing:-0.035em") 12345612345678
																		tr 
																			td(align="center") 
																				table(border="0", 
																					cellpadding="0", 
																					cellspacing="0", 
																					width="220", 
																					align="center")
																					tr 
																						td(width="87", 
																							height="7", 
																							bgcolor="#636363") 

																						td(width="113", 
																							height="7", 
																							bgcolor="#5bbc37") 
																					tr 
																						td(width="87", 
																							align="center", 
																							style="font-size:12px;padding:5px 0px 0px") 
																							| 6 dígitos base
																							br 
																							| &nbsp;
																						td(width="113", 
																							align="center", 
																							style="font-size:12px;padding:5px 0px 0px") 
																							| Tu número de DNI
																							br 
																							| &nbsp;

									table(align="center",
										width="600", 
										style="background:#f5f5f5;")
										tr
											td(width="550", 
												style="padding:20px 0px 80px 0px;", 
												align="center")
												table(width="550", 
													style="text-align:left;")
													tr
														td(width="180", 
															style="font-weight:bold;padding:0px 20px 0px 0px;") Fecha y Hora:
														td 15/05/2014 15:41
													tr
														td(width="180", 
															style="font-weight:bold;padding:0px 20px 0px 0px;") Número de Operación:
														td 0845636332
													tr
														td(width="180", 
															style="font-weight:bold;padding:0px 20px 0px 0px;") Tipo de Operación:
														td Recarga
													tr
														td(width="180", 
															style="font-weight:bold;padding:0px 20px 0px 0px;") Monto:
														td S/.564.00
													tr
														td(width="180", 
															style="font-weight:bold;padding:0px 20px 0px 0px;") Comisión:
														td S/.0.00
													
							tr
								td(height="84" style="padding:0px;")
									table(border="0", 
										cellpadding="0", 
										cellspacing="0",
										height="84",
										width="100%",
										bgcolor="#f5be00")
										tr
											td(height="84", 
												style="padding:0px 0px 0px 36px;text-align:left;font-size:16px;")
												span Cordialmente,
												br
												span(style="font-style:italic;font-weight:bold;") El Equipo de PagoEfectivo
											td(align="right", 
												style="padding:0px 22px 0px 0px;", 
												height="84")
												img(src="#{page.absolute_url}logo_pagoefectivo_email2.png#{page.version}")

							tr
								td(style="text-align:left;padding:18px 0px 0px 0px;color:#565656;font-size:11px;")
									a(href="mailto:pagoefectivo@consulta.com.pe",
										style="color:#ff1919;text-decoration:underline;") pagoefectivo@consulta.com.pe
									
//- include ../../../../../_partials/footer_mailing