include ../../../_config/page.jade
include ../../../_mixins/mixins.jade
doctype html
html(lang="#{page.lang}", xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#")
	head
		meta(charset='#{page.charset}')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='language', content='#{page.lang}')
		title #{page.title}
		link(href='#{page.static_url}img/favicon.ico#{page.version}', rel='icon', type='image/vnd.microsoft.icon')
		link(href='#{page.static_url}img/favicon.ico#{page.version}', rel='shortcut icon', type='image/vnd.microsoft.icon')
		link(href='#{page.static_url}img/favicon.ico#{page.version}', rel='shortcut icon', type='image/x-icon')
		link(href='#{page.og.image}', rel='image_src', type='image/jpeg')
		+ie('if lte IE 9')
			script(src="#{page.static_url}js/dist/libs/selectivizr/selectivizr.js#{page.version}")
			script(src="#{page.static_url}js/dist/libs/html5shiv/dist/html5shiv.js#{page.version}")
		include ../../../_partials/head_scripts.jade
	body
		table(border="0", cellpadding="0", cellspacing="0", width="100%", style="font-family:Arial,Tahoma;font-weight:normal;color:black;")
			tr
				td
					div(align="center")
						table(border="0", cellpadding="0", cellspacing="0", width="960", class="wrapper",bordercolor="#1c1c1c",style="padding:20px 0;margin:0;text-align:left;")
							tr(style="background:#f5be00;" height="73")
								td(style="padding:0px 0px 0px 15px;" width="100" height="73")
									img(src="http://imgur.com/CxPPZ50.png",height="41",width="101",alt="")
								td(height="73" style="font-size:22px;font-weight:normal;text-align:center;padding:0px;") PASARELA DE PAGOS
								td(width="100")
							tr(height="17" style="padding:0px;")
							tr(height="222" style="padding:0px;")
								td(colspan="3" style="border:1px solid black;padding:0px;")
									table(border="0",cellpadding="0", cellspacing="0", width="958", height="220")
										tr
											td(width="23" style="padding:0px;")
											td(width="200" height="184" style="padding:0px;")
												img(src="http://imgur.com/2MyB4Ds.png")
											td(width="52")
											td(width="350")
												table()
													tr(height="10")
													tr
														td(style="font-size:27px;font-weight:bold;") Código de pago (CIP): 
													tr
														td(style="font-size:37px;font-weight:bold") 4578124576
											td(rowspan="2" width="331" align="center")
												table(bgcolor="#d0d0d0" width="321", height="206",style="text-align:center;padding:0px;" align="center" border="0" cellspacing="0" cellpadding="0")
													tr
														td(height="17" style="padding:0px;")
													tr
														td(height="111" style="padding:0px;")
															div(style="font-size:24.82px;height:28px;") Total a pagar:
															div(style="font-size:31.02px;font-weight:bold;margin:0;height:32px;") S/.129.00
															div(style="font-size:24.82px;") (Incluído IGV)
													tr
														td(align="center" height="1" style="padding:0px;")
															table(width="200", style="border-top:1px solid black;")
													tr(height="78")
														td(style="font-size:15px;padding:0px;" valign="top" height="75") Puedes realizar el pago hasta el
															br
															|viernes 22 de Agosto / 23:59 pm
															br
															|de lo contrario este expirará
												
										tr
											td(colspan="4" style="font-size:10px;" align="center") Este código de pago no constituye una reserva confirmada sino hasta la realización del pago a través de los canales mencionados.
												br
												|Ofertop se reserva el derecho a finalizar un pedido antes del tiempo indicado; en este caso el código CIP quedaría sin efecto
							tr
								td(colspan="3" style="border-left:1px solid black;border-bottom:1px solid black;border-right:1px solid black;padding:0px;" height="84" align="center")
									table(width="945", height="72", bgcolor="#f5be00" ,cellpadding="0", cellspacing="0")
										tr(align="center")
											td(width="80",height="72",style="height:72px;")
												img(src="http://imgur.com/6OLi9Kb.png")
											td(style="font-size:17px;height:72px;",height="72") Indique que va realizar un Pago a la Empresa 
												strong PAGOEFECTIVO
												br
												|(*) La cuenta de recaudación NO corresponde a 
												strong OferTOP
												|, corresponde a la empresa 
												strong PAGOEFECTIVO
											td(width="80",height="72")
												img(src="http://imgur.com/6OLi9Kb.png")
							tr(height="16",style="padding:0px;")
							tr
								td(colspan="3", align="center", height="33", style="color:white;background:black;font-size:20px;padding:0px;") FORMAS DE PAGO
							tr
								td(colspan="3", style="padding:15px 0;font-size:20px;", align="center") Imprima esta orden de pago y acérquese a cualquiera de estos centros autorizados para efectuar el pago:
							tr
								td(colspan="3")
									table(border="0",cellpadding="0", cellspacing="0")
										tr(style="font-size:20px;")
											td(valign="top", width="136")
												table
														tr
															td PAGAR POR
											td(width="206", valign="top") 
												img(src="http://imgur.com/gc0TCfV.jpg", alt="", style="margin-right:10px;")
												span(style="vertical-align:top;") INTERNET
											td(width="206", valign="top") 
												img(src="http://imgur.com/TyUHv3N.jpg", alt="", style="margin-right:10px;")
												span(style="vertical-align:top;") AGENTES
											td(width="206", valign="top")
												img(src="http://imgur.com/otdDC74.jpg", alt="", style="margin-right:10px;")
												span(style="vertical-align:top;") AGENCIAS
											td(width="206", valign="top")
												img(src="http://imgur.com/ezC8cZf.jpg", alt="", style="margin-right:10px;")
												span(style="vertical-align:top;") CAJEROS
										tr
											td(colspan="5", style="border:1px solid black;height:46px;",height="46")
												table(border="0",cellpadding="0", cellspacing="0")
													tr
														td(width="136" style="padding-left:10px;")
															img(src="http://imgur.com/8TFpSS2.jpg", alt="", valign="middle")
														td(colspan="3" width="618")
														td(width="207")
															img(src="http://imgur.com/41TMBll.jpg", alt="", valign="middle")
										tr(style="font-size:13px;", valign="top")
											td(width="136")
											td(valign="top" width="206" style="padding:10px 0 30px 0;")
												div(style="width:185px;")
													p(style="margin-top:0px;padding:0px;")
														strong Banca por internet de interbank:
														br
														| 1.-Ingresa a tu cuenta y selecciona la opcion de Pago de Recibos - Diversas Empresas.
														br
														| 2.-Selecciona la cuenta de Cargo y en Empresa seleccionar PAGOEFECTIVO.
														br
														| 3.-Ingresa el siguiente Código de Pago:[CIP], confirme su transacción y listo!.
											td(valign="top" width="206" style="padding:10px 0 30px 0;")
												div(style="width:185px;")
													p(style="margin-top:0px;padding:0px;")
														strong En un Agente Interbank:
														br
														|1.-Indique que va realizar un pago a la empresa PagoEfectivo y brinda el siguiente código 2735001
														br
														|2.-Indique el Código de Pago: [CIP], el importe a pagar y la moneda.
														br
														|3.-Verificar que el boucher indique PAGOEFECTIVO.
											td(valign="top" width="206" style="padding:10px 0 30px 0;")
												div(style="width:185px;")
													p(style="margin-top:0px;padding:0px;")
														strong En Tiendas y Money Market de Interbank:
														br
														|1.-Indique que va realizar un pago de recaudo a PagoEfectivo.
														br
														|2.-Indique el Código de Pago: [CIP], el importe a pagar y la moneda.
														br
														|3.-Verificar que el boucher indique PAGOEFECTIVO.
											td(style="padding:10px 0 30px 0;", valign="top", width="206")
												div(style="width:185px;")
													p(style="margin-top:0px;padding:0px;")
														strong En Cajeros con Tarjeta - Global Net:
														br
														|1.-Seleccionar Pagos/Pagos de recibo/Pagos Varios/Varios
														br
														|2.-Digite el código: 35001 y siga las instrucciones del Cajero Automático(*).
													p
														strong En Cajeros sin Tarjeta - Global Net Plus:
														br
														|1.-Presiona cualquier botón de la pantalla del cajero.
														br
														|2.-Selecciona Pagos de recibos/Otros/Otros.
														br
														|3.-Digita el código: 35001 y siga las instrucciones del Cajero Automático(*).
														br
														|(*)Verificar que el boucher indique Empresa: PAGOEFECTIVO.
										tr
											td(colspan="5", style="border:1px solid black;",height="46")
												table(border="0",cellpadding="0", cellspacing="0")
													tr
														td(style="padding-left:10px;",width="136")
															img(src="http://imgur.com/K5PW5d8.jpg", alt="", valign="middle")
														td(colspan="4" width="824")
										tr(style="font-size:13px;", valign="top")
											td(width="136")
											td(width="206")
											td(style="padding:10px 0 30px 0;", valign="top", width="206")
												div(style="width:185px;")
													p(style="margin-top:0px;padding:0px;")
														strong En un Agente Kasnet:
														br
														|1.-Indique que va realizar un pago de recaudo a PagoEfectivo.
														br
														|2.-Indique el Código de Pago, el importe a pagar y la moneda.
														br
														|3.-Verificar que el boucher indique EMISORA: PAGOEFECTIVO MN.
											td(width="206")
											td(width="206")
										tr
											td(colspan="5", style="border:1px solid black;",height="46")
												table(border="0",cellpadding="0", cellspacing="0")
													tr
														td(style="padding-left:10px;",width="136")
															img(src="#{page.static_url}img/pagoEfectivo/oficinas/banbif.jpg#{page.version}", alt="", valign="middle")
														td(colspan="4" width="824")
										tr(style="font-size:13px;", valign="top")
											td(width="136")
											td(style="padding:10px 0 30px 0;", valign="top", width="206")
												div(style="width:185px;")
													p(style="margin-top:0px;padding:0px;")
														strong Banca por Internet del BANBIF:
														br
														|1.-Ingresa a tu cuenta.
														br
														|2.-Seleccione la opción Pago de servicios\ Un nuevo Pago.
														br
														|3.-Realice la búsqueda por Empresa escribiendo PAGOEFECTIVO y seleccione la empresa Pago.
														br
														|4.-Ingresa el siguiente Código de Pago: [CIP], confirme su transacción y Listo.
											td(width="206")
											td(style="padding:10px 0 30px 0;", valign="top",width="206")
												div(style="width:185px;")
													p(style="margin-top:0px;padding:0px;")
														strong En una agencia BanBif:
														br
														|1.Indique que va a realizar un pago de Recaudo a PAGOEFECTIVO.
														br
														|2.Indique el Código de Pago: [CIP], el importe a pagar y la moneda.
														br
														|3.Verificar que el Boucher: PAGOEFECTIVO.
											td(width="206")
										tr
											td(colspan="5", style="border:1px solid black;height:46px;",height="46")
												table(border="0",cellpadding="0", cellspacing="0")
													tr
														td(style="padding-left:10px;" width="136")
															img(src="http://imgur.com/x3PvqY0.jpg", alt="", valign="middle")
														td(colspan="4" width="824")
										tr(style="font-size:13px;", valign="top")
											td(width="136")
											td(style="padding:10px 0 30px 0;", valign="top", width="206")
												div(style="width:185px;")
													p(style="margin-top:0px;padding:0px;")
														strong Banca por Internet (
															a(href="www.bbvacontinental.pe",style="text-decoration:none;color:black;") www.bbvacontinental.pe
															|):
														br
														|1.-Ingresa a tu cuenta, seleccione Pago de Servicios, De Instituciones y Emp.
														br
														|2.-Realize la búsqueda de los servicios escribiendo PagoEfectivo. Luego seleccione PAGOEFECTIVO(*).
														br
														|3.-Ingresa el siguiente Código de Pago: [CIP], confirme su transacción y Listo.
											td(valign="top" width="206" style="padding:10px 0 30px 0;")
												div(style="width:185px;")
													p(style="margin-top:0px;padding:0px;")
														strong En un Agente Express:
														br
														|1.-Indique que va realizar un pago de recaudo a PAGOEFECTIVO(*).
														br
														|2.-Indique el Código de Pago: [CIP], el importe a pagar y la moneda.
														br
														|3.-Verificar que el boucher indique EMISORA: PAGOEFECTIVO(*).
											td(valign="top" width="206" style="padding:10px 0 30px 0;")
												div(style="width:185px;")
													p(style="margin-top:0px;padding:0px;")
														strong En una Agencia del BBVA:
														br
														|1.-Indique que va realizar un pago de recaudo a PAGOEFECTIVO(*).
														br
														|2.-Indique el Código de Pago: [CIP], el importe a pagar y la moneda.
														br
														|3.-Verificar que el boucher indique EMISORA: PAGOEFECTIVO(*).
											td(width="206")
										tr
											td(colspan="5", style="border:1px solid black;height:46px;",height="46")
												table(border="0",cellpadding="0", cellspacing="0")
													tr
														td(style="padding-left:10px;" width="136")
															img(src="http://imgur.com/BB5MQZ2.jpg", alt="", valign="middle")
														td(colspan="4" width="824")
										tr(style="font-size:13px;", valign="top")
											td(width="136")
											td(style="padding:10px 0 30px 0;",valign="top",width="206")
												div(style="width:185px;")
													p(style="margin-top:0px;padding:0px;")
														strong Banca por Internet (
															a(href="www.viabcp.com",style="text-decoration:none;color:black;") www.viabcp.com
															|):
														br
														|1.-Ingresa a tu cuenta y selecciona Pago de servicios, Empresas Diversas.
														br
														|2.-Seleccione la empresa PagoEfectivo y el servicio PagoEfectivo - Soles.
														br
														|3.-Ingresa el siguiente Código de Pago: [CIP], confirme su transacción y Listo.
											td(valign="top" width="206" style="padding:10px 0 30px 0;")
												div(style="width:185px;")
													p(style="margin-top:0px;padding:0px;")
														strong En un Agente BCP:
														br
														|1.-Indique que va realizar un pago a la empresa PagoEfectivo y brinda el siguiente código 02186.
														br
														|2.-Indique el Código de Pago: [CIP], el importe a pagar y la moneda.
														br
														|3.-Verificar que el boucher indique EMPRESA: PAGOEFECTIVO.
											td(valign="top" width="206" style="padding:10px 0 30px 0;")
												div(style="width:185px;")
													P(style="margin-top:0px;padding:0px;")
														strong En una Agencia BCP:
														|1.-Indique que va realizar un pago a la empresa PagoEfectivo.
														br
														|2.-Indique el Código de Pago: [CIP], el importe a pagar y la moneda.
														br
														|3.-Verificar que el boucher indique Empresa Afiliada: PAGOEFECTIVO.
											td(width="206")
										tr
											td(colspan="5", style="border:1px solid black;height:46px;", height="46")
												table(border="0",cellpadding="0", cellspacing="0")
													tr
														td(style="padding-left:10px;" width="136")
															img(src="http://imgur.com/6CjfFhf.jpg", alt="", valign="middle")
														td(colspan="4" width="824")
										tr(style="font-size:13px;", valign="top")
											td(width="136")
											td(style="padding:10px 0 30px 0;",valign="top",width="206")
												div(style="width:185px;")
													p(style="margin-top:0px;padding:0px;")
														strong Banca por Internet (
															a(href="www.scotiabank.com.pe",style="text-decoration:none;color:black;") www.scotiabank.com.pe
															|):
														br
														|1.-Ingresa a tu cuenta y seleccione Pagos - Otras Instituciones, Otros.
														br
														|2.-Seleccionar la Institución según servicio: PAGOEFECTIVO (SOLES).
														br
														|3.-Ingresa el siguiente Código de Pago: [CIP], confirme su transacción y Listo.
											td(valign="top" width="206" style="padding:10px 0 30px 0;")
												div(style="width:185px;")
													P(style="margin-top:0px;padding:0px;")
														strong En un Cajero Express:
														br
														|1.-Indique que va realizar un pago a la empresa PagoEfectivo.
														br
														|2.-Indique el Código de Pago: [CIP], el importe a pagar y la moneda.
														br
														|3.-Verificar que el boucher indique PAGOEFECTIVO.
											td(valign="top" width="206" style="padding:10px 0 30px 0;")
												div(style="width:185px;")
													p(style="margin-top:0px;padding:0px;")
														strong En una Agencia de Scotiabank:
														br
														|1.-Indique que desea realizar un pago a la empresa PagoEfectivo.
														br
														|2.-Indique el Código de Pago: [CIP], el importe a pagar y la moneda.
														br
														|3.-Verificar que el boucher indique PAGOEFECTIVO.
											td(width="206")
										tr
											td(colspan="5", style="border:1px solid black;height:46px;",height="46")
												table(border="0",cellpadding="0", cellspacing="0")
													tr
														td(style="padding-left:10px;" width="136")
															img(src="http://imgur.com/diptGYz.jpg", alt="", valign="middle")
														td(colspan="4" width="824")
										tr(style="font-size:13px;", valign="top")
											td(width="136")
											td(width="206")
											td(style="padding:10px 0 30px 0;",valign="top",width="206")
												div(style="width:185px;")
													p(style="margin-top:0px;padding:0px;")
														strong En una Agencia de Pago de Servicios Western Union:
														br
														|1.-Indique que va realizar un pago de servicio a la empresa PagoEfectivo.
														br
														|2.-Indique el Código de Pago: [CIP], el importe a pagar y la moneda.
														br
														|3.-Verificar que el boucher indique Entidad: PagoEfectivo.
											td(width="206")
											td(width="206")
										tr
											td(colspan="5", style="border:1px solid black;height:46px;",height="46")
												table(border="0",cellpadding="0", cellspacing="0")
													tr
														td(style="padding-left:10px;" width="136")
															img(src="http://imgur.com/2U9DA4p.jpg", alt="", valign="middle")
														td(colspan="4" width="824")
										tr(style="font-size:13px;", valign="top")
											td(width="136")
											td(width="206")
											td(style="padding:10px 0 30px 0;",valign="top",width="206")
												div(style="width:185px;")
													p(style="margin-top:0px;padding:0px;")
														strong Acércate a cualquier Bodegas, Farmacias, Cabinas, Locutorios que tenga el logo de PagoEfectivo y/o FullCarga.
														br
														|1.-Indique que va realizar un pago de Servicio a la empresa PagoEfectivo.
														br
														|2.-Elige el servicio PagoEfectivo-Soles
														br
														|3.-Indique el código de Pago: [CIP].
											td(width="206")
											td(width="206")
										tr
											td(colspan="5" align="center" style="border-top:1px solid black;padding:20px 0px 0px 0px;")
												table(border="0" align="center")
													tr
														td(style="font-size:20px;" align="center") GRACIAS POR SU PREFERENCIA 
													
							