extends ../../../layout/layout.jade
//- pagoEfectivo/pasarelaGeneralInterno
block navigation
	.tools_sesion
		ul
			li Sesión de: 
				b Ricardo Gutierrez Alvarez
			li
				a#closeSesion(href="javascript:;") Cerrar Sesión
					span
		h2 PASARELA DE PAGOS


block content
	section.box_searching
		.box_center
			.box_main.content_box
				.payment_header.block
					img(src="#{page.static_url}img/pagoEfectivo/logo_pagoefectivo_comercios.png#{page.version}")
					h4 PASARELA DE PAGOS
					.print_button
						button 
							|IMPRIMIR 
							span
				.payment_summary.commerce
					.content_payment_summary
						.payment_code
							.logo_pagoefectivo_black
								img(src="#{page.static_url}img/pagoEfectivo/logo_pagoefectivo.png#{page.version}")
							.info_code
								p Código de pago (CIP): 
									span 4578124576
							.total_pay_movil
								span Total a pagar:
								h4 S/.129.00
								span.igv (Incluido IGV)
								.payment_date Puedes realizar el pago hasta el viernes 22 de Agosto / 23:59 pm
							.restrictions Este código de pago no constituye una reserva confirmada sino hasta la realización del pago a través de los canales mencionados.
								br
								|Ofertop se reserva el derecho a finalizar un pedido antes del tiempo indicado; en este caso el código CIP quedaría sin efecto
						.total_pay
							span Total a pagar:
							h4 S/.129.00
							span (Incluido IGV)
							.payment_date Puedes realizar el pago hasta el viernes 22 de Agosto / 23:59 pm
					.info_payment_summary
						.content_info
							.logo_info_left
								span
							p Indique que va realizar un Pago a la Empresa
								span.bold PAGOEFECTIVO
								br
								|(*) La cuenta de recaudación NO corresponde a 
								span.bold OferTOP, 
								| corresponde a la empresa 
								span.bold PAGOEFECTIVO
							.logo_info_right
								span
				.payment_methods
					h4 FORMAS DE PAGO
					.content_payment_methods
						p Imprima esta orden de pago y acérquese a cualquiera de estos centros autorizados para efectuar el pago:
						.places
							.place.bold PAGAR POR
							.place 
								span.internet.icon
								span.bold INTERNET
							.place
								span.agentes.icon
								span.bold AGENTES
							.place
								span.agencias.icon
								span.bold AGENCIAS
							.place
								span.cajeros.icon
								span.bold CAJEROS
						.accordion_affiliated_office
							.accordion#section1 
								.logo
									img(src="#{page.static_url}img/pagoEfectivo/oficinas/interbank.jpg#{page.version}",title="Interbank")
								span -
								img(class="cajero" src="#{page.static_url}img/pagoEfectivo/globalnet.jpg#{page.version}",alt="Globalnet")
							.container.first_item
								.content
									.place_steps
										h6 Banca por internet de interbank
										ul
											li 1.-Ingresa a tu cuenta
											li 2.-Selecciona la opción de pago de Recibos - Pagos de Recibos - Diversas Empresas.
											li 3.-Selecciona la cuenta de cargo y en empresa seleccionar PAGOEFECTIVO.
											li 4.-Ingresa el siguiente Código de Pago: [CIP], confirme su transacción y Listo!.
									.place_steps
										h6 En un agente interbank:
										ul
											li 1.-Indique que va realizar un pago a la empresa PagoEfectivo y brinda el siguiente código 2735001.
											li 2.-Indique el Código de Pago: [CIP], el importe a pagar y la moneda.
											li 3.-Verificar que el voucher indique PAGOEFECTIVO.
									.place_steps
										h6 En Tiendas y Money Market de Interbank:
										ul
											li 1.-Indique que va realizar unu pago de recaudo a PagoEfectivo.
											li 2.-Indique el Código de Pago: [CIP], el importe a pagar y la moneda.
											li 3.-Verificar que el voucher indique PAGOEFECTIVO.
									.place_steps
										h6 En Cajeros con Tarjeta:
										ul
											li 1.-En Cajero Global Net, seleccionar Pagos/Pagos de Recibo/Pagos Varios/Varios.
											li 2.-En Cajero Global Net Plus, seleccionar Pagos/Cargos en cuenta o Efectivo/Pagos de Recibos/Pagos Varios/Varios.
											li 3.-Digita el código: 35001 y siga las instrucciones del Cajero Automático(*).
										h6 En Cajeros sin Tarjeta - Global Net Plus:
										ul
											li 1.-Presiona cualquier botón de la pantalla del cajero.
											li 2.-Selecciona Pagos de recibos/Otros/Otros.
											li 3.-Digita el código: 35001 y siga las instrucciones del Cajero Automático(*).
											li (*)Verificar que el boucher indique Empresa: PAGOEFECTIVO.
											li
							.accordion#section2 
								.logo
									img(src="#{page.static_url}img/pagoEfectivo/oficinas/kasnet.jpg#{page.version}",title="Kasnet") 
								span +
							.container
								.content
									.place_steps.empty
									.place_steps
										h6 En un agente Kasnet:
										ul
											li 1.-Indique que va realizar un pago de recaudo a PagoEfectivo.
											li 2.-Indique el Código de Pago, el importe a pagar y la moneda.
											li 3.-Verificar que el boucher indique EMISORA: PAGOEFECTIVO MN.
									.place_steps.empty
									.place_steps.empty
							.accordion#section3 
								.logo
									img(src="#{page.static_url}img/pagoEfectivo/oficinas/banbif.jpg#{page.version}",title="Banbif") 
								span +
							.container
								.content
									.place_steps
										h6 Banca por Internet del Banbif:
										ul
											li 1.-Ingresa a tu cuenta.
											li 2.-Seleccione la opción Pago de servicios\ Un nuevo Pago.
											li 3.-Realice la búsqueda por Empresa escribiendo PAGOEFECTIVO y seleccione la empresa Pago.
											li 4.-Ingresa el siguiente Código de Pago: [CIP], confirme su transacción y Listo.
									.place_steps.empty
									.place_steps
										h6 En una agencia BanBif:
										ul
											li 1.-Indique que va a realizar un pago de Recaudo a PAGOEFECTIVO.
											li 2.-Indique el Código de Pago: [CIP], el importe a pagar y la moneda.
											li 3.-Verificar que el Boucher: PAGOEFECTIVO.
									.place_steps.empty
							.accordion#section4 
								.logo
									img(src="#{page.static_url}img/pagoEfectivo/oficinas/continental.jpg#{page.version}",title="BBVA Continental") 
								span +
							.container
								.content
									.place_steps
										h6 Banca por Internet (www.bbvacontinental.pe):
										ul
											li 1.-Ingresa a tu cuenta, seleccione Pago de Servicios, De Instituciones y Emp.
											li 2.-Realize la búsqueda de los servicios escribiendo PagoEfectivo. Luego seleccione PAGOEFECTIVO(*).
											li 3.-Ingresa el siguiente Código de Pago: [CIP], confirme su transacción y Listo.
									.place_steps
										h6 En un Agente Express:
										ul
											li 1.-Indique que va realizar un pago de recaudo a PAGOEFECTIVO(*).
											li 2.-Indique el Código de Pago: [CIP], el importe a pagar y la moneda.
											li 3.-Verificar que el boucher indique EMISORA: PAGOEFECTIVO(*).
									.place_steps
										h6 En una Agencia del BBVA:
										ul
											li 1.-Indique que va realizar un pago de recaudo a PAGOEFECTIVO(*).
											li 2.-Indique el Código de Pago: [CIP], el importe a pagar y la moneda.
											li 3.-Verificar que el boucher indique EMISORA: PAGOEFECTIVO(*).
									.place_steps.empty
							.accordion#section5 
								.logo
									img(src="#{page.static_url}img/pagoEfectivo/oficinas/bcp.jpg#{page.version}",title="BCP") 
								span +
							.container
								.content
									.place_steps
										h6 Banca por Internet (www.viabcp.com):
										ul
											li 1.-Ingresa a tu cuenta y selecciona Pago de servicios, Empresas Diversas.
											li 2.-Seleccione la empresa PagoEfectivo y el servicio PagoEfectivo - Soles.
											li 3.-Ingresa el siguiente Código de Pago: [CIP], confirme su transacción y Listo.
									.place_steps
										h6 En un Agente BCP:
										ul
											li 1.-Indique que va realizar un pago a la empresa PagoEfectivo y brinda el siguiente código 02186.
											li 2.-Indique el Código de Pago: [CIP], el importe a pagar y la moneda.
											li 3.-Verificar que el boucher indique EMPRESA: PAGOEFECTIVO.
									.place_steps
										h6 En una Agencia BCP:
										ul
											li 1.-Indique que va realizar un pago a la empresa PagoEfectivo.
											li 2.-Indique el Código de Pago: [CIP], el importe a pagar y la moneda.
											li 3.-Verificar que el boucher indique Empresa Afiliada: PAGOEFECTIVO.
									.place_steps.empty
							.accordion#section6 
								.logo
									img(src="#{page.static_url}img/pagoEfectivo/oficinas/scotiabank.jpg#{page.version}",title="Scotiabank") 
								span +
							.container
								.content
									.place_steps
										h6 Banca por Internet (www.scotiabank.com.pe):
										ul
											li 1.-Ingresa a tu cuenta y seleccione Pagos - Otras Instituciones, Otros.
											li 2.-Seleccionar la Institución según servicio: PAGOEFECTIVO (SOLES).
											li 3.-Ingresa el siguiente Código de Pago: [CIP], confirme su transacción y Listo.
									.place_steps
										h6 En un Cajero Express:
										ul
											li 1.-Indique que va realizar un pago a la empresa PagoEfectivo.
											li 2.-Indique el Código de Pago: [CIP], el importe a pagar y la moneda.
											li 3.-Verificar que el boucher indique PAGOEFECTIVO.
									.place_steps
										h6 En una Agencia de Scotiabank:
										ul
											li 1.-Indique que desea realizar un pago a la empresa PagoEfectivo.
											li 2.-Indique el Código de Pago: [CIP], el importe a pagar y la moneda.
											li 3.-Verificar que el boucher indique PAGOEFECTIVO.
									.place_steps.empty
							.accordion#section7 
								.logo
									img(src="#{page.static_url}img/pagoEfectivo/oficinas/western_union.jpg#{page.version}",title="Western Union") 
								span +
							.container
								.content
									.place_steps.empty
									.place_steps
										h6 En una Agencia de Pago de Servicios Western Union:
										ul
											li 1.-Indique que va realizar un pago de servicio a la empresa PagoEfectivo.
											li 2.-Indique el Código de Pago: [CIP], el importe a pagar y la moneda.
											li 3.-Verificar que el boucher indique Entidad: PagoEfectivo.
									.place_steps.empty
									.place_steps.empty
							.accordion#section8
								.logo
									img(src="#{page.static_url}img/pagoEfectivo/oficinas/full_carga.jpg#{page.version}",title="FullCarga") 
								span +
							.container
								.content
									.place_steps.empty
									.place_steps
										h6 Acércate a cualquier Bodegas, Farmacias, Cabinas, Locutorios que tenga el logo de PagoEfectivo y/o FullCarga.
										ul
											li 1.-Indique que va realizar un pago de Servicio a la empresa PagoEfectivo.
											li 2.-Elige el servicio PagoEfectivo-Soles.
											li 3.-Indique el código de Pago: [CIP].
									.place_steps.empty
									.place_steps.empty
					.print_button
						button 
							|IMPRIMIR 
							span
					h2 GRACIAS POR SU PREFERENCIA