footer
	.box_center
		.footer_left
			ul
				li
					a(href="javascript:void(0);") Acerca de PagoEfectivo
				li
					a(href="javascript:void(0);") ¿Qué es la tarjeta PagoEfectivo?
		.footer_right
			ul
				li
					a(href="javascript:void(0);") Políticas y Privacidad
				li
					a(href="javascript:void(0);") Términos y Condiciones
				li
					a(href="javascript:void(0);", class="dib ico", target="_blank")
						i.icon-question
					a(href="javascript:void(0);", class="dib ico", target="_blank")
						i.icon-facebook-with-circle
					a(href="javascript:void(0);", class="dib ico", target="_blank")
						i.icon-twitter-with-circle