head
	meta(charset='#{page.charset}')
	meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
	meta(name='language', content='#{page.lang}')
	title #{page.title}
	meta(name='title', content='#{page.title}')
	meta(name='description', content='#{page.description}')
	meta(name='author', content='#{page.author}')
	meta(name='DC.Title', content='#{page.title}')
	meta(name='DC.Contributor', content='#{page.dc.contributor}')
	meta(name='DC.Creator', content='#{page.dc.creator}')
	meta(name='DC.Description', content='#{page.description}')
	meta(name='DC.Language', content='#{page.lang}')
	meta(name='DC.Publisher', content='#{page.dc.publisher}')
	meta(name='geo.placename', content='#{page.geo.placename}')
	meta(name='geo.position', content='#{page.geo.position}')
	meta(name='geo.region', content='#{page.geo.region}')
	meta(name='ICBM', content='#{page.geo.ICBM}')
	meta(name='viewport', content='#{page.viewport}')
	meta(name='robots', content='#{page.robots}')
	meta(name='keywords', content='#{page.keywords}')
	meta(property='og:description', content='#{page.description}')
	meta(property='og:image', content='#{page.og.image}')
	meta(property='og:image:height', content='#{page.og.image_height}')
	meta(property='og:image:type', content='#{page.og.image_type}')
	meta(property='og:image:width', content='#{page.og.image_width}')
	meta(property='og:site_name', content='#{page.name}')
	meta(property='og:title', content='#{page.title}')
	meta(property='og:type', content='#{page.og.type}')
	meta(property='og:url', content='#{page.url}')
	
	link(href='#{page.static_url}css/modules/all/fonts.css#{page.version}', media='all', rel='stylesheet', type='text/css')
	link(href='#{page.static_url}css/modules/all/all.css#{page.version}', media='all', rel='stylesheet', type='text/css')
	link(href='#{page.static_url}css/layouts/main/layout.css#{page.version}', media='all', rel='stylesheet', type='text/css')
	
	//
		*Para algo como:

		module: momo
		controller: Account
		
		*debe cargar algo como:

		<link href="static/css/modules/momo/module_momo.css?20140918" media="screen" rel="stylesheet" type="text/css">
		<link href="static/css/modules/momo/Account.css?20140918" media="screen" rel="stylesheet" type="text/css"><script type="text/javascript">

	link(href='#{page.static_url}img/favicon.ico#{page.version}', rel='icon', type='image/vnd.microsoft.icon')
	link(href='#{page.static_url}img/favicon.ico#{page.version}', rel='shortcut icon', type='image/vnd.microsoft.icon')
	link(href='#{page.static_url}img/favicon.ico#{page.version}', rel='shortcut icon', type='image/x-icon')
	link(href='#{page.og.image}', rel='image_src', type='image/jpeg')
	+ie('if lte IE 9')
		link(href='#{page.static_url}css/modules/all/ie.css#{page.version}', media='all', rel='stylesheet', type='text/css')
		script(src="#{page.static_url}js/dist/libs/selectivizr/selectivizr.js#{page.version}")
		script(src="#{page.static_url}js/dist/libs/html5shiv/dist/html5shiv.js#{page.version}")
	//-script(src="#{page.static_url}js/dist/libs/modernizr.js#{page.version}")
	include ../_partials/head_scripts.jade