/**
 * Autocomplete
 * @class plugins
 * @author MFYance
 */
.table-of-contents
	li
		display inline-block
		*display inline
		zoom 1
		a
			font-size px_to_rem(16)
			color #999

.title,
.example-name
	font-family Prociono

/*
p
	& + p
		margin px_to_rem(30) 0 0 0
*/
.title
	margin px_to_rem(20) 0 0 0
	font-size px_to_rem(64)

.example
	padding px_to_rem(30) 0

.example-name
	margin px_to_rem(20) 0
	font-size px_to_rem(32)

.demo
	position relative
	*z-index 1
	margin px_to_rem(50) 0

.typeahead,
.tt-query,
.tt-hint
	width px_to_rem(396)
	height px_to_rem(30)
	padding px_to_rem(8) px_to_rem(12)
	font-size px_to_rem(24)
	line-height px_to_rem(30)
	border px_to_rem(2) solid #ccc
	-webkit-border-radius px_to_rem(8)
	-moz-border-radius px_to_rem(8)
	border-radius px_to_rem(8)
	outline none

.typeahead
	background-color #fff
	&:focus
		border px_to_rem(2) solid #0097cf

.tt-query
	-webkit-box-shadow inset 0 px_to_rem(1) px_to_rem(1) rgba(0, 0, 0, 0.075)
	-moz-box-shadow inset 0 px_to_rem(1) px_to_rem(1) rgba(0, 0, 0, 0.075)
	box-shadow inset 0 px_to_rem(1) px_to_rem(1) rgba(0, 0, 0, 0.075)

.tt-hint
	color #999

.tt-dropdown-menu
	width px_to_rem(422)
	margin-top px_to_rem(12)
	padding px_to_rem(8) 0
	background-color #fff
	border px_to_rem(1) solid #ccc
	border px_to_rem(1) solid rgba(0, 0, 0, 0.2)
	-webkit-border-radius px_to_rem(8)
	-moz-border-radius px_to_rem(8)
	border-radius px_to_rem(8)
	-webkit-box-shadow 0 px_to_rem(5) px_to_rem(10) rgba(0,0,0,.2)
	-moz-box-shadow 0 px_to_rem(5) px_to_rem(10) rgba(0,0,0,.2)
	box-shadow 0 px_to_rem(5) px_to_rem(10) rgba(0,0,0,.2)

.tt-suggestion
	padding px_to_rem(3) px_to_rem(20)
	font-size px_to_rem(18)
	line-height px_to_rem(24)
	&.tt-cursor
		color #fff
		background-color #0097cf
	p
		margin 0

.gist
	font-size px_to_rem(14)

#custom-templates
	.empty-message
		padding px_to_rem(5) px_to_rem(10)
		text-align center

#multiple-datasets
	.league-name
		margin 0 px_to_rem(20) px_to_rem(5) px_to_rem(20)
		padding px_to_rem(3) 0
		border-bottom px_to_rem(1) solid #ccc

#scrollable-dropdown-menu
	.tt-dropdown-menu
		max-height px_to_rem(150)
		overflow-y auto

#rtl-support
	.tt-dropdown-menu
		text-align right
/*typeahead*/
.typeahead,
.tt-query,
.tt-hint
	width px_to_rem(396)
	height px_to_rem(30)
	padding px_to_rem(8) px_to_rem(12)
	font-size px_to_rem(24)
	line-height px_to_rem(30)
	border px_to_rem(2) solid #ccc
	-webkit-border-radius px_to_rem(8)
	-moz-border-radius px_to_rem(8)
	border-radius px_to_rem(8)
	outline none

.typeahead
	background-color #fff
	&:focus
		border px_to_rem(2) solid #0097cf

.tt-query
	-webkit-box-shadow inset 0 px_to_rem(1) px_to_rem(1) rgba(0, 0, 0, 0.075)
	-moz-box-shadow inset 0 px_to_rem(1) px_to_rem(1) rgba(0, 0, 0, 0.075)
	box-shadow inset 0 px_to_rem(1) px_to_rem(1) rgba(0, 0, 0, 0.075)

.tt-hint
	color #999

.tt-dropdown-menu
	width px_to_rem(422)
	margin-top px_to_rem(12)
	padding px_to_rem(8) 0
	background-color #fff
	border px_to_rem(1) solid #ccc
	border px_to_rem(1) solid rgba(0, 0, 0, 0.2)
	-webkit-border-radius px_to_rem(8)
	-moz-border-radius px_to_rem(8)
	border-radius px_to_rem(8)
	-webkit-box-shadow 0 px_to_rem(5) px_to_rem(10) rgba(0,0,0,.2)
	-moz-box-shadow 0 px_to_rem(5) px_to_rem(10) rgba(0,0,0,.2)
	box-shadow 0 px_to_rem(5) px_to_rem(10) rgba(0,0,0,.2)

.tt-suggestion
	padding px_to_rem(3) px_to_rem(20)
	font-size px_to_rem(18)
	line-height px_to_rem(24)
	&.tt-cursor
		color #fff
		background-color #0097cf
	p
		margin 0

.gist
	font-size px_to_rem(14)

@css {
	@keyframes slide_left {
		0%{
			position: absolute;
		}
		100% {
			transform: translate(-258px, 0);
			display: none;
			position: absolute;
		}
	}

	@-moz-keyframes slide_left {
		0%{
			position: absolute;
		}
		100% {
			-moz-transform: translate(-258px, 0);
			display: none;
			position: absolute;
		}
	}

	@-webkit-keyframes slide_left {
		0%{
			position: absolute;
		}
		100% {
			-webkit-transform: translate(-258px, 0);
			display: none;
			position: absolute;
		}
	}
	@keyframes slide_right {
		0% {
			display: block;
		}
		100% {
			transform: translate(0, 0);
			position: relative;
		}
	}

	@-moz-keyframes slide_right {
		0% {
			display: block;
		}
		100% {
			-moz-transform: translate(0, 0);
			position: relative;
		}
	}

	@-webkit-keyframes slide_right {
		0% {
			display: block;
		}
		100% {
			-webkit-transform: translate(0, 0);
			position: relative;
		}
	}
}