/* Menu Button */
.menu-button
    position absolute
    top 20px
    right 10px
    z-index 1000
    margin 1em
    padding 0
    width 35px
    height 20px
    border none
    text-indent 2.5em
    font-size 0px
    color transparent
    background transparent

.menu-button
    &::before
        position absolute
        top 0px
        right 0px
        bottom 0px
        left 0px
        content ''

.menu-button::before {
	background: linear-gradient(#fff 20%, transparent 20%, transparent 40%, #fff 40%, #fff 60%, transparent 60%, transparent 80%, #fff 80%);
}
.close-button
    width 30px
    height 30px
    position absolute
    right 10px
    top 17px
    overflow hidden
    text-indent 1em
    font-size 0em
    border none
    background transparent
    color transparent
    &::before
        -webkit-transform rotate(45deg)
        transform rotate(45deg)
    &::after
        -webkit-transform rotate(-45deg)
        transform rotate(-45deg)

.close-button::before,
.close-button::after
    content ''
    position absolute
    width 2px
    height 100%
    top 0
    left 50%
    background #000



/* Menu */
.menu-wrap
    position fixed
    right 0
    z-index 1001
    width 100%
    max-width 200px
    height 100%
    background #fff
    -webkit-transform translate3d(320px,0,0)
    transform translate3d(320px,0,0)
    -webkit-transition -webkit-transform 0.4s
    transition transform 0.4s
    -webkit-transition-timing-function cubic-bezier(0.7,0,0.3,1)
    transition-timing-function cubic-bezier(0.7,0,0.3,1)

#block_menu
	.menu
		.titu
			padding 19px 10px
			background-color $yellow_01
			border-bottom 1px solid #c1a10f
			em
				myfont(20,$fontSBI)
				color black
.menu, 
.icon-list
    height 100%

.icon-list
    transform translate3d(0,100%,0)
    box-shadow inset 3px 1px 6px rgba(0, 0, 0, 0.21)
    a
        myfont(16, $fontMI)
        display block
        padding 13.5px 10px
        border-bottom 1px solid #ccc
        transform translate3d(0,500px,0)
        &:nth-child(2)
            transform translate3d(0,1000px,0)
        &:nth-child(3)
            transform translate3d(0,1500px,0)
        &:nth-child(4)
            transform translate3d(0,2000px,0)
        &:nth-child(5)
            transform translate3d(0,2500px,0)
        &:nth-child(6)
            transform translate3d(0,3000px,0)       
        &:hover
        	background-color #039eb4
        	color white


    
.icon-list,
.icon-list a
    -webkit-transition -webkit-transform 0s 0.4s
    transition transform 0s 0.4s
    -webkit-transition-timing-function cubic-bezier(0.7,0,0.3,1)
    transition-timing-function cubic-bezier(0.7,0,0.3,1)

.show-menu
    .menu-wrap
        -webkit-transform translate3d(0,0,0)
        transform translate3d(0,0,0)
        -webkit-transition -webkit-transform 0.8s
        transition transform 0.8s
        -webkit-transition-timing-function cubic-bezier(0.7,0,0.3,1)
        transition-timing-function cubic-bezier(0.7,0,0.3,1)
    .icon-list
        max-height 80%
        overflow-y scroll
        a
            -webkit-transition-duration 0.9s
            transition-duration 0.9s
    .content
        &::before
            opacity 1
            -webkit-transition opacity 0.8s
            transition opacity 0.8s
            -webkit-transition-timing-function cubic-bezier(0.7,0,0.3,1)
            transition-timing-function cubic-bezier(0.7,0,0.3,1)
            -webkit-transform translate3d(0,0,0)
            transform translate3d(0,0,0)

.show-menu .icon-list,
.show-menu .icon-list a
    -webkit-transform translate3d(0,0,0)
    transform translate3d(0,0,0)
    -webkit-transition -webkit-transform 0.8s
    transition transform 0.8s
    -webkit-transition-timing-function cubic-bezier(0.7,0,0.3,1)
    transition-timing-function cubic-bezier(0.7,0,0.3,1)