.validandocontenido
    position fixed
    right 0
    bottom 0
    z-index 99
    .close
        position absolute
        top 5px
        right 2px
        z-index 1111
        i
            font-size 15px
            color #97504D
            opacity 0.8
            &:hover
                opacity 1


.validandocontenido.active
    z-index 9999
    opacity 1

.cont_alert
    padding-left 60px !important
    position relative
    color black 
    myfont(13, $fontMI)
    border-top 2px solid #97504D
    background #F7DBD9
    padding 20px    
    .ico_alert
        position absolute
        left 15px
        top 24px
        font-size 25px
        color #AB0600
    a 
        color #AB0600
        cursor pointer
    &:hover
        color $hover_01
   
//ns-show
.boxalerta.toshow
    opacity 1
.boxalerta.tohide
    opacity 0
    &+.close
        display none
.ns-hide
    &+.close
        display none

.ns-attached      
    max-width 200px
   
.ns-box
    position relative
    z-index 1000
    pointer-events none    

.ns-effect-bouncyflip
    -webkit-transform-origin 50% 0%
    transform-origin 50% 0%
    background #fff
    color #484860
    top 0
    box-shadow 0 13px 10px -5px rgba(0,0,0,0.2)

.ns-effect-bouncyflip.ns-show, .ns-effect-bouncyflip.ns-hide
    animation-name flipInX
    animation-duration 1s



[class^="ns-effect-"].ns-attached.ns-hide,
[class*=" ns-effect-"].ns-attached.ns-hide
    -webkit-animation-direction reverse
    animation-direction reverse



/* Individual effects */
.ns-effect-flip
    -webkit-transform-origin 50% 100%
    transform-origin 50% 100%
    bottom 0px
    max-width 280px
    backface-visibility hidden   

.ns-effect-flip.ns-show,
.ns-effect-flip.ns-hide
    -webkit-animation-name animFlipFront
    animation-name animFlipFront
    -webkit-animation-duration 0.3s
    animation-duration 0.3s

.ns-effect-flip.ns-hide 
    -webkit-animation-name animFlipBack
    animation-name animFlipBack


@media screen and (max-width: 25em)
    .ns-attached
        left 30px
        max-width none
        right 30px

@-webkit-keyframes animFlipFront {
    0% { -webkit-transform: perspective(1000px) rotate3d(1,0,0,-90deg); }
    100% { -webkit-transform: perspective(1000px); }
}

@keyframes animFlipFront {
    0% { -webkit-transform: perspective(1000px) rotate3d(1,0,0,-90deg); transform: perspective(1000px) rotate3d(1,0,0,-90deg); }
    100% { -webkit-transform: perspective(1000px); transform: perspective(1000px); }
}

@-webkit-keyframes animFlipBack {
    0% { -webkit-transform: perspective(1000px) rotate3d(1,0,0,90deg); }
    100% { -webkit-transform: perspective(1000px); }
}

@keyframes animFlipBack {
    0% { -webkit-transform: perspective(1000px) rotate3d(1,0,0,90deg); transform: perspective(1000px) rotate3d(1,0,0,90deg); }
    100% { -webkit-transform: perspective(1000px); transform: perspective(1000px); }
}

/* Bouncy Flip adapted from animate.css by Dan Eden: http://daneden.github.io/animate.css/ */


@-webkit-keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,-90deg);
        -webkit-transition-timing-function: ease-in;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,20deg);
        -webkit-transition-timing-function: ease-out;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,-10deg);
        -webkit-transition-timing-function: ease-in;
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,5deg);
        -webkit-transition-timing-function: ease-out;
    }

    100% {
        -webkit-transform: perspective(400px);
    }
}

@keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,-90deg);
        transform: perspective(400px) rotate3d(1,0,0,-90deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,20deg);
        transform: perspective(400px) rotate3d(1,0,0,20deg);
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,-10deg);
        transform: perspective(400px) rotate3d(1,0,0,-10deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,5deg);
        transform: perspective(400px) rotate3d(1,0,0,5deg);
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

@-webkit-keyframes flipInXSimple {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
        -webkit-transition-timing-function: ease-in;
    }
    100% {
        -webkit-transform: perspective(400px);
    }
}

@keyframes flipInXSimple {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -90deg); 
        transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }
    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}