/**
 * Parsley validator
 * @class plugins
 * @author MFYance
 */
input.parsley-success,
select.parsley-success,
.select.parsley-success,
textarea.parsley-success    
    border px_to_rem(1) solid $colorSuccesss !important

input.error,
input.parsley-error,
select.parsley-error,
.select.parsley-error,
textarea.parsley-error
    color $colorError !important
    background-color $bgError !important
    border px_to_rem(1) solid $colorError !important   
    transition all ease-in-out 1s
    
.parsley-error, .parsley-type, .parsley-required, .parsley-custom-error-message  
    animation-name shake
    animation-delay 1ms
    animation-duration 200ms
    animation-iteration-count 2
    animation-timing-function linear
    -moz-animation-name shake
    -moz-animation-duration 200ms
    -moz-animation-iteration-count 2
    -moz-animation-timing-function linear
    -webkit-animation-name shake
    -webkit-animation-delay 1ms
    -webkit-animation-duration 200ms
    -webkit-animation-iteration-count 2
    -webkit-animation-timing-function linear
    

.custom_error
    .parsley-errors-list
        margin-bottom px_to_rem(14) 
.parsley-errors-list
    
    list-style-type none
    font-size px_to_rem(12.6)
    line-height px_to_rem(12.6)
    opacity 0 
    -moz-opacity 0 
    -webkit-opacity 0 
    transition all .3s ease-in !important
    -o-transition all .3s ease-in !important
    -ms-transition all .3s ease-in- !important
    -moz-transition all .3s ease-in !important
    -webkit-transition all .3s ease-in !important
    &.filled
        opacity 1
        display table        
        text-align left
        li 
            margin-top 5px
    &:empty
        margin 0
    li 
        myfont(11,$fontMI)
        color $colorError2
        position relative
        padding-left 15px
        &:before
            font-family: 'icomoon'
            content "\e609"
            position absolute
            top 1px
            left 0px