/**
 * Scroller
 * @class plugins
 * @author MFYance
 */

.ps-container
    .ps-scrollbar-x-rail
        position absolute
        bottom px_to_rem(3)
        height px_to_rem(8)
        -webkit-border-radius px_to_rem(4)
        -moz-border-radius px_to_rem(4)
        border-radius px_to_rem(4)
        opacity 0
        -o-transition background-color .2s linear, opacity .2s linear
        -webkit-transition background-color .2s linear, opacity .2s linear
        -moz-transition background-color .2s linear, opacity .2s linear
        transition background-color .2s linear, opacity .2s linear
        &.in-scrolling
            background-color #eee
            opacity 0.9
    .ps-scrollbar-y-rail
        background $green1
        border-radius px_to_rem(4)
        margin-top px_to_rem(20)
        position absolute
        right px_to_rem(3)
        transition background-color .2s linear, opacity .2s linear
        width px_to_rem(2)
        -moz-border-radius px_to_rem(4)
        -webkit-border-radius px_to_rem(4)
        -o-transition background-color .2s linear, opacity .2s linear
        -webkit-transition background-color .2s linear, opacity .2s linear
        -moz-transition background-color .2s linear, opacity .2s linear
        &.in-scrolling
            background-color $green2
            opacity 0.9
    .ps-scrollbar-x
        position absolute
        bottom 0
        height px_to_rem(8)
        background-color $green2
        -webkit-border-radius px_to_rem(4)
        -moz-border-radius px_to_rem(4)
        border-radius px_to_rem(4)
        -o-transition background-color .2s linear
        -webkit-transition background-color.2s linear
        -moz-transition background-color .2s linear
        transition background-color .2s linear
    &.ie6
        .ps-scrollbar-x
            font-size 0
        .ps-scrollbar-y
            font-size 0
    /*
    &.ie
        .ps-scrollbar-x, .ps-scrollbar-y
            visibility hidden
        &:hover
            .ps-scrollbar-x, .ps-scrollbar-y
                visibility visible
    */

    .ps-scrollbar-y
        background-color $green2
        border-radius px_to_rem(4)
        cursor pointer
        height px_to_rem(70)
        position absolute
        right px_to_rem(-3)
        transition background-color .2s linear
        width px_to_rem(7)
        -webkit-border-radius px_to_rem(4)
        -moz-border-radius px_to_rem(4)
        -o-transition background-color .2s linear
        -webkit-transition background-color.2s linear
        -moz-transition background-color .2s linear