/**
 * Slider for Botstrap
 * @module plugins
 * @author MFYance
 */

.slider
    display        inline-block
    vertical-align middle
    position       relative
    &.slider-horizontal
        width  210px
        height 20px
        .slider-track
            height     10px
            width      100%
            margin-top -5px
            top        50%
            left       0
        .slider-selection
            height 100%
            top    0
            bottom 0
        .slider-handle
            margin-left -10px
            margin-top  -5px
            &.triangle
                border-width        0 10px 10px 10px
                width               0
                height              0
                border-bottom-color #0480be
                margin-top          0
    &.slider-vertical
        height 210px
        width 20px
        .slider-track
            width       10px
            height      100%
            margin-left -5px
            left        50%
            top         0
        .slider-selection
            width  100%
            left   0
            top    0
            bottom 0
        .slider-handle
            margin-left -5px
            margin-top  -10px
            &.triangle
                border-width      10px 0 10px 10px
                width             1px
                height            1px
                border-left-color #0480be
                margin-left       0
    &.slider-disabled
        .slider-handle
            background-image  -webkit-linear-gradient(top, #dfdfdf 0%, #bebebe 100%)
            background-image  linear-gradient(to bottom, #dfdfdf 0%, #bebebe 100%)
            background-repeat repeat-x
            //filter progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdfdfdf', endColorstr='#ffbebebe', GradientType=0)
        .slider-track
            background-image  -webkit-linear-gradient(top, #e5e5e5 0%, #e9e9e9 100%)
            background-image  linear-gradient(to bottom, #e5e5e5 0%, #e9e9e9 100%)
            background-repeat repeat-x
            //filter progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe5e5e5', endColorstr='#ffe9e9e9', GradientType=0)
            //cursor not-allowed
    input
        display none
    .tooltip
        &.hide
            display none
    .tooltip-inner
        white-space nowrap
.slider-track
    position           absolute
    cursor             pointer
    background-image   -webkit-linear-gradient(top, #f5f5f5 0%, #f9f9f9 100%)
    background-image   linear-gradient(to bottom, #f5f5f5 0%, #f9f9f9 100%)
    background-repeat  repeat-x
    -webkit-box-shadow inset 0 1px 2px rgba(0, 0, 0, 0.1)
    box-shadow         inset 0 1px 2px rgba(0, 0, 0, 0.1)
    border-radius      4px
    //filter progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0)
.slider-selection
    position           absolute
    background-image   -webkit-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%)
    background-image   linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%)
    background-repeat  repeat-x
    -webkit-box-shadow inset 0 -1px 0 rgba(0, 0, 0, 0.15)
    box-shadow         inset 0 -1px 0 rgba(0, 0, 0, 0.15)
    -webkit-box-sizing border-box
    -moz-box-sizing    border-box
    box-sizing         border-box
    border-radius      4px
    //filter progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#fff5f5f5', GradientType=0)
.slider-handle
    position           absolute
    width              20px
    height             20px
    background-color   #3a94a5
    background-image   -webkit-linear-gradient(top, #149bdf 0%, #0480be 100%)
    background-image   linear-gradient(to bottom, #149bdf 0%, #0480be 100%)
    background-repeat  repeat-x
    -webkit-box-shadow inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)
    box-shadow         inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)
    opacity            0.8
    border             0px solid transparent
    filter             none
    //filter progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0)
    &.round
        border-radius 50%
    &.triangle
        background transparent none
    &.custom
        background transparent none
        &::before
            line-height 20px
            font-size   20px
            content     '\2605'
            color       #726204