/*!!
 * Account
 * @controller Account
 * @module momo
 * @author Jan Sanchez, Paul Diaz, Luis Natividad
 */

@require '../../_config/*'
@require '../../_mixins/*'



form
	color white
	//font-size rem(20px)
	padding rem(30px)
	text-align left
	#celular
		position relative
		margin-bottom rem(10px)
	#blocked
		display none
		border 2px solid white
		border-radius 5px
		padding rem(15px)
		text-align center
		p
			font-size rem(16px)
			margin 0
			line-height normal
			span
				font-family $familyMediumItalic
				color $yellow_01
	.button
		display block