/*!!
 * Account
 * @controller Account
 * @module momo
 * @author Jan Sanchez, Paul Diaz, Luis Natividad
 */

@require '../../_config/*'
@require '../../_mixins/*'

/*!!
* Index
* @controller Afiliacion
* @view Index
*/

.toloading
	position relative
	.loading
		display none
		position absolute
		top 8px
		right 6px
		width 20px
		height 20px
		&.active
			opacity 1

.box_introduction
	h3
		text-transform inherit
	h4
		letter-spacing -0.0265em
		strong
			myfont(24,$fontSBI)
			 
.cont_captcha
	+below($wrapperCell)
		margin-top 10px
		margin-bottom 10px
span.captcha
	position relative
	padding-bottom 4px
	display inline-block
	myfont(14,$fontM)
	i
		font-size 21px
		margin-left 5px
		vertical-align -3px
	.info
		position absolute
		bottom 38px
		left -38px
		width 100px
		height auto
		background $hover_01
		text-align center
		padding 10px
		vertical-align middle
		border-radius 4px
		p
			color white			
			myfont(12,$fontMI)
			display table-cell
			vertical-align middle
		&:after
			content ''
			position absolute
			top 100%
			left 50%
			margin-left -8px
			width 0
			height 0
			border-top 8px solid $hover_01
			border-right 8px solid transparent
			border-left 8px solid transparent
.refresh
	transition color .3s ease-in-out
	&:hover
		color $yellow_01
.expiry
	position relative
	display inline-block
	sprite($question)
	margin-left 5px
	vertical-align -5px
	> img
		position absolute
		display none
		left 50%
		bottom 12px
		max-width none
		margin 0 0 0 -118px


.box_introduction.toresponsive
	+below($wrapperTablet)
		figure
			position relative
			text-align center
			padding 70px 0
			margin 0 auto
			img
				display none !important
		img.main
			margin 0
			position absolute
			top 68px
			opacity 0.35
			+below($wrapperCell)
				opacity 0.15 !important
				top inherit !important
				bottom -158px !important
		.affiliated_establishments
			
			a 
				display block				
				text-align: center
				padding-bottom: 15px
			ul
				width 100%

.box_form
	.titulo
		margin-bottom 5px		
		border-bottom 1px solid #fff		
		label
			padding-bottom 3px
			padding-left 10px
			opacity 1
			color white
			vertical-align middle
			myfont(22, $fontMI)			

#countdown
	position fixed
	top 0
	left 0
	display none

.affiliated_establishments
	padding 30px 0
	position relative
	z-index 2
	+below($wrapperTablet)
		display none !important
	img		
		max-width 100px
	li:last-child
		img
			max-width 70px
&.centros
	li:last-child
		img
			max-width inherit !important
			
.tocheckbox
	li
		margin-bottom 10px