/*!!
 * Home
 * @controller Home
 * @module momo
 * @author Jan Sanchez, Paul Diaz, Luis Natividad
 */

@require '../../_config/*'
@require '../../_mixins/*'

/*!!
* Index
* @controller Home
* @view Index
*/

.box_searching
	background $green5
	height rem(490px)
	position relative
	text-align center

.first_title
	color $white
	font px_to_rem_font(38.5,39.2,$family2)
	margin rem(154px 0 14px)
	text-shadow rem(0 0 4px) $grey80
	span
		color $orange