/*!!
 * pagoEfectivo
 * @controller pagoEfectivo
 * @module momo
 * @author Luis Natividad
 */

@require '../../_config/*'
@require '../../_mixins/*'

/*!!
* Index
* @controller pagoEfectivo
* @view 
*/

p
	margin 0
.content_box
	overflow hidden
	margin-bottom rem(35px)
	font-family Arial, Helvetica
.content_bottom
	overflow hidden
	margin-bottom rem(48px)
.content_main
	margin 36px 0 48px
.order_message
	text-align center
	font-family Helvetica, Arial
	h4
		font-size rem(20px)
	p
		font-size rem(14px)
		line-height rem(18px)
.bold
	font-weight 700
.background_information
	background-image url($imgPath+"info_background.png")
	background-repeat repeat
	padding rem(9px)
	border-radius 15px
	-webkit-border-radius 15px
	-moz-border-radius 15px
	//behavior url($othersPath + 'pie/PIE.htc')
	overflow hidden
	.content_info
		background #79e5fc
		width 100%
		height 100%
		border-radius 8px
		-webkit-border-radius 8px
		-moz-border-radius 8px
		//behavior url($othersPath + 'pie/PIE.htc')
		font-size rem(17px)
		line-height 24px
		font-family $familyTheGreatEscapeBold	
.print_button
	float right
	button
		width rem(124px)
		height rem(34px)
		background $black_32
		border-radius 3px
		-webkit-border-radius 3px
		-moz-border-radius 3px
		//behavior url($othersPath + 'pie/PIE.htc')
		border 0
		color white
		font-family $familyMediumItalic
		padding-bottom 3px
		span
			sprite($print)
			display inline-block
			position relative
			top 4px
			left 4px	
.code
	width rem(275px)
	height rem(101px)
	background #e5e5e5
	padding rem(20px)
	text-align center
	border-radius 5px
	-webkit-border-radius 5px
	-moz-border-radius 5px
	//behavior url($othersPath + 'pie/PIE.htc')
	margin-top 8px
	display inline-block
	vertical-align top
	h4
		font-family $familyMedium
		margin 0
		font-weight 800
		width 100%
		font-size rem(21px)
		color black
	.line
		sprite($line_code)
		width rem(166px)
		margin 0 auto

.payment_header
	background $yellow_01
	height rem(73px)
	padding 25px 10px
	position relative
	display none
	img
		display block
		position absolute
		top rem(10px)
		left rem(15px)
	h4
		width 100%
		text-align center
		font-family $familyMediumItalic
		font-size rem(19px)
	.print_button
		position absolute
		right 10px
		top 20px
	&.block
		display block
.payment_summary
	height rem(308px)
	border 1px solid black
	margin-top rem(42px)
	font-family Arial,Tahoma
	&.commerce
		margin-top rem(17px)
	.content_payment_summary
		height rem(221px)
		padding 6px
		.payment_code
			float left
			width rem(625px)
			.logo_pagoefectivo_black
				width rem(188px)
				height rem(180px)
				padding 60px 26px
				float left
			.info_code
				float right
				width rem(436px)
				height rem(180px)
				font-size rem(26px)
				padding 50px 20px 0 60px
				font-weight 700
				span
					display block
					font-size rem(37px)
					font-weight bold
				&.other_style
					padding 70px 0 0 70px
					span
						display block
						margin 0
			.restrictions
				font-size rem(10px)
				text-align center
			.total_pay_movil
				display none
				text-align center
				padding rem(12px)
				h4
					display inline-block
					font-size rem(22px)
					font-weight bold
					margin 0
				span
					font-size rem(25px)
					&.igv
						display block
						font-size rem(14px)
				.payment_date
					margin 0 auto
					font-size rem(12px)
		.total_pay
			float right
			background $gray_d0
			width rem(321px)
			height rem(206px)
			padding 26px 0
			text-align center
			h4
				font-size rem(31px)
				font-weight bold
				margin 0
			span
				font-size rem(25px)
			.payment_date
				border-top 1px solid black
				padding-top rem(18px)
				width rem(220px)
				margin 0 auto
				margin-top rem(13px)
				font-size rem(15px)
			&.other_style
				padding-top rem(71px)
	.info_payment_summary
		border-top 1px solid black
		padding 6px
		.content_info
			background $yellow_01
			height rem(72px)
			.logo_info_left
			.logo_info_right
				width rem(72px)
				height rem(72px)
				padding rem(14px)
				span
					sprite($info)
					display block
			.logo_info_left
				float left
			.logo_info_right
				float right
					
			p
				width rem(798px)
				float left
				text-align center
				font-size rem(16px)
				line-height rem(22px)
				padding-top rem(14px)
.payment_methods
	margin-top rem(7px)
	p
		font-size rem(20px)
		text-align center
	h4
		background black
		color white
		text-align center
		font-family $familyMedium
		font-weight bold
		font-size rem(20px)
		margin 0
	.content_payment_methods
		margin-top rem(12px)
		margin-bottom rem(10px)
		&.other_style
			padding rem(20px)
		.places
			margin-top rem(26px)
			overflow hidden
			.place
				width 191.5px
				float left
				margin 0
				span
					display inline-block
					vertical-align top
					&.internet
						sprite($internet)
					&.agentes
						sprite($agentes)
					&.agencias
						sprite($agencias)
					&.cajeros
						sprite($cajeros)
					&.icon
						position relative
						top -3px
						margin-right 4px
		.accordion_affiliated_office
			margin-top rem(10px)
	.print_button_payment_bottom
		position absolute
		bottom 49px
		right 0
	h2
		font-size rem(20px)
		font-family $familyMediumItalic
		text-align center
		width 100%
		margin-top rem(45px)

.accordion
	height rem(46px)
	border 1px solid black
	margin-top -1px
	position relative
	.logo
		width rem(120px)
		text-align center
		img
			height rem(44px)
	span
		cursor pointer
		position absolute
		right 10px
		top 8px
		font-size rem(24px)
		font-family "Times New Roman", Tahoma
	.cajero
		position absolute
		right rem(125px)
		top rem(6px)
.container
	display none
	overflow hidden
	padding 10px 0 21px 
	font-family Arial, Tahoma
	font-size rem(13px)
	h6
		font-weight bold
		line-height rem(16px)
		font-size rem(13px)
		margin 0
	ul
		margin 0
		li
			line-height rem(16px)
	&.first_item
		display block
	.content
		width rem(768px)
		float right
	.place_steps
		float left
		width 191.5px
		padding 5px
		&.empty
			height rem(32px)

@media screen and (max-width: rem(720px))
	body
		min-width 100%
	.order_message
		display none
	.payment_header
		height rem(53px)
		display block
		img
			top rem(5px)
			left rem(15px)
			width rem(101px)
			height rem(41px)
		h4
			text-align right
			font-size rem(17px)
			margin-top -8px
	.payment_summary
		margin-top rem(28px)
		height auto
		border 1px solid black
		.content_payment_summary
			height auto
			text-align center
			padding 0
			.payment_code
				float none
				width 100%
				.logo_pagoefectivo_black
					display none
				.info_code
					float none
					padding-top 27px
					width auto
					height auto
					span
						margin-left 0
						display block
					.product
						display none
				.restrictions
					border-top 1px solid black
					font-size rem(11px)
					text-align center
					padding 5px 21px
				.total_pay_movil
					display block
			.total_pay
				display none
		.info_payment_summary
			.content_info
				height auto
				overflow hidden
				.logo_info_right
				.logo_info_left
					width rem(58px)
					height rem(58px)
					span
						sprite($info_movil)	
				p
					width 81%
	.payment_methods
		.content_payment_methods
			p
				font-size rem(15px)
				width 100%
				text-align center
			.places
				display none

		h2
		.print_button_payment_bottom
			display none
	.accordion
		border 0
		border-top 1px solid black
		border-bottom 1px solid black
		.cajero
			left rem(120px)
	.container
		.content
			width 100%
			float none
			padding 0 15px
			.place_steps
				float none
				width 100%
	.print_button
		display none
@media screen and (max-width: rem(640px))
	.payment_summary
		.info_payment_summary
			.content_info
				p
					width 75%
@media screen and (max-width: rem(540px))
	.payment_summary
		.info_payment_summary
			.content_info
				p
					width 70%
@media screen and (max-width: rem(480px))
	.payment_summary
		.info_payment_summary
			.content_info
				p
					width 68%