/*!!
 * peMovil
 * @controller peMovil
 * @module momo
 * @author Jan Sanchez, Paul Diaz, Luis Natividad
 */

@require '../../_config/*'
@require '../../_mixins/*'

/*!!
* Index
* @controller peMovil
* @view Index
*/ 

.minibanner
	position relative
	background-color $yellow_01
	margin 0 auto
	padding 14px 0
	.description
		max-width 800px
		margin 0 auto
		text-align center
		p
			color black
			font-family Arial 
			font-size 13px 
			strong 
				font-family Arial 
				font-weight bold
	i	
		position absolute
		sprite($pin)
	i:nth-child(1)
		top 50%
		left 35px
		transform translate(-50%,-50%)
	i:nth-child(2)		
		top 50%
		right -8px
		transform translate(-50%,-50%)

.dash_cont_box
	padding 0 !important
	max-width: 700px
	center(480px)

	.inp_price
		font-size 26px
		border 1px solid $gray_6c

.content_box
	overflow hidden
	margin-bottom rem(35px)
.content_bottom
	overflow hidden
	margin-bottom rem(48px)
.content_main
	margin 36px 0 48px
nav:not(.menu)
	background $yellow_01
	height 77px
	font-family $familyMediumItalic
	box-shadow 0px 11px 75px rgb(168, 166, 166)	
	+below($wrapperDashboard)
		width 100%
		float none	
	ul
		height 77px
		list-style none
		overflow hidden
		float right
		+below($wrapperDashboard)
			width 100%
			float none	
		li
			width 200px
			float left
			text-align right
			height 77px
			+below($wrapperDashboard)
				width 25% !important
			a
				height 77px
				padding-top 20px
				display block
				text-align center
			span
				display inline-block
				&.saldos
					sprite($saldos)
				&.recargas
					sprite($recargas)
				&.datos
					sprite($datos)
				&.beneficios
					sprite($beneficios)
			h4
				margin-left 10px
				text-align left
				display inline-block
				font-size 18px
				vertical-align top
				margin-top 14px
				+below($wrapperDashboard)
					display none
			&.element_saldos
				h4
					margin-top 0px
				span
					margin-top 2px
			&.element_recargas
				span
					margin-top 7px
			&.element_beneficios
				width 150px
			&.active
				background white			

#menu_usuario
		+below($wrapperMenu)
			display none
			
section
	&.welcome
		background #08637f
	.principal_content
		height 615px
		width 1300px
		margin 0 auto
		background url($imgPath+"background_bienvenida_last.jpg")
		position relative
		.text_content
			width 500px
			position absolute
			right 174px
			top 36px
			font-family $familyMediumItalic
			h3
				text-transform none
				font-size 28px
				color white
				span
					color $yellow_nav
			p
				margin-top 64px
				color white
				font-size 18px
				text-align center
				a
					text-decoration underline
			.box_video
				margin-top 30px
				width 500px
				height 340px
				border 5px solid #204656
				border-radius 5px
			.options
				margin-top 20px
				text-align center
				button
					margin 0 5px
					width 170px
					height 45px
					border 0
					border-radius 5px
					&.tour
						background #44aec7
					&.perfil
						background #6be3ff
	h4
		font-family $familySemiBoldItalic
		font-size 23px
	.recharge_code_info
		background #f0c83e		
		width 100%
		padding 20px
		margin-top 10px
		.mytable
			width 100%
			display table
			>div
				width 50%
				vertical-align middle
				display table-cell
				+below($wrapperCell)
					display block
					width 100%
		h5			
			font-family $familyMedium
			font-weight bold
			&.left
				float left
				width 320px
				text-align left
			&.right
				float right
				width 300px
				text-align right
				padding-top 25px
			.price
				font-size 30px
	.user_data
		overflow hidden
		margin-top 10px
		.edit_data_info
			background url($imgPath + "edit_data_info.png")
			width 238px
			height 163px
			font-size 16px
			padding 30px 0px 0px 25px
			font-family $familyMedium
			strong
				font-family $familySemiBoldItalic
		.content_data
			padding 15px 20px
			margin 10px 0
			width 680px
	.personal_data
		margin-top 10px
		.left
			padding 15px 20px
			width 50%
			&.column_right
				padding-right 0 
	.btn_edit_user_data
		width 200px
		float right
		margin-bottom 20px

.banner
	width rem(693px)
	height rem(35px)
	position absolute
	top 0
	right 0
	.banner_left
		sprite($banner_background_left)
		display inline-block
	.content_banner
		background-image url($imgPath+"banner_background.jpg")
		background-repeat repeat-x
		text-align center
		width rem(625px)
		display inline-block
		vertical-align top
		margin-left rem(-4px)
		font-size rem(17px)
		padding-top rem(4px)
		.img_visa_card
			sprite($visa_card)
			display inline-block
		.text
			font-family $familyMediumItalic
			display inline-block
			vertical-align top
			padding-top rem(4px)
			margin-left rem(5px)
			.card_name
				font-family $familySemiBoldItalic
				color #085394
				margin-right rem(15px)
			a
				border-bottom 1px solid black
			.right_indicator
				sprite($right_indicator)
				display inline-block
				position relative
				top rem(2px)
				left rem(10px)
	.banner_right
		sprite($banner_background_right)
		display inline-block
		vertical-align top
		
.main_content
	width rem(690px)
	margin-left rem(20px)
	float right
	&.margin_top
		margin-top rem(10px)
	h4
		font-size rem(23px)
		font-family $familySemiBoldItalic
		&.visa_card_confirmation_title
			font-family $familyMedium
			font-weight bold
			font-size rem(26px)
		&.margin_top
			margin-top rem(32px)
	p
		font-size rem(20px)
		line-height rem(24px)
		font-family $familyMedium
		.italic
			font-family $familySemiBoldItalic
	ul.affiliated_merchant
		overflow hidden
		margin-bottom rem(21px)
		li
			border 1px solid lightgray 
			height rem(88px)
			col(1/3, 0, 3)
			margin-bottom rem(12px)
	.all_affiliated_merchant
		text-decoration underline
		float right
		margin-bottom rem(120px)

	.introduction_layer
		float right
		.message
			margin 0 11px 42px 0
			padding 23px 0
			background $yellow_f5
			height rem(140px)
			border-top-left-radius 5px
			border-top-right-radius 25px
			border-bottom-left-radius 5px
			p
				font-size rem(32px)
				font-family $familySemiBoldItalic
				font-style italic
				text-align center
				line-height rem(32px)
				letter-spacing -1px
			span
				position relative
				display block
				sprite($message_background)
				right rem(-10px)
				bottom rem(-21px)
				float right
		.video
			display block
	.available_balance
		padding 20px 27px
		float right
		margin-bottom rem(50px)
		strong
			margin-left 5px
	.space_left
		padding-left rem(15px)
	.summary_table
		border 1px solid black
		height rem(211px)
		padding 20px 15px
		td
			font-family $familyMedium
			font-size rem(20px)
			&.parameters
				font-weight 600
	&.content_first_access
		width rem(443px)

.main_content_recharge
	width 100%
	margin-left rem(0px)
	margin-bottom rem(21px)
	+below($wrapperTablet)
		margin-top 30px
	form
		padding 0px !important
	h4
		font-size rem(23px)
		font-family $familySemiBoldItalic
	p
		line-height rem(24px)
		myfont(20,$fontM)
		
.recharge_step
	border 1px solid #a9a9a9
	padding 30px
	margin-bottom 15px
	
	h4
	p 
		font-size rem(20px)
		display inline-block
		margin-right rem(23px)
	span 
		myfont(14,$fontM)
		color $gray_6c
			
		&.code_number	
			myfont(20,$fontM)
			color black

.step1
	.recharge_amount
		margin-top rem(40px)
		text-align center
		.label_recharge_amount
			display inline-block
			width rem(270px)
			p
				font-size rem(18px)
				color black
			span 
				color #595959
				font-size rem(15px)
				font-family $familyMedium
		.input_recharge_amount
			display inline-block
			vertical-align top
			input 
				myfont(18,$fontM)
				color black
				width 100%
				height rem(43px)
				background #d6d6d6
				border 0
				padding rem(10px)
				border-radius 2px					
				//behavior url($othersPath + 'pie/PIE.htc')
		.button_yellow
			display inline-block
			vertical-align top
			margin-top -5px
			width rem(152px)
					
	.recharge_code
		margin-top rem(24px)
		p
			font-size rem(20px)
			width 100%
			color black
		.code
			h4
				font-size rem(21px)
			.base_digits
			.cell_number
				myfont(14,$familyMedium)					
				width rem(64px)
				display inline-block
				vertical-align top
				color black
			.cell_number
				width rem(108px)
		.arrow_code_info
			position relative
			top -90px
			left -58px
			sprite($arrow)
		.info_recharge_code
			display inline-block
			vertical-align top
			width rem(334px)
			height rem(109px)
			.content_info
				padding 12px 0 0 24px
.step2
	width 100%
	padding 20px
	h4
		padding-left 0
		
.affiliated_office
	margin-top 20px
	overflow hidden
	.office
		col(1/5, 0, 5)
		margin-bottom rem(25px)
		.logo
			text-align center
		.button
			width 100%
			margin-top 10px
			text-align center
			button
				sprite($buttton_steps_background)
				border 0
				font-size rem(14px)
				padding-left 0
					
.download_cartilla
	margin-right 10px
	position relative

.info_recharge_text
	myfont(18,$fontM)
	margin 10px 0 
	
/*
	steps guide
*/
.steps_guide
	display none
	position relative
	z-index 999
	top 0
	left 200px
	.step
		display inline-block
		vertical-align top
		margin 20px
		position absolute
		.content_img
			.arrow_left
				display inline-block
				sprite($arrow_white_left)
				vertical-align top
				margin-top -21px
				margin-right 5px
			.content_step_tour
				background url($imgPath + "content_step_tour.png")
				width 224px
				height 118px
				vertical-align top
				display inline-block
				font-size 18px
				padding 15px
				color white
				font-family $familyTheGreatEscapeBold
			.arrow_right
				display inline-block
				sprite($arrow_white_right)
				vertical-align top
				margin-top -21px
				margin-left 5px
		.options
			margin-top 10px
			width 221px
			float right
			.prev
				float left
				cursor pointer
				.icon
					sprite($prev)
					display inline-block
			.next
				float right
				cursor pointer
				.text
					font-family $familyTheGreatEscapeBold
					margin-right 10px
					color white
					font-size 14px
				.icon
					sprite($next)
					display inline-block
		&.step_one
			top 69px
			left 218px
			display none
		&.step_two
			top 69px
			left 433px
			display none
		&.step_three
			top 69px
			left 433px
			display none
			.content_step_tour
				padding 15px 32px
			.options
				float left
		&.step_four
			top 69px
			left 622px
			display none
			.content_step_tour
				padding 15px 28px
			.options
				float left
			

/*
	form control
*/
*:focus
	outline 0
.left
	float left
.right
	float right
hr
	&.line
		border-top 1px solid lightgray
		width 680px
.new_form_control_edit
.new_form_control
	font-size 17px
	font-family $familyMedium
	padding 3px 0
	.form_label
		display inline-block
		vertical-align top
		width 205px
	.form_text
		display inline-block
		vertical-align top
		&.disabled
			color #737373
			a
				font-size 12px
				text-decoration underline
				margin-left 30px
				
.new_form_control_edit
	padding 5px 0
	.form_label
		margin-top 5px
		&.small
			width 150px
	.form_text
		.text_input
			background #dddddd
			border-radius 3px
			&.inline
				display inline-block
				width 221px
				vertical-align top
				input
					width 100%
					
			input
				background #dddddd
				border none
				height 32px
				padding-left 10px
				width 126px
				font-family $familyMedium
				font-size 17px
				&:focus
					outline 0
					
			span
				sprite($picker)
				display inline-block
				margin 3px 5px 0px 3px
				cursor pointer
				
		.select_input
			background #dddddd
			&.small
				width 80px
				display inline-block
			ul
				position relative
				li
					&.option_selected
						height 32px
						padding 5px 10px
						width 176px
						cursor pointer
						border 1px solid #D2D1D1
						border-radius 3px
						&.large
							width 305px
						&.small
							width 80px
						span
							sprite($select)
							display block
							float right
							margin-top -13px
					&.content_options
						display none
						background #e2e1e1
						color #302f2f
						font-family $familyMedium
						z-index 999
						position absolute
						width 100%
						font-size 15px
						border-bottom-left-radius 5px
						border-bottom-right-radius 5px
						overflow hidden
						.list_options
							.option
								background #EAE7E7
								padding 5px 10px
								cursor pointer
								&:hover
									background #cdcccc
						&.active
							display block
		
		.radio_input
			margin-top 5px
			span
				margin-left 5px
				margin-right 20px
				margin-top 2px

.dashboard
	margin-bottom 50px
	+below($wrapperTablet)
		margin 20px auto
	+below($wrapperCell)
		margin-top 20px
		
.recharge_mount
	.monto
		display none
	.inp_price
		display block
	&.noedit
		.monto
			display inline-block !important
			.miniloading
				width 20px
				height 20px
		.inp_price
			display none !important
			
.cont_mask
	display inline-block

.monto
	margin-top 10px
	myfont(32,$fontMI)
	text-align center
	display block
	color black
			
.dashboard_left
	h4
		myfont(19,$fontM)
		display block
	h4+em
		word-wrap break-word
		myfont(22,$fontM)
		
	h5
		myfont(19,$fontMI)
		display block
		text-align left
		
	.recharge_code
		background $yellow_01
		padding 20px
		+below($wrapperCell)
			margin-bottom 10px
		span
			font-size 17px
			font-family $familyMedium
	.sold
		padding 20px
		background #eaeaea
		+below($wrapperCell)
			margin-bottom 10px
						
	.recharge_mount			
		background $yellow_01
		padding 20px
		text-align center
		margin 1px auto
		.cont_recargando 
			padding 10px 0
			button
				myfont(16,$fontMI)
				&.active
					background-color $hover_01
		+below($wrapperCell)
			margin-bottom 10px
		span
			display block
			&.label					
				myfont(16,$fontMI)
			&.info
				myfont(12,$fontM)
				color #434343
				margin-top 5px
			&.mount
				myfont(32,$fontMI)
		button
			border-radius 3px
			color white
			width 124px
			height 34px
			background #434343
			border 0
			margin-top 5px
	
.dashboard_right		
	.dashboard_control
		overflow hidden
	.dashboard_item
		border 1px solid #b3b3b3
		height 265px
		overflow hidden
		position relative
		+below($wrapperTablet)
			margin-bottom 10px
			
.dashboard_item_header
	background #dddddd
	height 50px	
	line-height 27px
	myfont(17,$fontMI)					
	color #222221
	padding 10px
	span
		margin-right 6px
		display inline-block
		vertical-align top
		&.icon_movimientos
			sprite($movimientos)
		&.icon_cuentas
			sprite($cuentas)
		&.icon_notificaciones
			sprite($notificaciones)
		&.text
			display inline-block
			vertical-align top
			line-height 1.5em 
			
.amount_recharge
	myfont(20,$fontMI)					
	color $gray_02
	 
			
.dashboard_item_content
	.mitable
		display table
		width 100%
		padding 7px 3px
	.date
		myfont(9,$fontM)
		display inline-block
		text-align left	
		color #6e6d6d
		padding 0 4px 0 4px
		text-align center
		width 45px
	.text
		myfont(11,$fontM)
		display inline-block
		text-align left
	.price
		myfont(12,$fontM)
		display inline-block
		float right 
		margin-right 5px 							
		&.red
			color red
			white-space nowrap
	div
		display table-cell
		vertical-align middle

	ul
		li							
			font-family $familyMedium
			overflow hidden
			padding 7px 0 
			&:nth-child(even)
				background #f3f3f3

	.notification_text
		padding 3px 10px
		font-size 13px
	a
		float right
		font-family $familyMedium
		text-decoration underline
		font-size 14px
		margin-right 10px

	&.last_movements
		ul 
			li 
				height 42px
					
	&.associate_account
		ul
			li
				height 56px
				.text
					font-size 12px
					margin-right 5px 
									
.more_general										
	padding 14px 5px 10px 5px
	text-align right
	a
		myfont(14,$fontM)
		text-decoration underline
		
.recharge_steps
	width 100%
	margin 20px auto
	border 1px solid #b3b3b3
	+below($wrapperCell)
		margin-top 0px		
	.recharge_steps_header
		background #dddddd
		font-family $familyMediumItalic
		font-size 17px
		//height 51px
		color #222221
		padding 15px 0px
		text-align center
		
.content_recharge_steps
	//height 152px
		
.content_recharge_steps_list
	padding 10px 0 0 10px
	margin-right 0
	display inline-block
		
.content_recharge_steps_nets
	width 40%
	h4 
		margin-top 10px
		font-size 12px	

.step_recharge
	margin-bottom 10px
	.number
		background $yellow_01
		border-radius 12px
		display inline-block
		font-family $familyMedium
		font-size 15px
		font-style italic 
		font-weight 600
		height 24px
		padding 4px 8px
		width 24px
	.step_text
		font-family $familyMedium
		font-size 14px
		margin-bottom 10px
		//height 40px 
		display table-cell
		vertical-align middle
	
.background_information
	background-image url($imgPath+"info_background.png")
	background-repeat repeat
	padding rem(9px)
	border-radius 15px
	-webkit-border-radius 15px
	-moz-border-radius 15px
	//behavior url($othersPath + 'pie/PIE.htc')
	overflow hidden
	.content_info
		color black
		background $yellow_01
		width 100%
		height 100%
		border-radius 8px
		-webkit-border-radius 8px
		-moz-border-radius 8px
		//behavior url($othersPath + 'pie/PIE.htc')
		font-size rem(17px)
		line-height 24px
		font-family $familyTheGreatEscapeBold

.dashboard_over
	font-family $familyMedium
	position absolute
	text-align center
	margin-top -1px
	p
		background $yellow_01 
		border-top 1px solid white 
		height 60px
		margin-top 0
		myfont(14,$fontM)
		width 100% 
		span 
			display table-cell
			height 60px
			vertical-align middle
			line-height 1.2em 
	img 
		width 100% 
		
.dashboard_slider
	.dashboard_slider_item
		position relative
		img
			position relative
			
		p 
			position absolute
			background rgba(0, 0, 0, 0.5) !important
			color white
			bottom 17px
			span 
				height 60px
				vertical-align middle
				display table-cell
		
.dashboard_description
	background rgba(0, 0, 0, 0.5) !important
	border-top 1px solid transparent !important
	bottom 60px
	color white
	display block
	height 60px
	myfont(14,$fontM)
	position absolute
	width 100%
	z-index 15
		
.dashboard_slider
	.dashboard_slider_item
		position relative
		img
			position relative
			width auto !important
			
		p 
			position absolute
			background rgba(0, 0, 0, 0.5) !important
			color white
			bottom 17px
			span 
				height 60px
				vertical-align middle
				display table-cell
		
.dashboard_description
	background rgba(0, 0, 0, 0.5) !important
	border-top 1px solid transparent !important
	bottom 60px
	color white
	display block
	height 60px
	myfont(14,$fontM)
	position absolute
	width 100%
	z-index 15
	  
.tobuts
	text-align right	
			
.code
	width rem(380px)
	background #e5e5e5
	padding rem(20px)
	text-align center
	border-radius 5px
	-webkit-border-radius 5px
	-moz-border-radius 5px
	//behavior url($othersPath + 'pie/PIE.htc')
	margin-top 8px
	display inline-block
	vertical-align top
	margin auto 
	display block
	h4
		font-family $familyMedium
		margin 0
		font-weight 800
		width 100%
		font-size rem(21px)
		color black
	.line
		width rem(166px)
		margin 0 auto 10px
.balances_content
	margin 20px auto
	.btn_print_balances
		display inline-block
		+below($wrapperCell)
			display block
			width 100%
			display none		
		.print
			+below($wrapperCell)
				width 100%					
	.select_download		
		display inline-block
		margin-right 10px
		+below($wrapperCell)
			display block
			width 100%
		.select_list
			position relative
			min-width 160px
			.select_title
				background $black_32
				padding 10.5px 35px 10.5px 12px
				border-radius 3px
				border none
				color white				
				font-family $familyMediumItalic
				font-size 16px
				position relative
				cursor pointer
				text-align left
				&:focus
					outline 0px
				span.icon_select
					position absolute
					sprite($select_white)
					display block
					right 10px
					top 46%
			.select_content
				display none
				background #e2e1e1
				color #302f2f
				font-family $familyMedium
				z-index 999
				position absolute
				width 100%
				font-size 15px
				border-bottom-left-radius 5px
				border-bottom-right-radius 5px
				overflow hidden
				ul
					li
						display block
						cursor pointer
						position relative
						text-align left
						&:hover
							background #cdcccc
						.text_option
							padding 6px 11px
							display block
						.download_icon
							display none
							position absolute
							right 8px
							top 4px
							sprite($download_icon)
		
	table
		&.table_balances
			font-family $familyMedium
			font-size rem(14px)
			thead
				background $black_32
				color white 
				font-size rem(15px)
				tr
					text-align left
					th
						padding 12px 10px
						&.date
							width rem(125px)
						&.description
							width rem(710px)
						&.amount
							text-align center
			tbody
				tr
					border-bottom 1px solid gray
				td
					padding 10px 10px
					span
						display block
					&.negative
						color red
				.price
					text-align right
					padding-right 27px
					
			.col_2:last-child
				text-align right

#mdl_steps_to_guide
	width 557px
	.code
		padding-top 15px
	.left
		margin-right 1px
	.right
		margin-left 1px
		.symbol
			position absolute
			right rem(167px)
			top rem(94px)
			font-size rem(18px)
	h5
		font-family $familyMedium
		font-size rem(18px)
	.left_column
		float left
	.right_column
		float right
	.left_column
	.right_column
		width rem(260px)
		color black
		p
			font-size 14px
			font-family $familyMedium
	.button_imprimir
		text-align center
		button
			margin-top 42px
			width rem(358px)
			span
				sprite($print_white)
				display inline-block
				position relative
				top 4px
				left 4px

.affiliated_office_logo
	img 
		display block 
		margin auto
			
.payment_header
	background $yellow_01
	height rem(73px)
	margin-top rem(25px)
	padding 25px 10px
	position relative
	img
		position absolute
		top rem(-26px)
		left rem(20px)
	h4
		width 100%
		text-align center
		font-family $familyMediumItalic
		font-size rem(19px)
	.print_button_payment
		position relative
		top rem(-38px)
.payment_summary
	height rem(308px)
	border 1px solid black
	margin-top 32px
	font-family Arial,Tahoma
	.content_payment_summary
		height rem(221px)
		padding 6px
		.payment_code
			float left
			width rem(625px)
			.logo_pagoefectivo_black
				width rem(188px)
				height rem(180px)
				padding 18px 26px
				float left
			.info_code
				float right
				width rem(436px)
				height rem(180px)
				font-size rem(20px)
				padding 42px 20px 0
				font-weight 500
				span
					margin-left rem(20px)
					font-size rem(37px)
					font-weight bold
				.product
					margin-top rem(18px)
					line-height rem(24px)
				&.other_style
					padding 70px 0 0 70px
					span
						display block
						margin 0
			.restrictions
				font-size rem(10px)
				text-align center
			.total_pay_movil
				display none
				text-align center
				padding rem(12px)
				h4
					display inline-block
					font-size rem(22px)
					font-weight bold
					margin 0
				span
					font-size rem(25px)
					&.igv
						display block
						font-size rem(14px)
				.payment_date
					margin 0 auto
					font-size rem(12px)
		.total_pay
			float right
			background $gray_d0
			width rem(321px)
			height rem(206px)
			padding 26px 0
			text-align center
			h4
				font-size rem(31px)
				font-weight bold
				margin 0
			span
				font-size rem(25px)
			.payment_date
				border-top 1px solid black
				padding-top rem(18px)
				width rem(220px)
				margin 0 auto
				margin-top rem(13px)
				font-size rem(15px)
			&.other_style
				padding-top rem(71px)
	.info_payment_summary
		border-top 1px solid black
		padding 6px
		.content_info
			background $yellow_01
			height rem(72px)
			.logo_info_left
			.logo_info_right
				width rem(72px)
				height rem(72px)
				padding rem(14px)
				span
					sprite($info)
					display block
			.logo_info_left
				float left
			.logo_info_right
				float right
					
			p
				width rem(798px)
				float left
				text-align center
				font-size rem(16px)
				line-height rem(22px)
				padding-top rem(14px)
.payment_methods
	margin-top rem(7px)
	p
		font-family Arial, Tahoma
		font-size rem(19px)
	h4
		background black
		color white
		text-align center
		font-family $familyMedium
		font-weight bold
		font-size rem(20px)
		margin 0
	.content_payment_methods
		&.other_style
			padding rem(20px)
		.top_content
			background $gray_d0
			height rem(89px)
			padding 23px 0
			margin-bottom rem(20px)
			strong
				font-family Arial, Tahoma
				font-weight bold
			.logo_pagoefectivo_movil
				width rem(120px)
				float left
				margin-top rem(-11px)
				span
					sprite($logo_pagoefectivo_movil)
					display block
					margin 0 auto
			.recommendation
				float left
				width rem(659px)
				text-align center
				line-height rem(22px)
				span
					font-size rem(17px)
					display block
			.button_yellow
				width rem(151px)
				float right
				margin-right rem(15px)
			.gift_movil
				display none
		.places
			margin-top rem(26px)
			overflow hidden
			.place
				col(1/5, 0, 5)
				span
					display inline-block
					vertical-align top
					&.internet
						sprite($internet)
					&.agentes
						sprite($agentes)
					&.agencias
						sprite($agencias)
					&.cajeros
						sprite($cajeros)
					&.icon
						position relative
						top -3px
						margin-right 4px
		.accordion_affiliated_office
			margin-top rem(10px)
	.print_button_payment_bottom
		position absolute
		bottom 49px
		right 0
	h2
		font-size rem(20px)
		font-family $familyMediumItalic
		text-align center
		width 100%
		margin-top rem(45px)

.accordion
	height rem(46px)
	border 1px solid black
	margin-top -1px
	img
		height 100%
		margin-left 5px
	span
		float right
		margin 8px 16px
		font-size rem(24px)
		font-family "Times New Roman", Tahoma
.container
	display none
	overflow hidden
	padding 10px 0 21px 
	font-family Arial, Tahoma
	font-size rem(13px)
	h6
		font-weight bold
		line-height rem(16px)
		font-size rem(13px)
		margin 0
	ul
		margin 0
		li
			line-height rem(16px)
	&.first_item
		display block
	.content
		width rem(768px)
		float right
	.place_steps
		col(1/4,0,4)
.button_save_file
	display none
	text-align center
	margin-top rem(30px)
	button
		width rem(273px)
		height rem(34px)
		background $black_32
		border-radius 3px
		-webkit-border-radius 3px
		-moz-border-radius 3px
		//behavior url($othersPath + 'pie/PIE.htc')
		border 0
		color white
		font-family $familyMediumItalic
		padding-bottom 3px
.not_found_page
	margin 93px 0 167px 150px
	font-family $familyMedium
	font-weight 100
	p
		margin 0
		display inline-block
	h2
		font-size rem(24px)
		text-transform uppercase
		font-family $familyMediumItalic
	ul
		margin-left rem(22px)
		span
			width rem(6px)
			height rem(6px)
			display inline-block
			background $yellow_01
			margin-right rem(9px)
	.button_yellow
		position relative
		top rem(26px)
		left rem(24px)
		width rem(207px)
		display inline-block
@media screen and (max-width: rem(720px))
	body
		min-width 100%
	.payment_header
		height rem(53px)
		padding-top rem(18px)
		margin-top rem(16px)
		img
			width rem(80px)
			height rem(86px)
			top rem(-17px)
		h4
			text-align right
			font-size rem(17px)
		.print_button_payment
			display none
	.payment_summary
		height auto
		border 1px solid black
		.content_payment_summary
			height auto
			text-align center
			padding 0
			.payment_code
				float none
				width 100%
				.logo_pagoefectivo_black
					display none
				.info_code
					float none
					padding-top 27px
					width auto
					height auto
					span
						margin-left 0
						display block
					.product
						display none
				.restrictions
					border-top 1px solid black
					font-size rem(11px)
					text-align center
					padding 5px 21px
				.total_pay_movil
					display block
			.total_pay
				display none
		.info_payment_summary
			.content_info
				height auto
				overflow hidden
				.logo_info_right
				.logo_info_left
					width rem(58px)
					height rem(58px)
					span
						sprite($info_movil)	
				p
					width 81%
	.payment_methods
		.content_payment_methods
			.top_content
				height auto
				margin rem(5px)
				.recommendation
					float none
					width auto
					font-size rem(16px)
					.gift
						display none
				.gift_movil
					float none
					display block
				.button_yellow
					width rem(291px)
					float none
					margin 30px auto 0
			p
				font-size rem(15px)
				width 100%
				text-align center
			.places
				display none

		h2
		.print_button_payment_bottom
			display none
			
	.accordion
		border 0
		border-top 1px solid black
		border-bottom 1px solid black
	.container
		.content
			width 100%
			float none
			padding 0 15px
			.place_steps
				float none
				width 100%
	.button_save_file
		display block
		
@media screen and (max-width: rem(640px))
	.payment_summary
		.info_payment_summary
			.content_info
				p
					width 75%
					
@media screen and (max-width: rem(540px))
	.payment_summary
		.info_payment_summary
			.content_info
				p
					width 70%
					
@media screen and (max-width: rem(480px))
	.payment_summary
		.info_payment_summary
			.content_info
				p
					width 68%

+tablet()

	.info_recharge_text 
		.code
			width 100%
	
	.dashboard_right 
		.dashboard_item
			height auto 
		 
	.dashboard_over
		position relative
		
		.dashboard_slider_item 
			img 
				width 100%
	.step
		padding 10px 
		
	.affiliated_office 
		.office
			col(1/3, 0, 3) 
			
	.recharge_steps 
			
		.content_recharge_steps 
			height auto
			.left
				float none
				
	.content_recharge_steps_nets
		width 100% 
		float none
		text-align center
		img 
			max-width none
			
+mobile()

	.dashboard_right 
		.dashboard_item
			height auto 
			
	.dashboard_over
		position relative
		
	.recharge_steps 
		.content_recharge_steps 
			height auto
			.left
				float none
			
	.input_recharge_amount
		margin-bottom 20px

	.content_recharge_steps_nets
		width 100% 
		float none
		text-align center
		img 
			max-width none
			margin auto
			width 100% 
				
	.affiliated_office
		.office
			col(1/1, 0, 1)

	.dashboard_item_content
		.date 
			myfont(10,$fontM)
			
		.text 
			myfont(13,$fontM)
			
		.price 
			myfont(13,$fontM)
			
	.hidde_desktop
		i:nth-child(1) 
			display block 
			margin 20px auto
			position static
			transform translate(0, 0)
	
	.code
		width 100% 
		p 
			margin-right 0
		
	.print
		display none
		
	.print_button 
		.btn_print_steps_to_guide
			display none 
	