extends ../../../layout/layout.jade
//- peMovil/AfiliacionBienvenido
block navigation
	.tools_sesion
		ul
			li Sesión de: 
				b Ricardo Gutierrez Alvarez
			li
				a#closeSesion(href="javascript:;") Cerrar Sesión
					span
		h2 BIENVENIDO, RICARDO


block content
	section.box_searching
		.box_center
			.box_main
				.not_found_page
					h2 ¡404, no se encontró esta página!
					p La página que intentas solicitar no está en el servidor.
						br
						|Prueba mejor suerte en estos enlaces:
					ul
						li
							span
							a(href="") Iniciar sesión
						li
							span
							a(href="") ¿Qué es Pago Efectivo Móvil?
						li
							span
							a(href="") Beneficios
						li
							span
							a(href="") Centros de Pagos Autorizados
						li
							span
							a(href="") Comercios Afiliados
						li
							span
							a(href="") Central de Ayuda
					p O prueba nuevamente en nuestra página principal: 
					.button_yellow
						.btn_arrow_shadow
							button(type="submit", id="", class="btn" title="Pago Efectivo Móvil") PAGO EFECTIVO MOVIL
								span
								span
							img(src="#{page.static_url}img/button_shadow_white.png#{page.version}")