extends ../../../layout/layout_account.jade
//- peMovil/AfiliacionBienvenido
block navigation
	.user_session
		h5 Hola 
			strong Mauricio Arias
			span
		h2 BIENVENIDO, MAURICIO


block content
	nav
		.box_center
			ul.menu
				li.element_saldos
					a(href="http://", target="_blank")
						span.saldos
						h4 Saldos y 
							br
							| Movimientos
				li.element_recargas
					a(href="http://", target="_blank")
						span.recargas
						h4 Recargas
				li
					a(href="http://", target="_blank")
						span.datos
						h4 Mis Datos
				li.element_beneficios
					a(href="http://", target="_blank")
						span.beneficios
						h4 Beneficios
	section.welcome
		.principal_content
			.text_content
				h3 Hola Mauricio,
					br
					| Bienvenido a la
					span Tarjeta PagoEfectivo
				p Si aún no haz solicitado tu tarjeta 
					a(href="#", target="_blank") Haz click aquí
				.box_welcome
					h4 Conoce todo lo que puedes hacer 
						br
						|con tu tarjeta PagoEfectivo
					.options
						button.tour Empieza el Tour
						button.video Ver video

	
