extends ../../../layout/layout_account.jade
//- peMovil/AfiliacionBienvenido
block navigation
	.user_session
		h5 Hola 
			strong Mauricio Arias 
			span
		h2 BIENVENIDO, MAURICIO


block content
	.steps_guide
		.step.step_one
			.content_img
				span.arrow_left
				.content_step_tour Lleva control de tus compras, recargas y transferencias
			.options
				.next
					span.text Siguiente
					span.icon
		.step.step_two
			.content_img
				span.arrow_left
				.content_step_tour Establece un monto y recarga tu tarjeta fácilmente
			.options
				.prev
					//span.text Anterior
					span.icon
				.next
					span.text Siguiente
					span.icon
		.step.step_three
			.content_img
				.content_step_tour Modifica tus datos de contacto y cuenta
				span.arrow_right
			.options
				.prev
					//span.text Anterior
					span.icon
				.next
					span.text Siguiente
					span.icon
		.step.step_four
			.content_img
				.content_step_tour Conoce todo lo que puedes hacer con tu tarjeta
				span.arrow_right
			.options
				.prev
					//span.text Anterior
					span.icon
				.next
					span.text Finalizar
					span.icon
	nav
		.box_center
			ul.menu
				li.element_saldos
					a(href="SaldosyMovimientos.html")
						span.saldos
						h4 Saldos y 
							br
							| Movimientos
				li.element_recargas
					a(href="Recargas.html")
						span.recargas
						h4 Recargas
				li
					a(href="MisDatos.html")
						span.datos
						h4 Mis Datos
				li.element_beneficios
					a(href="MisBeneficios.html")
						span.beneficios
						h4 Beneficios
	section.welcome
		.principal_content
			.text_content
				h3 Hola Mauricio,
					br
					| Conoce todo lo que puedas hacer
					br
					| con tu 
					span Tarjeta PagoEfectivo
				.box_video
					iframe(width="490" height="330" src="https://www.youtube.com/embed/JTq4f1NCh38?rel=0&amp;autohide=1&amp;wmode=transparent&amp;modestbranding=1&amp;iv_load_policy=3&amp;showsearch=0&amp;theme=dark" frameborder="0" allowfullscreen="true")
				.options
					button.perfil Ir a mi perfil
					button.tour Empieza el tour

	
