extends ../../../layout/layout.jade
//- peMovil/PagosPendientes
block navigation
	.tools_sesion
		ul
			li Sesión de: 
				b Ricardo Gutierrez Alvarez
			li
				a#closeSesion(href="javascript:;") Cerrar Sesión
					span
		h2 PAGOS

block content
	section.box_searching
		.box_center
			.box_main.content_box
				nav.menu
					ul.menu_list
						li
							a(href="#")
								span.balances
								p Saldos y Movimientos
						li
							a(href="#")
								span.recharge
								p Recargas
						li
							a(href="#")
								span.payments
								p Pagos
						li
							a(href="#")
								span.transfers
								p Transferencias
						li
							a(href="#")
								span.data
								p Mis Datos
						li
							a(href="#")
								span.benefits
								p Beneficios
				.main_content
					.space_left
						h4.visa_card_confirmation_title ¡Listo!
						p Ya hemos recibido tus datos para el envío de la tarjeta 
							span.italic Prepago Visa de PagoEfectivo Móvil.
							br
							|En el transcurso de la semana estaremos enviando tu tarjeta en el horario indicado, si deseas realizar algun cambio por favor comunicate al 
							span.italic 615 0000.
						h4.visa_card_confirmation_title.margin_top Datos enviados:
					.summary_table
						table(border="0", cellpadding="0", cellspacing="0")
							tr
								td.parameters Departamento:
								td Lima
							tr
								td.parameters Procincia:
								td Lima
							tr
								td.parameters Distrito:
								td Santiago de Surco
							tr
								td.parameters Dirección:
								td Calle Allamanda 141 dpto 402
							tr
								td.parameters Referencia:
								td Altura del kilometro 7 de la Panamericana Sur
							tr
								td.parameters Día de Entrega:
								td Lunes - Viernes
							tr
								td.parameters Horario de Entrega:
								td 8:00am - 1:00pm