extends ../../../layout/layout_account.jade
//- peMovil/AfiliacionBienvenido
block navigation
	.user_session
		h5 Hola 
			strong Mauricio Arias 
			span
		h2 BIENVENIDO, MAURICIO


block content
	nav
		.box_center
			ul.menu
				li.element_saldos
					a(href="SaldosyMovimientos.html")
						span.saldos
						h4 Saldos y 
							br
							| Movimientos
				li.element_recargas
					a(href="Recargas.html")
						span.recargas
						h4 Recargas
				li
					a(href="MisDatos.html")
						span.datos
						h4 Mis Datos
				li.element_beneficios
					a(href="MisBeneficios.html")
						span.beneficios
						h4 Beneficios
	section.dashboard
		.box_center.box_main
			.dashboard_left
				.recharge_code
					span Código de recarga
						br
						|0000043667966

				.recharge_mount
					span.label Monto Establecido de Recarga
					br
					span.mount S/. 10.00
					br
					button MODIFICAR
					br
					span.info (Monto mínimo de recarga S/.10.00)
				.sold
					span Saldo Disponible:
					span.mount S/. 100.00
				.other_content
			.dashboard_right
				.dashboard_control
					.dashboard_item
						.dashboard_item_header
							span.icon_movimientos
							span.text Últimos Movimientos
						.dashboard_item_content
							ul
								li
									.date 16 Feb 2014
									.text
										strong Ofertop - 
										span 6 Exámenes oftalmológicos, despistaje...
									.price.red - S/. 154.00
								li
									.date 16 Feb 2014
									.text
										strong Ofertop - 
										span 6 Exámenes oftalmológicos, despistaje...
									.price S/. 54.00
								li
									.date 15 Ago 2014
									.text
										strong Ofertop - 
										span 6 Exámenes oftalmológicos, despistaje...
									.price S/. 100.00
								li
									.date 15 Ago 2014
									.text
										strong Ofertop - 
										span 6 Exámenes oftalmológicos, despistaje...
									.price S/. 200.00
						a.more_general(href="javascript:;") Ver más
					.dashboard_item
						.dashboard_item_header
							span.icon_cuentas
							span.text Cuentas Asociadas
						.dashboard_item_content.cuenta
							ul
								li
									.date 16 Feb 2014
									.text
										span Homero J. 
										strong Simpson
										br
										span Código de recarga:
										br
										span 0000043667966
									.price S/. 54.00
								li
									.date 16 Feb 2014
									.text
										span Monica 
										strong Arias
										br
										span Código de recarga:
										br
										span 0000043667966
									.price S/. 30.00
								li
									.date 16 Feb 2014
									.text
										span Ricardo 
										strong Gutierrez
										br
										span Código de recarga:
										br
										span 0000043667966
									.price S/. 100.00
								
						a.more_general(href="javascript:;") Ver más
					.dashboard_item.last_column
						.dashboard_item_header
							span.icon_notificaciones
							span.text Notificaciones
						.dashboard_item_content.cuenta
							ul
								li
									.notification_text - Gánate un 
										strong Ipad 3 
										|pagando con PagoEfectivo.
									a(href="javascript:;") Ver más
								li
									.notification_text - Ahora compra los mejores descuentos en 
										strong ganga.pe
										|.
									.notification_text
									a(href="javascript:;") Ver más
								li
									.notification_text - Juega poker online y recarga tu cuenta con dinero 
										strong PagoEfectivo.
									a(href="javascript:;") Ver más
				.recharge_steps
					.recharge_steps_header Recuerde seguir los pasos para una recarga:
					.content_recharge_steps
						.left
							.step_recharge
								span.number 1
								span.step_text Cambiar o mantener el monto establecido de recarga.
							.step_recharge
								span.number 2
								span.step_text Acercarse a una red afiliada y mostrar el código de recarga.
							.step_recharge
								span.number 3
								span.step_text Realizar el abono.
						.right
							
				.bar_info

	
