extends ../../../layout/layout_account.jade
//- peMovil/MisDatos
block navigation
	.user_session
		h5 Hola 
			strong Mauricio Arias 
			span
		h2 MIS DATOS


block content
	nav
		.box_center
			ul.menu
				li.element_saldos
					a(href="SaldosyMovimientos.html")
						span.saldos
						h4 Saldos y 
							br
							| Movimientos
				li.element_recargas
					a(href="Recargas.html")
						span.recargas
						h4 Recargas
				li.active
					a(href="MisDatos.html")
						span.datos
						h4 Mis Datos
				li.element_beneficios
					a(href="MisBeneficios.html")
						span.beneficios
						h4 Beneficios

	section
		.box_center.box_main
			.user_data
				.left
					h4 Datos del Usuario
					hr.line
					.content_data
						.new_form_control
							.form_label Nombres
							.form_text.disabled Mauricio
						.new_form_control
							.form_label Apellidos
							.form_text.disabled Arias Alvarez
						.new_form_control
							.form_label Documento
							.form_text.disabled DNI 45346783
						.new_form_control
							.form_label Contraseña
							.form_text.disabled ******
								a(href="#") Modificar contraseña
				.right
					.edit_data_info
						| Si deseas modificar tus datos principales comunícate con nuestro call center al 
						br
						strong 311-9898 
						| o vía email 
						strong ayuda@pagoefectivo.com
			h4 Datos Personales
			hr.line
			.personal_data
				.left
					.new_form_control
						.form_label Celular
						.form_text.disabled Claro ******666
					.new_form_control
						.form_label Email
						.form_text.disabled manu***@***
					.new_form_control_edit
						.form_label Fecha de Nacimiento
						.form_text
							.text_input
								input(type="text" class="picker")
								span
					.new_form_control_edit
						.form_label Estado Civil
						.form_text
							.select_input
								ul
									li.option_selected
										.option_selected_text Soltero
										span
									li.content_options
										ul.list_options
											li.option Soltero
											li.option Casado
					.new_form_control_edit
						.form_label Genero
						.form_text
							.radio_input
								input(type="radio", name="gender")
								span Masculino
								input(type="radio", name="gender")
								span Femenino
				.left.column_right
					.new_form_control_edit
						.form_label.small Departamento
						.form_text
							.select_input
								ul
									li.option_selected.large
										.option_selected_text Lima
										span
									li.content_options
										ul.list_options
											li.option Lima
											li.option Arequipa
					.new_form_control_edit
						.form_label.small Provincia
						.form_text
							.select_input
								ul
									li.option_selected.large
										.option_selected_text Lima
										span
									li.content_options
										ul.list_options
											li.option Lima
											li.option Callao
					.new_form_control_edit
						.form_label.small Distrito
						.form_text
							.select_input
								ul
									li.option_selected.large
										.option_selected_text Santiago de Surco
										span
									li.content_options
										ul.list_options
											li.option Lima
											li.option Callao
					.new_form_control_edit
						.form_label.small Dirección
						.form_text
							.select_input.small
								ul
									li.option_selected.small
										.option_selected_text Vía
										span
									li.content_options
										ul.list_options
											li.option Av.
											li.option Jr.
											li.option Ca.
							.text_input.inline
								input(type="text" value="Ca. Alamada 124 Dpto. 401")
			.button_yellow.btn_edit_user_data
				.btn_arrow_shadow
					button(type="submit", id="", class="btn" title="Aceptar") Editar Datos
					img(src="#{page.static_url}img/button_shadow_white.png#{page.version}")
