extends ../../../layout/layout.jade
//- peMovil/PagosPendientes
block navigation
	.tools_sesion
		ul
			li Sesión de: 
				b Ricardo Gutierrez Alvarez
			li
				a#closeSesion(href="javascript:;") Cerrar Sesión
					span
		h2 PAGOS

block content
	section.box_searching
		.box_center
			.box_main
				nav.menu
					ul.menu_list
						li
							a(href="#")
								span.balances
								p Saldos y Movimientos
						li
							a(href="#")
								span.recharge
								p Recargas
						li.active
							a(href="#")
								span.payments
								p Pagos
						.payment_options
							ul
								li.active
									a(href="#") Pagos Pendientes
								li
									a(href="#") Pagos CIP
						li
							a(href="#")
								span.transfers
								p Transferencias
						li
							a(href="#")
								span.data
								p Mis Datos
						li
							a(href="#")
								span.benefits
								p Beneficios
				.main_content
					h4 Pagos Pendientes
					p Aún no tienes pagos pendientes. Realiza tus compras en los diferentes comercios afiliados como:
					ul.affiliated_merchant
						li
							a(href="#")
								img(src="#{page.static_url}img/comercios/ofertop.jpg#{page.version}")
						li
							a(href="#")
								img(src="#{page.static_url}img/comercios/costamar.jpg#{page.version}")
						li
							a(href="#")
								img(src="#{page.static_url}img/comercios/clos.jpg#{page.version}")
						li
							a(href="#")
								img(src="#{page.static_url}img/comercios/aptitus.jpg#{page.version}")
						li
							a(href="#")
								img(src="#{page.static_url}img/comercios/urbania.jpg#{page.version}")
						li
							a(href="#")
								img(src="#{page.static_url}img/comercios/nuestromercado.jpg#{page.version}")
						li
							a(href="#")
								img(src="#{page.static_url}img/comercios/perured.jpg#{page.version}")
						li
							a(href="#")
								img(src="#{page.static_url}img/comercios/groupalia.jpg#{page.version}")
						li
							a(href="#")
								img(src="#{page.static_url}img/comercios/tucloset.jpg#{page.version}")
						li
							a(href="#")
								img(src="#{page.static_url}img/comercios/juaat.jpg#{page.version}")
						li
							a(href="#")
								img(src="#{page.static_url}img/comercios/faceme.jpg#{page.version}")
						li
							a(href="#")
								img(src="#{page.static_url}img/comercios/youroutlet.jpg#{page.version}")
						li
							a(href="#")
								img(src="#{page.static_url}img/comercios/pokerstars.jpg#{page.version}")
						li
							a(href="#")
								img(src="#{page.static_url}img/comercios/yachay.jpg#{page.version}")
						li
							a(href="#")
								img(src="#{page.static_url}img/comercios/platanitos.jpg#{page.version}")
					a.all_affiliated_merchant(href="#") Ver todos los comercios afiliados



