extends ../../../layout/layout_account.jade
//- peMovil/Recargas
block navigation
	.user_session
		h5 Hola 
			strong Mauricio Arias 
			span
		h2 RECARGAS


block content
	nav
		.box_center
			ul.menu
				li.element_saldos
					a(href="SaldosyMovimientos.html")
						span.saldos
						h4 Saldos y 
							br
							| Movimientos
				li.element_recargas.active
					a(href="Recargas.html")
						span.recargas
						h4 Recargas
				li
					a(href="MisDatos.html")
						span.datos
						h4 Mis Datos
				li.element_beneficios
					a(href="MisBeneficios.html")
						span.beneficios
						h4 Beneficios
	section.box_searching
		.box_center
			.box_main
				
				.main_content_recharge
					.recharge_step.step1
						h4 Paso 1
						p Indica el monto de recarga
						.recharge_amount
							.label_recharge_amount
								p Ingrese el monto a recargar:
								span (Monto mínimo de recarga S/.10.00)
							.input_recharge_amount
								input(type="text")
							.button_yellow
								.btn_arrow_shadow
									button(type="submit", id="", class="btn" title="Aceptar") Aceptar
									img(src="#{page.static_url}img/button_shadow_white.png#{page.version}")
						.recharge_code
							p Código de recarga:
							.code
								h4 99000997542254
								.line
								.base_digits 5 dígitos base
								.cell_number Tu numero de celular
							.background_information.info_recharge_code
								.content_info Utiliza este código de recarga para todos tus recargas en cualquier oficina de la red afiliada.
							.arrow_code_info

						.print_button
							button(id="btn_print_steps_to_guide",href="#mdl_steps_to_guide") 
								|IMPRIMIR 
								span
						button.download_cartilla DESCARGAR CARTILLA
							span
					.recharge_step.step2
						h4 Paso 2
						p Acércate a alguna oficina de la red afiliada para realizar el depósito
						.affiliated_office
							.office
								.logo
									img(src="#{page.static_url}img/oficinas/bcp.jpg#{page.version}")
								.button
									button Ver pasos a seguir
							.office
								.logo
									img(src="#{page.static_url}img/oficinas/interbank.jpg#{page.version}")
								.button
									button Ver pasos a seguir
							.office
								.logo
									img(src="#{page.static_url}img/oficinas/bbva_continental.jpg#{page.version}")
								.button
									button Ver pasos a seguir
							.office
								.logo
									img(src="#{page.static_url}img/oficinas/banbif.jpg#{page.version}")
								.button
									button Ver pasos a seguir
							.office
								.logo
									img(src="#{page.static_url}img/oficinas/western_union.jpg#{page.version}")
								.button
									button Ver pasos a seguir
							.office
								.logo
									img(src="#{page.static_url}img/oficinas/scotiabank.jpg#{page.version}")
								.button
									button Ver pasos a seguir
							.office
								.logo
									img(src="#{page.static_url}img/oficinas/full_carga.jpg#{page.version}")
								.button
									button Ver pasos a seguir
							.office
								.logo
									img(src="#{page.static_url}img/oficinas/kasnet.jpg#{page.version}")
								.button
									button Ver pasos a seguir
							.office
								.logo
									img(src="#{page.static_url}img/oficinas/globalnet.jpg#{page.version}")
								.button
									button Ver pasos a seguir
						.print_button
							button(id="btn_print_steps_to_guide",href="#mdl_steps_to_guide")  
								|IMPRIMIR 
								span

	
	div(style="display:none")
		#mdl_steps_to_guide
			h5 Pasos a seguir
			.code.left
				h5 Código para realizar recarga:
				h4 99000997542254
				.line
			.code.right
				h5 Monto de recarga:
				span.symbol S/.
				h4 50.00
			.affiliated_office_logo
				img(src="#{page.static_url}img/oficinas/bcp.jpg#{page.version}")
			.left_column
				h5 Si eres cliente del BCP
				p Vía internet BCP, seguir los siguientes pasos:
				p 1. Ingresa a tu cuenta
				p 2. Selecciona la opción 
					strong Pago de Servicios 
					|ubicada en la columna izquierda
				p 3. Selecciona 
					strong Empresas Diversas
				p 4. Selecciona 
					strong PagoEfectivo
				p 5. Selecciona el servicio a pagar
				p 6. Ingresa el 
					strong Código de Pago
			.right_column
				h5 Si no eres cliente del BCP
				p 
					strong A. En una Agencia BCP
				p 1. Imprima esta boleta
				p 2. Dirijase a una 
					strong Agencia BCP
				p 3. Indique que va realizar un 
					strong Credipago a la empresa de nombre PAGOEFECTIVO
				p 4. Indique el servicio a Pagar
				p 5. Se le remitirá su voucher de Pago
				p 
					strong B. En una Agencia BCP
				p 1. Imprima esta boleta
				p 2. Dirijase a una 
					strong Agente BCP
				p 3. Indique que va realizar un 
					strong Pago de Servicio y mencione el código de la empresa 021186
				p 4. Indique el servicio a Pagar
				p 5. Se le remitirá su voucher de Pago
			.button_imprimir
				button.btn 	IMPRIMIR 
					span





