extends ../../../layout/layout.jade
//- peMovil/Index
block navigation
	.tools_sesion
		ul
			li Sesión de: 
				b Ricardo Gutierrez Alvarez
			li
				a#closeSesion(href="javascript:;") Cerrar Sesión
					span
		h2 RECARGAS


block content
	section.box_searching
		.box_center
			.box_main.content_box
				.payment_header
					img(src="#{page.static_url}img/logo_pagoefectivo_email.png#{page.version}")
					h4 RECARGA PAGOEFECTIVO MÓVIL
					.print_button.print_button_payment
						button(id="btn_print_steps_to_guide",href="#mdl_steps_to_guide") 
							|IMPRIMIR 
							span
				.payment_summary
					.content_payment_summary
						.payment_code
							.logo_pagoefectivo_black
								img(src="#{page.static_url}img/logo_pagoefectivo_black.png#{page.version}")
							.info_code.other_style
								p Código de recarga: 
									span 45781245764567 
						.total_pay.other_style
							span Total a recargar:
							h4 S/.129.00
					.info_payment_summary
						.content_info
							.logo_info_left
								span
							p Indique que va realizar un Pago a la Empresa PAGOEFECTIVO
								br
								|(*) La cuenta de recaudación corresponde a la empresa PAGOEFECTIVO
							.logo_info_right
								span
				.payment_methods
					h4 FORMAS DE PAGO
					.content_payment_methods.other_style
						p Imprima esta orden de pago y acérquese a cualquiera de estos centros autorizados para efectuar el pago:
						.places
							.place PAGAR POR
							.place 
								span.internet.icon
								span INTERNET
							.place
								span.agentes.icon
								span AGENTES
							.place
								span.agencias.icon
								span AGENCIAS
							.place
								span.cajeros.icon
								span CAJEROS
						.accordion_affiliated_office
							.accordion#section1 
								img(src="#{page.static_url}img/oficinas/interbank.jpg#{page.version}")
								span -
							.container.first_item
								.content
									.place_steps
										h6 Banca por internet de interbank
										ul
											li 1.-Ingresa a tu cuenta
											li 2.-Selecciona la opción de pago de Recibos - Pagos de Recibos - Diversas Empresas.
											li 3.-Selecciona la cuenta de cargo y en empresa seleccionar PAGOEFECTIVO.
											li 4.-Ingresa el siguiente Código de Pago: [CIP], confirme su transacción y Listo!.
									.place_steps
										h6 En un agente interbank:
										ul
											li 1.-Indique que va realizar un pago a la empresa PagoEfectivo y brinda el siguiente código 2735001.
											li 2.-Indique el Código de Pago: [CIP], el importe a pagar y la moneda.
											li 3.-Verificar que el voucher indique PAGOEFECTIVO.
									.place_steps
										h6 En Tiendas y Money Market de Interbank:
										ul
											li 1.-Indique que va realizar unu pago de recaudo a PagoEfectivo.
											li 2.-Indique el Código de Pago: [CIP], el importe a pagar y la moneda.
											li 3.-Verificar que el voucher indique PAGOEFECTIVO.
									.place_steps
										h6 En Cajeros con Tarjeta:
										ul
											li 1.-En Cajero Global Net, seleccionar Pagos/Pagos de Recibo/Pagos Varios/Varios.
											li 2.-En Cajero Global Net Plus, seleccionar Pagos/Cargos en cuenta o Efectivo/Pagos de Recibos/Pagos Varios/Varios.
											li 3.-Digita el código: 35001 y siga las instrucciones del Cajero Automático(*).
										h6 En Cajeros sin Tarjeta - Global Net Plus:
										ul
											li 1.-Presiona cualquier botón de la pantalla del cajero.
											li 2.-Selecciona Pagos de recibos/Otros/Otros.
											li 3.-Digita el código: 35001 y siga las instrucciones del Cajero Automático(*).
											li (*)Verificar que el boucher indique Empresa: PAGOEFECTIVO.
											li
							.accordion#section2 
								img(src="#{page.static_url}img/oficinas/bbva_continental.jpg#{page.version}") 
								span +
							.container
								.content
									div Sample Content
										p Content here...
							.accordion#section3 
								img(src="#{page.static_url}img/oficinas/bcp.jpg#{page.version}") 
								span +
							.container
								.content
									div Sample Content
										p Content here...
							.accordion#section4 
								img(src="#{page.static_url}img/oficinas/scotiabank.jpg#{page.version}") 
								span +
							.container
								.content
									div Sample Content
										p Content here...
							.accordion#section5 
								img(src="#{page.static_url}img/oficinas/western_union.jpg#{page.version}") 
								span +
							.container
								.content
									div Sample Content
										p Content here...
							.accordion#section6 
								img(src="#{page.static_url}img/oficinas/full_carga.jpg#{page.version}") 
								span +
							.container
								.content
									div Sample Content
										p Content here...
					.print_button.print_button_payment_bottom
						button(id="btn_print_steps_to_guide",href="#mdl_steps_to_guide") 
							|IMPRIMIR 
							span
					.button_save_file
						button GUARDAR ARCHIVO
					h2 GRACIAS POR SU PREFERENCIA