extends ../../../layout/layout_account.jade
//- peMovil/AfiliacionBienvenido
block navigation
	.user_session
		h5 Hola 
			strong Mauricio Arias 
			span
		h2 SALDOS Y MOVIMIENTOS


block content
	nav
		.box_center
			ul.menu
				li.element_saldos.active
					a(href="SaldosyMovimientos.html")
						span.saldos
						h4 Saldos y 
							br
							| Movimientos
				li.element_recargas
					a(href="Recargas.html")
						span.recargas
						h4 Recargas
				li
					a(href="MisDatos.html")
						span.datos
						h4 Mis Datos
				li.element_beneficios
					a(href="MisBeneficios.html")
						span.beneficios
						h4 Beneficios

	section
		.box_center.box_main
			h4 Tus últimos movimientos
			.recharge_code_info
				h5.left 
					strong Código de Recarga: 
					span 0345678759
				h5.right 
					strong Saldo: 
					span.price S/. 30.00
			.balances_content
				.print_button.btn_print_balances
					button(id="btn_print_steps_to_guide",href="#mdl_steps_to_guide")
						|IMPRIMIR 
						span
				.select_download
					ul.select_list
						li.select_title 
							span.text_select_title DESCARGAR MOVIMIENTOS
							span.icon_select
						li.select_content
							ul
								li 
									span.text_option Enero 2015
									span.download_icon
								li 
									span.text_option Diciembre 2014
									span.download_icon
								li 
									span.text_option Noviembre 2014
									span.download_icon
								li 
									span.text_option Octubre 2014
									span.download_icon
								li 
									span.text_option Setiembre 2014
									span.download_icon
								li 
									span.text_option Agosto 2014
									span.download_icon
				table.table_balances
					thead
						tr
							th.date Fecha
							th.description Descripción
							th.amount Monto
					tbody
						tr
							td.date 15 Ago 2014
							td.description 
								strong Ofertop 
								| - 6 Exámenes oftalmológicos, despistaje y consulta en instituto Wong (4578124576)
							td.price.negative -S/.154.00
						tr
							td 15 Ago 2014
							td 
								strong Recarga 
								|(4578124576)
							td.price S/.300.00
						tr
							td 15 Ago 2014
							td 
								strong Ofertop 
								|- 6 Exámenes oftalmológicos, despistaje y consulta en instituto Wong (4578124576)
							td.price.negative -S/.154.00
						tr
							td 15 Ago 2014
							td 
								strong Ofertop 
								|- 6 Exámenes oftalmológicos, despistaje y consulta en instituto Wong (4578124576)
							td.price.negative -S/.154.00
						tr
							td 15 Ago 2014
							td 
								strong Ofertop 
								|- 6 Exámenes oftalmológicos, despistaje y consulta en instituto Wong (4578124576)
							td.price.negative -S/.154.00
						tr
							td 15 Ago 2014
							td 
								strong Ofertop 
								|- 6 Exámenes oftalmológicos, despistaje y consulta en instituto Wong (4578124576)
							td.price.negative -S/.154.00
						tr
							td 15 Ago 2014
							td 
								strong Recarga 
								|(4578124576)
							td.price S/.300.00
						tr
							td 15 Ago 2014
							td 
								strong Ofertop 
								|- 6 Exámenes oftalmológicos, despistaje y consulta en instituto Wong (4578124576)
							td.price.negative -S/.154.00
						tr
							td 15 Ago 2014
							td 
								strong Ofertop 
								|- 6 Exámenes oftalmológicos, despistaje y consulta en instituto Wong (4578124576)
							td.price.negative -S/.154.00
						tr
							td 15 Ago 2014
							td 
								strong Ofertop 
								|- 6 Exámenes oftalmológicos, despistaje y consulta en instituto Wong (4578124576)
							td.price.negative -S/.154.00
			