extends ../../../layout/layout.jade
//- Afiliacion/Paso1
block navigation

block content
	.validandocontenido.cleaner
		.ns-box.ns-attached.ns-effect-flip.ns-type-notice.boxalerta.tohide
			.ns-box-inner.cleaner.cont_alert
				span.ico_alert.icon-caution
				.cleaner No es correcto el código de validación
	section.box_main.box_affiliate
		.box_center
			.box_introduction.equal.toresponsive
				figure
					h3 Verifica tu cuenta
					h4 Podrás recargar tu cuenta en más de 
						span 30,000 
						br
						span centros de pago, 
						| autorizados a 
						span nivel nacional.
					img.main(src="#{page.static_url}img/affiliate_step_03.jpg#{page.version}")
				.affiliated_establishments.centros
					a(href="javascript:void(0)", target="_blank") Ver todos
					h4 Centros de pago
					ul
						li
							a(href="javascript:void(0)")
								img(src="#{page.static_url}img/centropagos_1.jpg#{page.version}")
						li
							a(href="javascript:void(0)")
								img(src="#{page.static_url}img/centropagos_2.jpg#{page.version}")
						li
							a(href="javascript:void(0)")
								img(src="#{page.static_url}img/centropagos_3.jpg#{page.version}")
						li
							a(href="javascript:void(0)")
								img(src="#{page.static_url}img/centropagos_4.jpg#{page.version}")
					ul
						
						li
							a(href="javascript:void(0)")
								img(src="#{page.static_url}img/centropagos_6.jpg#{page.version}")
						li
							a(href="javascript:void(0)")
								img(src="#{page.static_url}img/centropagos_7.jpg#{page.version}")
						li
							a(href="javascript:void(0)")
								img(src="#{page.static_url}img/centropagos_8.jpg#{page.version}")
						li
							a(href="javascript:void(0)")
								img(src="#{page.static_url}img/centropagos_9.jpg#{page.version}")
			.box_form.equal
				form(method="POST", id="frmAccount", name="frmAccount", autocomplete="off", data-parsley-validate data-parsley-excluded="[disabled]")
					.form_control
						h5 DNI
					.form_control
						input.disabled(type="text", name="xDocumento", id="xDocumento", required="", data-parsley-trigger="focusout", data-parsley-type="number", data-parsley-minlength="8", data-parsley-maxlength="8", maxlength="8", data-correcto="44901960" autofocus  disabled="disabled")
					.form_control
						h5 Nombres
					.form_control
						input.disabled(type="text", name="xNombres", id="xNombres", required="", data-parsley-trigger="focusout", data-parsley-minlength="2", data-parsley-maxlength="60", maxlength="60", data-parsley-pattern="/^[a-z-ñáéíóúÑÁÉÍÓÚ ]+$/gi", data-parsley-pattern-message="Solo letras, espacios () y guiones (-)" disabled="disabled")
					.form_control
						h5 Apellidos
					.form_control
						.form_subcontrol.col_6
							input.disabled(type="text", name="xApePaterno", id="xApePaterno", required="", data-parsley-trigger="focusout", data-parsley-minlength="2", data-parsley-maxlength="60", maxlength="60", data-parsley-pattern="/^[a-z-ñáéíóúÑÁÉÍÓÚ ]+$/gi", data-parsley-pattern-message="Solo letras, espacios () y guiones (-)", disabled="disabled")
						.form_subcontrol.col_6
							input.disabled(type="text", name="xApeMaterno", id="xApeMaterno", required="", data-parsley-trigger="focusout", data-parsley-minlength="2", data-parsley-maxlength="60", maxlength="60", data-parsley-pattern="/^[a-z-ñáéíóúÑÁÉÍÓÚ ]+$/gi", data-parsley-pattern-message="Solo letras, espacios () y guiones (-)", disabled="disabled")

					.form_control
						h5 Contraseña
							em &nbsp;&nbsp;(mín. 6 caracteres)
					.form_control
						input(type="password", name="xClave1", id="xClave1", required="", data-parsley-trigger="focusout", data-parsley-minlength="6", data-parsley-maxlength="20", maxlength="20")
					.form_control
						h5 Verificar Contraseña
					.form_control
						input(type="password", name="xClave2", id="xClave2", required="", data-parsley-trigger="focusout", data-parsley-minlength="6", data-parsley-maxlength="20", maxlength="20", data-parsley-equalto="#xClave1")
					.form_control.pt_10
						.col_5.form_subcontrol
							.cleaner
								img(src="#{page.static_url}img/recaptcha.jpg#{page.version}", style="width:100%;height:64px")
						.col_7.form_subcontrol
							.cleaner
								span.captcha Ingresa código Captcha
									a(href="javascript:void(0);", title="Refresh").refresh
										i.icon-loop2
									a.tooltip(href="javascript:void(0);", title="Caducidad").expiry
										.info(style="display:none")
											p.
												Un texto informativo
							.cleaner
								input(type="text", name="xCaptcha", id="xCaptcha", required="", data-parsley-trigger="focusout", data-parsley-minlength="4" maxlength="4",data-parsley-type="number")

					.form_control.tar.mt_30
						.button.button_arrow
							button(type="submit", id="btnStep01", class="btn", title="Continuar") Confirmar
							img(src="#{page.static_url}img/button_shadow_small.png#{page.version}")