/**
 * alias para tags
 * @class helpers
 * @author MFYance
 */
 @require '../_config/*'
 @require '../_mixins/*'
.vat
	vertical-align top
.fullw
	width 100%
.db
 	display block
.fl
 	float left
.fr
 	float right
.dib
	display inline-block
.tal
    text-align left
.tac
    text-align center
.relative
    position relative
.hide
    display none !important
.fr
	float right
.pr
	position relative
.pa
	position absolute
.tar 
	text-align right
	+below($wrapperCell)
    	text-align left !important
.tal 
	text-align left 
.tac
	text-align center

.relative
	position relative
.hide
	display none !important
//Paddings
.pt_10
	padding-top 10px
.pt_20
	padding-top 20px
.pt_30
	padding-top 30px
.pt_40
	padding-top 40px
.pt_50
	padding-top 50px
.pt_60
	padding-top 60px
.pt_70
	padding-top 70px
.pb_10
	padding-bottom 10px
.pb_20
	padding-bottom 20px
.pb_30
	padding-bottom 30px
.pb_40
	padding-bottom 40px
.pb_50
	padding-bottom 50px
.pb_60
	padding-bottom 60px
.pb_70
	padding-bottom 70px
//Margin
.mt_10
	margin-top 10px
.mt_20
	margin-top 20px
.mt_30
	margin-top 30px
.mt_40
	margin-top 40px
.mt_50
	margin-top 50px
.mt_60
	margin-top 60px
.mt_70
	margin-top 70px
.mb_10
	margin-bottom 10px
.mb_20
	margin-bottom 20px
.mb_30
	margin-bottom 30px
.mb_40
	margin-bottom 40px
.mb_50
	margin-bottom 50px
.mb_60
	margin-bottom 60px
.mb_70
	margin-bottom 70px
.mr_40
	margin-right 40px

.mb20
	margin-bottom px_to_rem(29.4)
.mt10
	margin-top 10px
.mt20
	margin-top 20px
.mt30
	margin-top 30px
.mt40
	margin-top px_to_rem(35)



// Responsive
.mt_c_20
	display block
	+below($wrapperCell)
		margin-top 20px !important
.mt_t_20
	display block
	+below($wrapperTablet)
		margin-top 20px !important