/*
* Buttons
* @module buttons
*/

.btn
	position relative
	z-index 1
	height 42px
	display inline-block
	line-height 42px
	text-align center
	border none
	background $yellow_01
	font-family $familyMediumItalic
	text-transform uppercase
	border-radius 5px	
	font-size 17px
	&:not([type="submit"])
		transition background .4s ease-in-out
		//&:hover
			//background-color $hover_02

	&.togray
		display inline-block
		height auto
		myfont(16,$fontMI)
		color white
		background-color $black_32
		padding 10px
		span
			margin-left 10px
			vertical-align -3px
			display inline-block
			&.download
				sprite($download_icon_white)
			&.print				
				sprite($print)

.button_yellow
	.btn_arrow_shadow
		button
			width 100%
			border-radius 0
		margin 0 30px 0 15px
		position relative
		&:before
			content ' '
			position absolute
			top 0
			sprite($button_back_shadow)
			left -15px
			z-index 5
		&:after
			content ' '
			position absolute
			top 0
			sprite($button_front_shadow)
			right -30px
			z-index 5
	img
		position relative
		bottom rem(5px)
		z-index 0
		height rem(3px)
		width 100%
		
.button
	position relative
	margin 15px 0
	
	&.button_arrow
		button 
			color black 
			background $yellow_01
			margin 0 auto
			box-shadow 0 5px 5px -1px rgba(0, 0, 0, 0.5)
			border-radius 3px
			width 95%
			content " "
			//top 20px
			right 0
			position relative

			i 
				transform rotate(45deg)
				-ms-transform rotate(45deg)
				-webkit-transform rotate(45deg)
				-o-transform rotate(45deg)
				-moz-transform rotate(45deg)
				background-color $yellow_01
				width 33px
				height 32px
				top 5px
				right -15px
				position absolute
				border-radius 6px

	&.unactive
		button
			background $gray_e3
		&:before
			sprite($button_back_unactive)
		&:after
			sprite($button_front_unactive)
	img
		position absolute
		left 0
		bottom -10px
		z-index 0

.recharge_amount
	.button
		&.button_arrow
			button
				width auto 
				padding 0 25px 
				
.dash_cont_box
	.btn_all 
		margin-top 10px
		font-size 20px

.button_associate
	background $gray_03 
	color white
	padding 10px 50px
	position relative
	top 22px
	myfont(14,$fontM)
	border-radius 5px
	font-family $familyMediumItalic   
	
+tablet()
	.button
		&.button_arrow
			button 
				width 97.2%
				
+mobile()
	.button
		&.button_arrow
			button 
				width 95.2% 
				
+between(960px, 900px) 
	.button
		&.button_arrow
			button 
				width 97.7% 
								
+below(400px)
	.button
		&.button_arrow
			button 
				width 92.4% 
				