/**
* Forms
* @module forms
*/
#login_form
	+below($wrapperTablet)
		h5
			padding-bottom 10px
			display block

.parsley-myajax
	display none

.inp_price
	border none
	padding 7px 6px
	border-radius 4px
	width 100%
	max-width 124px
	text-align center
	myfont(25,$fontMI)
	margin 0px auto
.noedit
	.inp_price
		background none
	
form
	color white	
	padding 30px !important
	text-align left
	+below($wrapperCell)
		padding 20px 10px !important
	.txt_doc
		h5
			&:first-child
				+below($wrapperCell)
					display none !important
	.picker
		+below($wrapperCell)
			margin-top 30px
	.cad_res
		display none
		+below($wrapperCell)
			display block
			top -25px
			position absolute
	.todocumento
		>div			
			&:nth-child(1)
				+below($wrapperCell)
					width 45%
					margin-right 3.5%
					margin-bottom 12px
			&:nth-child(2)
				+below($wrapperCell)
					width 50%
					margin-bottom 12px
			&:nth-child(3)
				+below($wrapperCell)
					width 100%

	h4
		myfont(29,$familyMediumItalic)
		margin 0
	h5
		myfont(18,$familyMediumItalic)
		margin-bottom -5px
		display inline-block
		&.float_right
			float right
		> em
			myfont(13,$familyMediumItalic)
	.form_control
		margin-bottom 12px
		> .form_subcontrol
			display inline-block
			position relative			
			&:last-child
				margin 0
				> .select
					margin 0
			> ul
				> li
					> ul
						margin 5px 0 8px 30px !important
		.securePin
			margin 0 0 15px 0
		.put_number
			max-width 180px
			margin 0 auto
	.olvidaste_psw
		text-align left
		h5
			font-family $fontMI
			font-size rem(18px)
		p 
			font-family $fontMI
			float left
			text-align left
			margin-top rem(5px)
			font-size rem(13px)
		.button
			margin-top 30px !important
			text-align center
			margin 0 auto
			width 100%
			display block !important
		.parsley-errors-list
			li
				color $colorError
	#nextStep
		text-align right
		.tal,.tar
			+below($wrapperCell)
				text-align center	
		+below($wrapperTablet)
			text-align center
			margin 0 auto

	.dont_receive
		font-family $familyMediumItalic
		float left
		text-align left
		margin-top rem(5px)
		font-size rem(13px)
		+below($wrapperTablet)
			margin-top 0 !important
			padding-bottom 0 !important
		a
			font-family $fontMI
			text-decoration underline
			color white
			transition color .3s linear 0s
			&:hover
				color $yellow_01
		+below($wrapperTablet)
			text-align left
			width 100%
			padding-bottom 20px		
		
	.dont_receive
		float none
	.button
		display block
		> img
			bottom -6px
form	
&.frm_step_2	
	.disabled
		.button
			display none !important
	&.vertical
		label
			display block
			float none
			line-height 1.3em
			&.ioption
				float left
				font-size 1em
				margin-left 70px
				&:first-child
					margin 0
				&.ck
					padding-right 20px
					margin-bottom 1em 
					margin-top 1em 
		input[type="text"],input[type="email"],input[type="tel"],input[type="password"],select
			width 100%
			
		textarea
			width 100%
		.btn
			margin 0
	&.nolabel
		label
			display none
			&.ioption
				display block
				font-size 1em
				line-height 18px
				margin-left 60px
				width 80px
				input[type="radio"]
					top 4px		
				&:first-child
					margin 0
				&.ck
					padding-right 20px
					margin-bottom 1em 
					margin-top 1em 
		input[type="text"],input[type="email"],input[type="tel"],input[type="password"],select
			width 100%
		textarea
			width 100%
		.btn
			margin 0
.custom_select
	select 
		background #ddd
		border none
		font 1.8rem geog-mdit,arial,sans-serif
		padding 10px 20px
		text-transform uppercase
		border-radius 3px

.form_control
	position relative
	margin-bottom rem(20px)
	*zoom 1
	.form_control_inline
		.form_control
			float left 
			margin-left 1em 
			&:first-child 
				margin-left 0 !important
	&:last-child
		margin 0
	&:before,&:after
		display table
		content ""
		line-height 0
	&:after
		clear both
	label
		margin 0
		float left
		font-size 1em
		line-height rem(38px)
		width rem(110px)
		font-family $familyMediumItalic
		&.nbsp:after
			content "\00a0"
			
		&.ioption
			cursor pointer
			line-height 35px
			padding-left 20px
			position relative
			width 11em
			input[type="radio"],input[type="checkbox"]
				left 0
				margin 0
				padding 0
				position absolute
				top 12px
			&.ck
				font-size 0.929em
				line-height 1.5em
				margin-left 12.5em
				width auto
				margin-top 1em 
				margin-bottom 1em
				input[type="checkbox"]
					top 2px
		.required
			color $colorError
			font-size 1.1em
	input[type="text"],input[type="email"],input[type="tel"],input[type="password"], select, textarea
		background-color white
		border 1px solid white
		border-radius 3px
		myfont(15,$familyMedium)
		height rem(36px)
		outline none
		padding-left 10px
		padding-right 10px
		width 100%
		color $gray_4a
		&.error
			background-color #fcdddd
			border 1px solid #fc7d7d
		&.disabled
			background $gray_bb !important
			border 1px solid $gray_bb !important
	textarea
		background-color #fff
		border 1px solid $grey40
		border-radius 3px
		font 1em/2em $family1
		height 70px
		padding 7px 10px
		width 300px
		&.error
			background-color #fcdddd
			border 1px solid #fc7d7d
.change-code
	border 1px solid $grey40
	display_inline()
	vertical-align top

#iOperador
	width rem(124px)
#xMovil
	width 100%
#iTipoDocumento
	width 100%
	+below($wrapperTablet)
		width 100% !important
#xDocumento
	width 100%
	+below($wrapperTablet)
		width 100% !important
#xCaducidad
	width 100%
	+below($wrapperTablet)
		width 100% !important
#xNombres
	width 100%
#xApePaterno
	width 100%
#xApeMaterno
	width 100%
#xEmail
	display block
	width 100%
#cDepartamentoSel
#cProvinciaSel
#cDistritoSel
	display block
	width 100%

#iPrefijoDireccion
	width 100%
#xDireccion
	width 100%
#xReferencia
	width 100%
#xRangoDiasEntrega
	width 100%
#xRangoHorasEntrega
	width 100%


+mobile()
	.custom_select
		select
			width 100% 