/**
 * Grids
 * @module helpers
 * @author MFYance
 */
 
[class*="grids-"]
    float       left
    margin-left 20px
    &:first-child
        margin 0
    .urb_title
        font-size 20px
.grids
    *zoom 1
    &:before,
    &:after
        display     table
        content     ""
        line-height 0
    &:after
        clear both
    .grids_4
        margin-top 20px
        &:nth-child(3n+1)
            margin-left 0
        &:nth-child(-n+3)
            margin-top 0
.grids_2
    width 140px
.grids_3
    width 220px
.grids_4
    width 300px
    &.mt12
        margin-top 12px
.grids_5
    width 380px
.grids_6
    width 460px
.grids_7
    width 540px
.grids_8
    width 620px
.grids_9
    width 700px
.grids_9
    .grids_3:nth-child(3n+1)
        margin 0
.grids_10
    width 780px
    

//Grid Rupture
// Desktop
.col_2    
    +above($wrapperTablet)
        col(2/12)
.col_3
    +above($wrapperTablet)
        col(3/12)
.col_4
    +above($wrapperTablet)
        col(4/12)
.col_5
    +above($wrapperTablet)
        col(5/12)
.col_6
    +above($wrapperTablet)
        col(6/12)
.col_7
    +above($wrapperTablet)
        col(7/12)
.col_8
    +above($wrapperTablet)
        col(8/12)
.col_9
    +above($wrapperTablet)
        col(9/12)
.col_10
    +above($wrapperTablet)
        col(10/12)
.col_11
    +above($wrapperTablet)
        col(11/12)
.col_12
    +above($wrapperTablet)
        width 100%

// Tablet
.col_t_2    
    +between($wrapperCell,$wrapperTablet)
        col(2/12)
.col_t_3
    +between($wrapperCell,$wrapperTablet)
        col(3/12)
.col_t_4
    +between($wrapperCell,$wrapperTablet)
        col(4/12)
.col_t_5
    +between($wrapperCell,$wrapperTablet)
        col(5/12)
.col_t_6
    +between($wrapperCell,$wrapperTablet)
        col(6/12)
.col_t_7
    +between($wrapperCell,$wrapperTablet)
        col(7/12)
.col_t_8
    +between($wrapperCell,$wrapperTablet)
        col(8/12)
.col_t_9
    +between($wrapperCell,$wrapperTablet)
        col(9/12)
.col_t_10
    +between($wrapperCell,$wrapperTablet)
        col(10/12)
.col_t_11
    +between($wrapperCell,$wrapperTablet)
        col(11/12)
.col_t_12
    +between($wrapperCell,$wrapperTablet)
        width 100%
// Phone
.col_c_2    
    +below($wrapperCell)
        col(2/12)
.col_c_3
    +below($wrapperCell)
        col(3/12)
.col_c_4
    +below($wrapperCell)
        col(4/12)
.col_c_5
    +below($wrapperCell)
        col(5/12)
.col_c_6
    +below($wrapperCell)
        col(6/12)
.col_c_7
    +below($wrapperCell)
        col(7/12)
.col_c_8
    +below($wrapperCell)
        col(8/12)
.col_c_9
    +below($wrapperCell)
        col(9/12)
.col_c_10
    +below($wrapperCell)
        col(10/12)
.col_c_11
    +below($wrapperCell)
        col(11/12)
.col_c_12
    +below($wrapperCell)
        width 100%

/* My gRIDS*/
.my_col_2
    width 20%
.my_col_3
    width 30%
.my_col_4
    width 40%
.my_col_5
    width 50%
.my_col_6
    width 60%
.my_col_7
    width 70%
.my_col_8
    width 80%
.my_col_9
    width 90%
.full,
.my_col_10
    width 100%