/**
 * Hacks
 * @module helpers
 * @author MFYance
 */

@-moz-document url-prefix()
	table
		border-collapse separate
		
img.cleaner
	width 100%
	vertical-align middle
a
	text-decoration none
	color inherit
a.cleaner
  display block

/*Helpers*/
.cleaner	
	box-sizing border-box  
	*zoom 1

.cleaner:before,
.cleaner:after
	display table
	line-height 0
	content ""
.cleaner:after
	clear both

/*Eliminar estilos de CHrome autocomplete*/
textarea:-webkit-autofill{
	box-shadow: 0 0 0 1000px white inset
}
input:-webkit-autofill{
 	box-shadow: 0 0 0 1000px white inset
}