[class^="icon-"], 
[class*=" icon-"]
	font-family: 'icomoon'
	speak: none
	font-style: normal
	font-weight: normal
	font-variant: normal
	text-transform: none
	line-height: 1
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

.icon-caution
	&:before
		content "\e03d"

.icon-user
	&:before
		content "\e600"

.icon-cancel-circle
	&:before
		content "\e609"

.icon-cross
	&:before
		content "\e60a"

.icon-printer
	&:before
		content "\e608"

.icon-loop2
	&:before
		content "\ea2e"

.icon-question
	&:before
		content "\f02c"

.icon-question-circle
	&:before
		content "\f059"

.icon-play-arrow
	&:before
		content "\e606"

.icon-check-box
	&:before
		content "\e601"

.icon-check-box-outline-blank
	&:before
		content "\e602"

.icon-squared-cross
	&:before
		content "\e607"

.icon-facebook-with-circle
	&:before
		content "\e603"

.icon-twitter-with-circle
	&:before
		content "\e604"

.icon-calendar
	&:before
		content "\e605"


