.cont_ico
	display inline-block
	position absolute	
	//width 40
	i
		display inline-block
		&.myicon_logout
			left 17px
			top 9px
			sprite($icomenu_logout)
		&.myicon_user
			left 13px
			top 7px	
			sprite($icomenu_user)
		&.myicon_accounts
			left 13px
			top 10px
			sprite($icomenu_accounts)
		&.myicon_notify
			left 16px
			top 6px
			sprite($icomenu_notify)