/**
 * Myreset styles | Normalize & Reset
 * @class helpers
 * @author MFYance
 */
*
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, font, img,
ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
center, u, b, i
	margin 0
	padding 0
	border 0
	outline 0
	font-weight normal
	font-style normal
	font-family inherit
	vertical-align baseline    	
article,aside,footer,header,nav,section
	display block
html
	-webkit-text-size-adjust 100%
	-ms-text-size-adjust 100%
	padding 0
	margin 0
	overflow-x hidden !important
a:hover,a:active
	outline 0
ul 
	margin 0
	list-style none
	padding 0
	line-height normal
img
	border 0
	max-width 100%
	vertical-align middle
	width auto\9
	-ms-interpolation-mode bicubic
input:-webkit-autofill
	-webkit-box-shadow 0 0 0px 1000px white inset
button,input,select,textarea
	margin 0
	vertical-align middle
button,input
	*overflow visible
	line-height normal
button::-moz-focus-inner,input::-moz-focus-inner
	padding: 0
	border: 0

button
	-webkit-appearance button
	cursor pointer

a,
a:focus,
a:hover,
a:active,
button:focus,
button:hover
button:active
	outline none
	text-decoration none

label,select,button,input[type="radio"],input[type="checkbox"]
	cursor pointer
textarea
	overflow auto
	vertical-align top
figure
	margin 0
	padding 0
form
	margin 0
	padding 0
table
	border-collapse collapse
	border-spacing 0
	width 100%
input[type="radio"],input[type="checkbox"]
	margin 0
	padding 0
::-webkit-input-placeholder
	color #5e5e5e
::-moz-placeholder
	color #5e5e5e
:-ms-input-placeholder
	color #5e5e5e
input:-moz-placeholder
	color #5e5e5e
b, strong 
	font-family $familyBold
	font-weight normal
p 
	margin 0
	margin-bottom 1.5em
	line-height 1.5em

h1, h2, h3, h4, h5, h6
	font-weight normal
	line-height normal
	margin-top 0