/**
 * Resources
 * @class resources
 * @author MFYance
 */

.capaloading
    position fixed
    width 100%
    height 100%
    background-color rgba(255, 255, 255, 0.77)
    z-index 9999
    display none
    left 0
    top 0
    .icono
        position absolute
        width 30px
        height 30px
        margin auto
        top 0
        bottom 0
        right 0
        left 0
        background-image url($imgPath+"loading2.gif")
        &:after
            content 'Cargando...'
            position absolute
            bottom -20px
            left -20px
            font 12px Verdana
            color #817878

.padboth
    padding px_to_rem(21) 0
    
.line_bottom
    border-bottom 1px solid $grey20
    margin-bottom px_to_rem(14)
    padding-bottom px_to_rem(14)

.the_price
    font-size px_to_rem(25.2)
    line-height px_to_rem(25.2)
    margin px_to_rem(14) 0 px_to_rem(4.2)
.amount_kind
    background url($imgPath+'bg_graytransparente2.png?version') repeat
    color $white
    float left
    font-size px_to_rem(15.4)
    height 35px
    line-height 35px
    margin-right 2px
    padding 0 12px
    &:hover
        background-color $black
        color $white
        text-decoration none
    
.ico_galeria
    sprite($ico_galeria)
    display_inline()
    margin-left 5px
    vertical-align middle
  
.ico_video
    sprite($ico_video)
    display_inline()
    margin-left 5px
    vertical-align middle   
  
.logo_perfil
    margin-bottom 3px
    text-align center
    img
        max-height 80px

.top_alert
    background $colorError2 
    border 1px solid $colorError
    border-radius 3px 
    center($wrapperWidth)
    color $colorError
    height 60px
    line-height 1
    margin 10px auto 
    myfont(14,$fontM)
    padding 20px 0 
    text-align center
    width 100% 
    
.alert_login
    background $yellow_alert
    border 1px solid $yellow_alert_bd
    height 40px 
    //margin-top -30px 
    padding 10px 0
    position relative
    font-family $familyMediumItalic
    font-size 14px 
    text-align center
    p 
        font-style italic
        font-weight normal
    
.alert_login_close
    text-align right
    color $gray_5c
    display block
    margin-right 10px 
    position absolute
    right 0
    top 12px
    
.hidden
    display none
  
.top_line
  border-top 1px solid white
  
+desktop()
  .hidde_desktop
    display none

  .hidde_mobile
    display block
    
+mobile()
  .hidde_desktop
    display block
  
  .hidde_mobile
    display none
