/*!!
* Layout
* @module layout
* @class footer
* @author Paúl Díaz
*/
footer
	background black
	height rem(105px)
	overflow hidden
	font-size rem(15px)
	padding-top 30px
	+below($wrapperTablet)
		margin-top 10px
		padding-top 0px
	a
		color white
		transition all .3s linear 0s
		&:hover
			color $hover_01
	.footer_left
		float left
		+below($wrapperTablet)
			float none !important
			margin 0 auto !important
	.footer_right
		float right
		ul
			li
				&:last-child
					+below($wrapperTablet)
						border-bottom none !important
						padding 20px 0 !important
		.ico
			margin-left 10px
			padding 0
			i
				&:before
					font-size 20px
					+below($wrapperTablet)
						font-size 32px !important		
		+below($wrapperTablet)
			float none !important
			margin 0 auto !important
	div
		> ul
			> li
				float left
				+below($wrapperTablet)
						border-bottom 1px solid #fff
				> a
					display block
					border-right 1px solid white
					padding 0 20px
					myfont(15,$fontM)
					+below($wrapperTablet)
						padding 10px 0 !important
						border-right none !important
						display inline-block !important		
									
				&:first-child
					> a
						padding 0 20px 0 0
				&:last-child					
					> a
						border-right none
						padding 0 0 0 20px						

				+below($wrapperTablet)
					padding 0 !important
					float none
					text-align center					
	+below($wrapperTablet)
		height auto !important
		padding 0
	#footer_question
		display block
		sprite($footer_question)
		&:hover
			sprite($footer_question_hover)
	.box_center
		+below($wrapperTablet)
			>ul
				>li
					border-bottom 1px solid $yellow_01 !important
					&:last-child
						border-bottom none !important