/*!
* Layout
* @module layout
* @class footer
* @author Paúl Díaz
*/
footer {
  background: #000;
  height: rem(105px);
  overflow: hidden;
  font-size: rem(15px);
  padding-top: 30px;
below($wrapperTablet)
below($wrapperTablet)
}
footer a {
  color: #fff;
  transition: all 0.3s linear 0s;
}
footer a:hover {
  color: $hover_01;
}
footer .footer_left {
  float: left;
below($wrapperTablet)
}
footer .footer_right {
  float: right;
below($wrapperTablet)
}
footer .footer_right .ico {
  margin-left: 10px;
  padding: 0;
}
footer .footer_right .ico i:before {
  font-size: 20px;
below($wrapperTablet)
}
footer div > ul > li {
  float: left;
below($wrapperTablet)
below($wrapperTablet)
}
footer div > ul > li > a {
  display: block;
  border-right: 1px solid #fff;
  padding: 0 20px;
below($wrapperTablet)
}
footer div > ul > li:first-child > a {
  padding: 0 20px 0 0;
}
footer div > ul > li:last-child > a {
  border-right: none;
  padding: 0 0 0 20px;
}
footer #footer_question {
  display: block;
}
