/*!!
* Layout
* @module layout
* @class header
* @author Paúl Díaz
*/

header
	#menu_res
		display none
		+below($wrapperMenu)
			display block
			background black
		.minilogo
			max-width 60px
			padding 10px
			display inline-block
			img
				width 100%
				vertical-align middle
	
	.franja_amarilla
		background-color $yellow_01
		padding 6px 0
		+below($wrapperMenu)
			display none		
		.tologin
			text-align right
			em
				a
					myfont(14,$fontM)
					color black
					&:hover
						color $hover_01
			span
				myfont(14,$fontM)				
			#user_menu
				myfont(14,$fontM)
				color black	
				cursor pointer
				position relative
				display inline-block
				//&:hover,
				&.active
					color $hover_01
					.flecha
						border-left-color $hover_01
						transform rotate(-90deg)
				&.active
					.menu_content
						z-index 999
				.flecha
					transition all ease-in-out .3s
					margin-left 7px
					width 0
					height 0
					border-left 10px solid #735600
					border-top 5px solid transparent
					border-bottom 5px solid transparent
					display inline-block
					transform rotate(90deg)
					position static
				.menu_content
					z-index -9999
					position absolute					
					width 200px
					right 0
					top 23px
					background #eaeaea	
					a
						display block
						text-align left
						position relative
						color #434343
						padding 10px
						color #4E4E4D
						&:hover
							background-color $hover_01
							color white
						span							
							padding-left 40px							
	.franja_gris
		+below($wrapperMenu)
			display none
		height 80px
		background url($imgPath+"header_background_min.jpg") center center
		.logo
			position absolute
			top -31px
			left 10px
			z-index 9999
			img
				max-width 130px
		.title_page
			text-align right			
			padding-right 2px
			h1
				myfont(22,$fontMI)
				color black
				line-height 80px
				text-transform uppercase

		.affiliation_buttons
			position absolute
			right 0
			bottom -113px
			font-family $familyMediumItalic
			font-size rem(15px)
			ul
				li
					display inline-block
					vertical-align top
					a
						position relative
						display block
						sprite($step_unactive)
						padding 15px 25px
						text-align center
						span
							color white
							position absolute
							top -25px
							left 50%
							margin 0 0 0 -15px
							width 30px
							height 30px
							line-height 30px
							background $gray_83
							border-radius 50%
							opacity .8
							transition all .3s linear 0s
							behavior url($othersPath + 'pie/PIE.htc')
						&.active
							sprite($step_active)
							span
								color black
								background $yellow_01
								top -27px
								border 5px solid white
								width 35px
								height 35px
								line-height 25px
								margin 0 0 0 -18px
						&:hover
							span
								color black
								background $yellow_01
	+below($wrapperTablet)
		height auto !important
	+below($wrapperCell)
		h1
			min-height  150px !important
			left 42% !important
			top 13px !important
			img 
				max-width 90px !important
		.affiliation_buttons
			position relative !important
			display block !important
			ul
				li
					width 32.5% !important
					text-align center
					a
						background-image none !important
						width auto !important
						display inline-block !important
						mysize(12)
						padding 15px !important
						text-align center

	
	h2
		position relative
		top 32px
		text-align right
		font-family $familyMediumItalic
	> div
		> a
			color black
			font-size rem(13px)
			float right
			margin-top rem(8px)
			transition color .3s linear 0s
			&:hover
				color $gray_4a
	.user_session
		position absolute
		top rem(5px)
		right 0
		font-size rem(13px)
		text-align right
		font-family $familyMedium
		h5
			font-size rem(13px)
		span
			position relative
			top 2px
			display inline-block
			right 0px
			sprite($ico_user)
		h2
			top 36px
	.tools_sesion
		position absolute
		top rem(45px)
		right 0
		font-size rem(13px)
		> ul
			> li
				display inline-block
				padding 0 15px
				border-right 1px solid black
				&:last-child
					border-right none
					padding 0 0 0 15px
				> a
					display block
					&#closeSesion
						span
							display inline-block
							vertical-align middle
							margin-left rem(5px)
							sprite($close_sesion)