extends ../../../layout/layout.jade
//- Afiliacion/Paso1
block navigation
	.affiliation_buttons
		ul
			li
				a(href="javascript:void(0)") Ingresa tus datos
					span
						b 1
			li
				a.active(href="javascript:void(0)") Tarjeta Visa PagoEfectivo
					span
						b 2
			li
				a(href="javascript:void(0)") Valida tu cuenta
					span
						b 3

block content
	section.box_main.box_affiliate
		.box_center
			.box_introduction.toresponsive.equal
				figure
					h3 Tarjeta Prepago 
						b VISA PagoEfectivo
					h4 Podrás comprar en efectivo en 
						strong Comercios
						br
						| <strong>Online del Extranjero</strong> afiliados a <strong>VISA</strong> 
						br
						| con mucha facilidad y <strong>total seguridad.</strong>
					img.main(src="#{page.static_url}img/affiliate_step_02.jpg#{page.version}")
				.affiliated_establishments
					a(href="https://pagoefectivo.pe/ComerciosAfiliados.aspx", target="_blank") Muchos más
					h4 Las mejores tiendas online
					ul
						li
							a(href="javascript:void(0)")
								img(src="#{page.static_url}img/shopping_01.jpg#{page.version}")
						li
							a(href="javascript:void(0)")
								img(src="#{page.static_url}img/shopping_02.jpg#{page.version}")
						li
							a(href="javascript:void(0)")
								img(src="#{page.static_url}img/shopping_03.jpg#{page.version}")
						li
							a(href="javascript:void(0)")
								img(src="#{page.static_url}img/shopping_05.jpg#{page.version}")
			.box_form
				img#promo(src="#{page.static_url}img/free.png#{page.version}")
				form.frm.frm_step_2(method="POST", id="frmAffiliate", name="frmAffiliate", autocomplete="off", data-parsley-validate data-parsley-excluded="[disabled]")
					#recoger_tarjeta.form_section.toblock
						.cleaner.titulo
							input.dib(type="radio", id="option_1", name="lStand", value="recoger", data-view="recoger_tarjeta" checked)
							label.dib(for="option_1") Recoger la tarjeta en un Stand
						.form_control
							h5 Stand de Afiliación
						.form_control
							.select.select_big
								span.selectImg
								span.selectText
								select(id="cDepartamentoSel", title="", required="", data-parsley-trigger="change")
									option(value="2") Arequipa
									option(value="3") Madre de Dios
						.form_control.tar
							.button.button_arrow
								button(type="submit", id="btnStep02", class="btn", title="Siguiente Paso") Siguiente Paso
								img(src="#{page.static_url}img/button_shadow_small.png#{page.version}")
					#enviar_tarjeta.form_section.toblock
						.cleaner.titulo.pt_20
							input(type="radio", id="option_2", name="lStand", value="enviar", data-view="enviar_tarjeta")
							label(for="option_2") Dirección de envio de tarjeta
						.form_control
							h5 Departamento
						.form_control
							.select.select_big
								span.selectImg
								span.selectText
								select(id="cDepartamentoSel", title="", required="", data-parsley-trigger="change")
									option(value="1") Lima
									option(value="2") Arequipa
									option(value="3") Madre de Dios
						.form_control
							h5 Provincia
						.form_control
							.select.select_big
								span.selectImg
								span.selectText
								select(id="cProvinciaSel", title="", required="", data-parsley-trigger="change")
									option(value="1") Lima
									option(value="2") Huarochirí
									option(value="3") Cañete
						.form_control
							h5 Distrito
						.form_control
							.select.select_big
								span.selectImg
								span.selectText
								select(id="cDistritoSel", title="", required="", data-parsley-trigger="change")
									option(value="1") Ate
									option(value="2") Pueblo Libre
									option(value="3") Miraflores
						.form_control
							h5 Dirección
						.form_control
							.select.col_5
								span.selectImg
								span.selectText
								select(id="iPrefijoDireccion", title="", required="", data-parsley-trigger="change")
									option(value="1") Vía
									option(value="2") Jr.
									option(value="3") Calle
									option(value="4") Urb.
							.form_subcontrol.col_7
								input(type="text", name="xDireccion", id="xDireccion", required="", data-parsley-trigger="focusout", data-parsley-maxlength="200", maxlength="200", data-parsley-pattern="/^[a-z-ñáéíóúÑÁÉÍÓÚ0-9.,' ]+$/gi", data-parsley-pattern-message="Solo letras, números, espacios (), puntos(.), guiones (-) y apóstrofes (')")
		
						.form_control
							h5 Referencia
						.form_control
							input(type="text", name="xReferencia", id="xReferencia", data-parsley-trigger="focusout", data-parsley-maxlength="200", maxlength="200", data-parsley-pattern="/^[a-z-ñáéíóúÑÁÉÍÓÚ0-9.,' ]+$/gi", data-parsley-pattern-message="Solo letras, números, espacios (), puntos(.), guiones (-) y apóstrofes (')")
						.form_control
							h5 Horario de Entrega
						.form_control
							.select.col_5
								span.selectImg
								span.selectText
								select(id="xRangoDiasEntrega", title="", required="", data-parsley-trigger="change")
									option(value="1") Lunes a Viernes
									option(value="2") Sabádo
									option(value="3") Domingo
							.form_subcontrol.col_7
								.select.fullw
									span.selectImg
									span.selectText
									select(id="xRangoHorasEntrega", title="", required="", data-parsley-trigger="change")
										option(value="1") 8:00am a 10:00pm
										option(value="2") 12:00pm a 3:00pm
										option(value="3") 6:00am a 8:00am
						.form_control
							.form_control.tar
								.button.button_arrow
									button(type="submit", id="btnStep01", class="btn btn_arrow active", title="Siguiente Paso") Siguiente Paso
									img(src="#{page.static_url}img/button_shadow_small.png#{page.version}")