extends ../../../layout/layout.jade
//- Afiliacion/Paso1
block navigation
	.affiliation_buttons
		ul
			li
				a(href="javascript:void(0)") Ingresa tus datos
					span
						b 1
			li
				a(href="javascript:void(0)") Tarjeta Visa PagoEfectivo
					span
						b 2
			li
				a.active(href="javascript:void(0)") Valida tu cuenta
					span
						b 3

block content
	.validandocontenido.cleaner
		.ns-box.ns-attached.ns-effect-flip.ns-type-notice.boxalerta.tohide
			.ns-box-inner.cleaner.cont_alert
				span.ico_alert.icon-caution
				.cleaner No es correcto el código de validación
	section.box_main.box_affiliate
		.box_center
			.box_introduction.equal.toresponsive
				figure
					h3 Verifica tu cuenta
					h4 Podrás recargar tu cuenta en más de 
						span 30,000 
						br
						span centros de pago, 
						| autorizados a 
						span nivel nacional.
					img.main(src="#{page.static_url}img/affiliate_step_03.jpg#{page.version}")
				.affiliated_establishments.centros
					a(href="javascript:void(0)", target="_blank") Ver todos
					h4 Centros de pago
					ul
						li
							a(href="javascript:void(0)")
								img(src="#{page.static_url}img/centropagos_1.jpg#{page.version}")
						li
							a(href="javascript:void(0)")
								img(src="#{page.static_url}img/centropagos_2.jpg#{page.version}")
						li
							a(href="javascript:void(0)")
								img(src="#{page.static_url}img/centropagos_3.jpg#{page.version}")
						li
							a(href="javascript:void(0)")
								img(src="#{page.static_url}img/centropagos_4.jpg#{page.version}")
					ul
						
						li
							a(href="javascript:void(0)")
								img(src="#{page.static_url}img/centropagos_6.jpg#{page.version}")
						li
							a(href="javascript:void(0)")
								img(src="#{page.static_url}img/centropagos_7.jpg#{page.version}")
						li
							a(href="javascript:void(0)")
								img(src="#{page.static_url}img/centropagos_8.jpg#{page.version}")
						li
							a(href="javascript:void(0)")
								img(src="#{page.static_url}img/centropagos_9.jpg#{page.version}")
			.box_form.equal
				form.frm(method="POST", id="frmAccount", name="frmAccount", autocomplete="off", data-parsley-validate)
					.form_control
						h5.securePin Hola Ricardo (44877698),
						br
						h5 hemos enviado un código de validación a tu correo, por favor ingresalo aquí:
					.form_control
						.cleaner.put_number
							.cleaner.mb_20.mt_20
								.toloading
									img.loading(src="#{page.static_url}img/loading.gif#{page.version}", alt="loading")
									input.ajaxValidate(type="text", name="xEmailConfirmacion", id="xEmailConfirmacion", required, data-parsley-trigger="focusout", data-parsley-type="number", data-parsley-minlength="4", data-parsley-minlength-message="Debe contener 4 dígitos")
							.cleaner
								.form_control.tac
									.button.button_arrow
										button(type="button", id="btn_save", class="btn", title="Continuar") Continuar
										img(src="#{page.static_url}img/button_shadow_small.png#{page.version}")
					.form_control
						.dont_receive
							p
								| ¿No recibiste tu código?
								br
								| En ocasiones puede demorar hasta 15 minutos en llegar.
								br
								| Si transcurrieron más de 15 minutos, 
								a.fancybox_inline(href="#reSend") vuelve a intentarlo.
								a#callErrorRepeated.fancybox_inline.hide(href="#errorRepeated") intentos repetidos
				#reSend
					form(method="POST", id="frmReSend", name="frmReSend", autocomplete="off", data-parsley-validate, onsubmit="return false")
						.form_control
							h5 Validación de la Cuenta
						.form_control
							p
								| Estas apunto de reenviar el código de validación a tu correo
								b &nbsp;mfyance7@gmail.com&nbsp;
								| ten en cuenta que el envio puede demorar hasta 15 minutos.
							p
								| También puedes comunicarte en nuestra Central de Ayuda por teléfono al 351-1662 y nuestros asesores de servicio te ayudarán con el proceso de registro.
						.form_control
							.button.button_all
								button(type="submit", id="btnReSend", class="btn btn_close", title="Aceptar") Reenviar ahora