extends ../../../layout/layout.jade
//- Afiliacion/Paso1
block navigation
	.tologin
		a(href="javascript:void(0)")
			em Inicia sesión
				i
	.affiliation_buttons
		ul
			li
				a.active(href="javascript:void(0);") Ingresa tus datos
					span
						b 1
			li
				a(href="javascript:void(0);") Tarjeta Visa PagoEfectivo
					span
						b 2
			li
				a(href="javascript:void(0);") Valida tu cuenta
					span
						b 3
block content
	.validandocontenido.cleaner
		.ns-box.ns-attached.ns-effect-flip.ns-type-notice.boxalerta.tohide
			.ns-box-inner.cleaner.cont_alert
				span.ico_alert.icon-caution
				#msj_error.cleaner 
								
	section.box_main.box_affiliate
		.box_center
			.box_introduction
				figure#figure
					h3 Afíliate Aquí
					h4 Podrás comprar en más de  
						span 80 
						br
						span portales 
						| online y más de 
						span 75,000 
						br
						span establecimientos 
						| afiliados
						br
						| a 
						span VISA 
						| a nivel nacional.
					img(src="#{page.static_url}img/affiliate_step_01.jpg#{page.version}")
				.affiliated_establishments
					h4 Disfruta tu 
						span tarjeta PagoEfectivo 
						| en tus establecimientos favoritos
					ul
						li
							a(href="javascript:void(0);")
								img(src="#{page.static_url}img/ico_footer_1.png#{page.version}")
						li
							a(href="javascript:void(0);")
								img(src="#{page.static_url}img/ico_footer_2.png#{page.version}")
						li
							a(href="javascript:void(0);")
								img(src="#{page.static_url}img/ico_footer_3.png#{page.version}")
						li
							a(href="javascript:void(0);")
								img(src="#{page.static_url}img/ico_footer_4.png#{page.version}")
			.box_form
				img#promo(src="#{page.static_url}img/we_give.png#{page.version}")
				form.frm(method="POST", id="frmAffiliate", name="frmAffiliate", data-parsley-validate="true" , autocomplete="off")
					.form_control
						h5.float_right Caducidad
							a.tooltip.expiry(href="javascript:void(0);", title="Caducidad")
								img.info(src="#{page.static_url}img/expiry.png#{page.version}")
						h5 Documento
					.form_control
						.select.col_3
							span.selectImg
							span.selectText
							select(id="iTipoDocumento", title="", required="true", data-parsley-trigger="change")
								option(value="1") DNI
								option(value="1") PASAPORTE
						.form_subcontrol.col_5
							.toloading
								img.loading(src="#{page.static_url}img/loading.gif#{page.version}", alt="loading")
								input.ajaxValidate(type="text", name="xDocumento", id="xDocumento", required="true", data-parsley-trigger="focusout", data-parsley-type="number", data-parsley-minlength="8", data-parsley-maxlength="8", maxlength="8", data-correcto="44901960" )
						.picker.col_4
							span
								i.icon-calendar.cal
							input(type="text", name="xCaducidadFake", id="xCaducidadFake", required="true", readonly, data-parsley-trigger="focusout", data-parsley-pattern="/^[0-9\/]+$/gi", data-parsley-pattern-message="Formato incorrecto", data-parsley-maxlength="10", maxlength="10")
							input(type="hidden", name="xCaducidad", id="xCaducidad", required="true", readonly, data-parsley-trigger="focusout", data-parsley-pattern="/^[0-9\/]+$/gi",data-parsley-maxlength="10", maxlength="10")
					.form_control
						h5 Nombres
					.form_control
						input(type="text", name="xNombres", id="xNombres", required="true", data-parsley-trigger="focusout", data-parsley-minlength="2", data-parsley-maxlength="60", maxlength="60", data-parsley-pattern="/^[a-z-ñáéíóúÑÁÉÍÓÚ ]+$/gi", data-parsley-pattern-message="Solo letras, espacios () y guiones (-)")
					.form_control
						h5 Apellidos
					.form_control
						.form_subcontrol.col_6
							input(type="text", name="xApePaterno", id="xApePaterno", required="true", data-parsley-trigger="focusout", data-parsley-minlength="2", data-parsley-maxlength="60", maxlength="60", data-parsley-pattern="/^[a-z-ñáéíóúÑÁÉÍÓÚ ]+$/gi", data-parsley-pattern-message="Solo letras, espacios () y guiones (-)")
						.form_subcontrol.col_6
							input(type="text", name="xApeMaterno", id="xApeMaterno", required="true", data-parsley-trigger="focusout", data-parsley-minlength="2", data-parsley-maxlength="60", maxlength="60", data-parsley-pattern="/^[a-z-ñáéíóúÑÁÉÍÓÚ ]+$/gi", data-parsley-pattern-message="Solo letras, espacios () y guiones (-)")
					.form_control
						h5 Email
					.form_control
						.toloading
							img.loading(src="#{page.static_url}img/loading.gif#{page.version}", alt="loading")
							input.ajaxValidate(type="email", name="xEmail", id="xEmail", required="true", data-parsley-trigger="focusout", data-parsley-minlength="6", data-parsley-maxlength="20", maxlength="20")
					.form_control
						h5 Celular
							em &nbsp;&nbsp;(seleccione operador)
					.form_control
						.pr.col_4.select.form_subcontrol
							span.selectImg
							span.selectText
							select(id="iOperador", title="", required="true", data-parsley-trigger="change")
								option(value="1") Movistar
								option(value="2") Claro
								option(value="3") Bitel
						.col_8.cleaner.form_subcontrol
							.toloading
								img.loading(src="#{page.static_url}img/loading.gif#{page.version}", alt="loading")
								input.ajaxValidate(type="tel", name="xMovil", id="xMovil", required="true", data-parsley-trigger="focusout", data-parsley-type="number", data-parsley-minlength="9", data-parsley-maxlength="9", maxlength="9")
					.form_control
						h5 Contraseña
							em &nbsp;&nbsp;(mín. 6 caracteres)
					.form_control
						input(type="password", name="xPin", id="xPin", required="true", data-parsley-trigger="focusout", data-parsley-minlength="6", data-parsley-maxlength="20", maxlength="20")
					.form_control
						h5 Verificar Contraseña
					.form_control
						input(type="password", name="xVerificarPin", id="xVerificarPin", required="true", data-parsley-trigger="focusout", data-parsley-minlength="6", data-parsley-maxlength="20", maxlength="20", data-parsley-equalto="#xPin")
					.form_control.pt_10
						.col_5.form_subcontrol
							.cleaner
								img(src="#{page.static_url}img/recaptcha.jpg#{page.version}", style="width:100%;height:64px")
						.col_7.form_subcontrol
							.cleaner
								span.captcha Ingresa código Captcha
									a(href="javascript:void(0);", title="Refresh").refresh
										i.icon-loop2
									a.tooltip(href="javascript:void(0);", title="Caducidad").expiry
										.info(style="display:none")
											p.
												Un texto informativo
							.cleaner
								.toloading
									img.loading(src="#{page.static_url}img/loading.gif#{page.version}", alt="loading")
									input.ajaxValidate(type="text", name="xCaptcha", id="xCaptcha", required="true", data-parsley-trigger="focusout", data-parsley-minlength="6" data-parsley-maxlength="6" maxlength="6")
					.form_control.pt_20
						ul.cleaner.tocheckbox
							li
								.checkbox
									input(type="checkbox",required="true", name="lPolitica", id="lPolitica", data-parsley-trigger="focusout", data-parsley-error-message="Debe aceptar términos y condiciones")
									span.cleaner
										label(for="lPolitica").
											Acepto los Terminos y Condiciones del servicio y la Polílica de Privacidad de Pago Efectivo
							li
								.checkbox
									input(type="checkbox", checked, name="lBoletin", id="lBoletin")
									span
										label(for="lBoletin").
											Deseo recibir Boletines, Campañas e Información de Pago Efectivo
					#nextStep.form_control
						.log_in_here
							| Si ya estás registrado
							br
							a(href="../Account/Login.html", title="Inicia sesión aquí") Inicia sesión aquí
						.button.button_arrow
							button(type="submit", id="btnStep01", class="btn active", title="Siguiente Paso") Siguiente Paso
							img(src="#{page.static_url}img/button_shadow_small.png#{page.version}")
				