extends ../../../layout/layout.jade
//- Account/Login
block navigation
	.tools_sesion
		ul
			li Sesión de: 
				b Ricardo Gutierrez Alvarez
			li
				a#closeSesion(href="javascript:;") Cerrar Sesión
					span

block content
	section.box_main
		.box_center
			.box_introduction
				h3 Inicia Sesión
				h4 Podrás comprar en cientos de establecimientos
					br
					| afiliados con tu cuenta
				figure
					img(src="#{page.static_url}img/log_in_image.jpg#{page.version}")
				.affiliated_establishments
					a(href="https://pagoefectivo.pe/ComerciosAfiliados.aspx", target="_blank") Ver todos
					h4 Establecimientos afiliados
					ul
						li
							a(href="javascript:;")
								img(src="#{page.static_url}img/establishments_01.jpg#{page.version}")
						li
							a(href="javascript:;")
								img(src="#{page.static_url}img/establishments_02.jpg#{page.version}")
						li
							a(href="javascript:;")
								img(src="#{page.static_url}img/establishments_03.jpg#{page.version}")
						li
							a(href="javascript:;")
								img(src="#{page.static_url}img/establishments_04.jpg#{page.version}")
			.box_form
				form(method="POST", id="frmLogIn", name="frmLogIn", autocomplete="off", data-parsley-validate)
					.form_control
						#celular
							label(for="xMovil")
								| Celular
							input(type="tel", name="xMovil", id="xMovil", required="", data-parsley-trigger="focusout", data-parsley-type="number", data-parsley-minlength="9", data-parsley-maxlength="9", maxlength="9")
					.form_control
						#numericKeypad
							ul
								li.clean
									a(href="javascript:;")
						#safetyPin
							h5 PIN de Seguridad (4 dígitos)
							div
								span
								input(type="password", name="xPin", id="xPin", readonly, required="", data-parsley-trigger="focusout", data-parsley-type="number", data-parsley-minlength="4", data-parsley-maxlength="4", maxlength="4")
							p Ingresa tu PIN de seguridad usando el teclado virtual
					.form_control
						.button.button_arrow
							button(type="submit", id="btnLogIn", class="btn btn_all", title="Iniciar Sesión") Iniciar Sesión
							img(src="#{page.static_url}img/button_shadow.png#{page.version}")
					.form_control
						.tools_log
							ul
								li
									a.fancybox_inline(href="#forgotPin") ¿Olvidaste tu PIN?
								li ¿No tienes cuenta? 
									a(href="javascript:;") Afiliate
					#blocked.form_control
						p 
							| Tu cuenta ha sido bloqueada por favor comunícate con nuestra Central de Ayuda: llama al 
							span 311-9898 
							| y nuestros 
							span Asesores 
							| de Servicio te informarán los pasos que debes de seguir para recuperarla.
				#forgotPin
					form(method="POST", id="frmForgotPin", name="frmForgotPin", autocomplete="off", data-parsley-validate)
						.form_control
							h5 ¿Olvidaste tu PIN (4 dígitos)?
						.form_control#beforeSend
							p Ingresa tu email para recuperar tu PIN de Seguridad:
							label(for="txtEmailRecover")
								| Email:
							.input
								input(type="email", name="txtEmailRecover", id="txtEmailRecover", required="", data-parsley-trigger="focusout", data-parsley-maxlength="50", maxlength="50")
							.button
								button(type="submit", id="btnRecoverPassword", class="btn", title="Aceptar") Aceptar
								//-img(src="#{page.static_url}img/button_shadow.png#{page.version}")
						.form_control#afterSend
							p Listo! Revisa tu email: guti2434@gmail.com
						.form_control#failSend
							p *Este correo no se encuentra registrado
						.form_control
							span 
								| También puedes comunicarte con nuestra Central de Ayuda por Teléfono al 
								b 311-9898 
								| y nuestros Asesores de Servicio te informarán los pasos que debes de seguir para recuperarla.