extends ../../../layout/layout.jade
//- Account/SesionExpirada
block navigation
	.tools_sesion
		ul
			li Sesión de: 
				b Ricardo Gutierrez Alvarez
			li
				a#closeSesion(href="javascript:;") Cerrar Sesión
					span

block content
	section.box_main
		.box_center
			.box_message
				h3 Tu Sesión ha expirado
				h4
					| Estimado cliente, 
					br
					| Ha pasado más de 5 minutos desde tu última transacción o consulta. Tu sesión ha terminado. Si deseas realizar alguna operación, inicia nuevamente.
					br
				h5 PagoEfectivo
				a(class="btn btn_arrow", title="Terminar Sesión", href="javascript:;") Terminar Sesión
					span
					span