/*!!
 * Solo para version menores a IE 9
 * @module ie
 * @author Jan Sanchez
 */

@require '../../_config/*'
@require '../../_mixins/*'

.liquid_result
	.filter_advanced.toogle
		display none

.select_pretty
	select
		-ms-filter "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
		background white 
		option
			background transparent

// hover de publica tu aviso de menu
body
	&.fixed		
		header			
			.main_menu
				ul
					.btn_post
						top -43px
						transition all 0.3s ease-in
						.ico_post
							visibility hidden
							transition all 0.3s ease-in

.compare_form
	a
		margin-left px_to_rem(2)
		padding-left px_to_rem(6)
		padding-bottom px_to_rem(6)
		width 9%
	input
		padding-right px_to_rem(10) !important
		padding-left px_to_rem(10) !important
.slider-horizontal
	width 190px !important
	
.first_title
	-ms-filter "progid:DXImageTransform.Microsoft.DropShadow(offX=2,offY=2,color=A29C7E)"
.help_txt
	font-family $family2
.main_menu ul li a , .btn_post a
	font-family $family2

input[type="text"],input[type="email"],input[type="tel"],input[type="password"], select, textarea
	line-height rem(32px)
select
	line-height rem(22px)
.button
	> img
		height 8px
		width 95%
		bottom -6px