font_face($font_face) {
	font-family $font_face
	src url($fontPath+$font_face+'/'+$font_face+'-webfont.eot');
	src url($fontPath+$font_face+'/'+$font_face+'-webfont.eot?#iefix') format('embedded-opentype'),
		url($fontPath+$font_face+'/'+$font_face+'-webfont.woff') format('woff'),
        url($fontPath+$font_face+'/'+$font_face+'-webfont.ttf') format('truetype'),
        url($fontPath+$font_face+'/'+$font_face+'-webfont.svg#'+$font_face) format('svg');
	font-style normal
	font-weight normal
}