/**
 * Jeet 5 - http://jeet.gs | https://github.com/mojotech/jeet/blob/master/stylus/jeet
 * @class plugins
 * @author MFYance
 */
 
/**
 * _settings.styl
 */
jeet = {
  gutter: 3,
  parent-first: false,
  layout-direction: LTR,
  max-width: 1200px
}    

/**
 * _functions.styl
 */
jeet-get-span(ratio = 1)
  return ratio * 100

jeet-get-column(ratios = 1, gutter = jeet.gutter)
    ratios = jeet-reverse(ratios) unless jeet.parent-first is true
    width = 100

    for ratio in ratios
        gutter = gutter / width * 100
        width = 100 * ratio - gutter + ratio * gutter

    return width gutter

jeet-get-layout-direction()
    jeet.layout-direction == RTL ? result = right : result = left

    return result

jeet-replace-nth(list, index, value)
  result = ()
  index = length(list) + index if index < 0

  for i in (0..(length(list) - 1))
    if i == index
      append(result, value)
    else
      append(result, list[i])

  return result

jeet-reverse(list)
    result = ()
    for item in list
        prepend(result, item)
    return result
  
/**
 * _grid.styl
 */
column(ratios = 1, offset = 0, cycle = 0, uncycle = 0, gutter = jeet.gutter)
  side = jeet-get-layout-direction()
  opposite-side = opposite-position(side)
  column-widths = jeet-get-column(ratios, gutter)
  margin-last = 0
  margin-l = margin-last
  margin-r = column-widths[1]

  unless offset == 0
    if offset < 0
      offset *= -1
      offset = jeet-get-column(offset, column-widths[1])[0]
      margin-r = margin-last = offset + column-widths[1] * 2
    else
      offset = jeet-get-column(offset, column-widths[1])[0]
      margin-l = offset + column-widths[1]

  cf()
  float: side
  clear: none
  text-align: inherit
  width: (column-widths[0])%
  margin-{side}: (margin-l)%
  margin-{opposite-side}: (margin-r)%

  if uncycle != 0
    &:nth-of-type({uncycle}n)
      margin-{opposite-side}: (margin-r)%
      float: side
    &:nth-of-type({uncycle}n+1)
      clear: none

  if cycle != 0
    &:nth-of-type({cycle}n)
      margin-{opposite-side}: (margin-last)%
      float: opposite-side
    &:nth-of-type({cycle}n+1)
      clear: both
   else
    &:last-child
      margin-{opposite-side}: (margin-last)%

col = column

column-width(ratios = 1, gutter = jeet.gutter)
  return jeet-get-column(ratios, gutter)[0] + '%'

cw = column-width

column-gutter(ratios = 1, gutter = jeet.gutter)
  return jeet-get-column(ratios, gutter)[1] + '%'

cg = column-gutter

span(ratio = 1, offset = 0, cycle = 0, uncycle = 0)
  side = jeet-get-layout-direction()
  opposite-side = opposite-position(side)
  span-width = jeet-get-span(ratio)
  margin-r = 0
  margin-l = margin-r

  unless offset == 0
    if offset < 0
      offset *= -1
      margin-r = jeet-get-span(offset)
    else
      margin-l = jeet-get-span(offset)

  cf()
  float: side
  clear: none
  text-align: inherit
  width: (span-width)%
  margin-{side}: (margin-l)%
  margin-{opposite-side}: (margin-r)%

  if cycle != 0
    &:nth-of-type({cycle}n)
      float: opposite-side
    &:nth-of-type({cycle}n + 1)
      clear: both

  if uncycle != 0
    &:nth-of-type({uncycle}n)
      float: side
    &:nth-of-type({uncycle}n + 1)
      clear: none

shift(ratios = 0, col-or-span = column, gutter = jeet.gutter)
  translate = ''
  side = jeet-get-layout-direction()

  if side == right
    ratios = jeet-replace-nth(ratios, 0, ratios[0] * -1)

  if col-or-span == column or col-or-span == col or col-or-span == c
    column-widths = jeet-get-column(ratios, gutter)
    translate = column-widths[0] + column-widths[1]
  else
    translate = jeet-get-span(ratios)

  position: relative
  left: (translate)%

unshift()
  position: static
  left: 0


edit(color = black, important = false)
  if important
    *
      background: rgba(color, 5%) !important
  else
    *
      background: rgba(color, 5%)

debug = edit

center(max-width = jeet.max-width, pad = 0)
  cf()
  width: auto
  max-width: max-width
  float: none
  display: unquote('block')
  margin-right: auto
  margin-left: auto
  padding-left: pad
  padding-right: pad

uncenter()
  max-width: none
  margin-right: 0
  margin-left: 0
  padding-left: 0
  padding-right: 0

stack(pad = 0, align = false)
  side = jeet-get-layout-direction()
  opposite-side = opposite-position(side)

  display: unquote('block')
  clear: both
  float: none
  width: 100%
  margin-left: auto
  margin-right: auto

  &:first-child
    margin-{side}: auto

  &:last-child
    margin-{opposite-side}: auto

  if pad != 0
    padding-left: pad
    padding-right: pad

  if (align is not false)
    if (align == center) or (align == c)
      text-align: center
    if (align == left) or (align == l)
      text-align: left
    if (align == right) or (align == r)
      text-align: right

unstack()
  side = jeet-get-layout-direction()
  opposite-side = opposite-position(side)

  text-align: side
  display: inline
  clear: none
  width: auto
  margin-left: 0
  margin-right: 0

  &:first-child
    margin-{side}: 0

  &:last-child
    margin-{opposite-side}: 0

align(direction = both)
  position: absolute
  transform-style: preserve-3d

  if (direction == horizontal) or (direction == h)
    left: 50%
    transform: translateX(-50%)
  else if (direction == vertical) or (direction == v)
    top: 50%
    transform: translateY(-50%)
  else
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

cf()
  *zoom: 1

  &:before, &:after
    content: ''
    display: table

  &:after
    clear: both