/**
* Mixins
* @class Mixins
* @author MFYance
*/
myfont(size,family) 
    $rem = size / 10
    font (size)px family
    font ($rem)rem family

mysize(numero)
	$rem = numero / 10
	font-size (numero)px
	font-size ($rem)rem

em(size, parentFontSize = 0)
	if parentFontSize == 0
		font-size round(( size / $basefont )em , 3)
	else
		font-size round(( size / parentFontSize )em , 3)

rem_tmp($list)
	$max = length(arguments)
	for $i in (0..$max - 1)
		$list[$i] = round(( arguments[$i] / $basefont )rem , 3)
	return $list

rem($list)
	$max = length(arguments)
	for $i in (0..$max - 1)
		$list[$i] = arguments[$i]
	return $list

px(size)
	font-size ( size * $basefont )px

px_to_rem(size)
	//return round(( size / $basefont )rem , 3)
	return (size)px
px_to_rem_font(size1, size2, family)
	//s1 = round(( size1 / $basefont )rem , 3)
	//s2 = round(( size2 / $basefont )rem , 3)
	//return s1\/s2 family
	return (size1)px \/ (size2)px family

display_inline()
	*display inline
	*zoom 1
	display inline-block
table_cell()
	display table-cell
	position relative
	text-align center
	vertical-align middle

transition(element, time, effect, start=0s)
	-webkit-transition element time effect, start
	-moz-transition element time effect, start
	-o-transition element time effect, start
	transition element time effect, start
