- var page = {}
- page.charset         = 'utf-8'
- page.lang            = 'es'
- page.url             = baseUrl
- page.static_url      = staticUrl
- page.absolute_url    = 'http://wallet.pagoefectivo.pe/Content/static/pesaldo/img/email/'
//- page.absolute_url    = 'http://local.pagoefectivo.pe:3000/img/email/'
//- page.absolute_url    = 'http://localhost:8115/'  // jesus pc
- page.elements_url    = elementUrl
- page.title           = 'title, nuevo titulo | momo.pe'
- page.description     = 'Nueva descripcion'
- page.keywords        = 'nuevas keywords'
- page.author          = 'Orbis Ventures'
- page.name            = 'momo'
- page.viewport        = 'width=device-width'
- page.robots          = 'index,follow'
- page.version         = '?' + version
- page.img             = page.static_url + 'img/logo_momo.png' + page.version
- page.favicon         = page.static_url + 'favicon.ico' + page.version

- page.og              = {}
- page.og.type         = 'website'
- page.og.image_width  = '90'
- page.og.image_height = '60'
- page.og.image_type   = 'image/jpg'
- page.og.image        = page.static_url + 'img/logo_momo.png' + page.version

- page.dc              = {}
- page.dc.contributor  = 'Orbis Ventures'
- page.dc.creator      = 'Urbania'
- page.dc.publisher    = 'Grupo El Comercio'

- page.geo             = {}
- page.geo.placename   = 'Cercado de Lima'
- page.geo.position    = '-12.0478;-77.0622'
- page.geo.region      = 'PE-LIM'
- page.geo.ICBM        = '-12.0478, -77.0622'
